.emunit__tabs-content-item.emunit__models
  .emunit__models-table
    table.table
      thead
        tr
          td.emunit__models-table-s0.table__td.table__td--center Фото
          td.emunit__models-table-s1.table__td Артикул
            .sort: .icon.icon--inline.icon--sort: include ../../../images/sort.svg
          td.emunit__models-table-s2 Наименование позиции
            .sort: .icon.icon--inline.icon--sort: include ../../../images/sort.svg
          td.emunit__models-table-s3 Статусы
            .sort: .icon.icon--inline.icon--sort: include ../../../images/sort.svg
          td.emunit__models-table-s6 Остаток<br> на складе
            .sort: .icon.icon--inline.icon--sort: include ../../../images/sort.svg
          td.emunit__models-table-s11 Ед. изм.
            .sort: .icon.icon--inline.icon--sort: include ../../../images/sort.svg
          td.emunit__models-table-s12 Цена,<br> руб/ед.изм.
            .sort: .icon.icon--inline.icon--sort: include ../../../images/sort.svg
          td.emunit__models-table-s9 Количество<br> в заказе, шт
            .sort: .icon.icon--inline.icon--sort: include ../../../images/sort.svg
          td.emunit__models-table-s10 Стоимость заказа, руб
            .sort: .icon.icon--inline.icon--sort: include ../../../images/sort.svg
      tbody
        tr
          td: a(href="javascript:void(0);" data-popupname="single").pic.js-popup-open: img(src="./images/catalog/catalog-favourite-pic4.png").pic__img
          td.table__td.table__td--center: a(href="javascript:void(0);") а15324
          td.table__td--center: a(href="javascript:void(0);") BS-ARUNA-81-L1-INEXI2
          td.table__td.table__td--center Заказной
          td.table__td.table__td--center
            a(href="javascript:void(0);").link.link--popup
              .link__text(class="form-text hint hint--white hint--bottom-right hint--large" aria-label="Для определения сроков изготовления и поставки этого товара добавьте товар в корзину и отправьте нам заказ. Наш менеджер уточнит информацию, свяжется с вами и сообщит срок изготовления/поставки товара.") Нет в наличии (уточнение срока поставки)
          td шт.
          td 4700
          td
            .count.js-count
              .count__item: a(href="javascript:void(0);").count__minus.js-input-number-decr
              .count__item: input(type="number" value="1" max="999").count__input.form-control.js-input-number
              .count__item: a(href="javascript:void(0);").count__plus.js-input-number-incr
          td.table__td.table__td-close.table__td--center
            a(href="javascript:void(0);").link.link--icon
              .link__text 11 021 500, 00
              .icon.icon--close.icon--close-primary.icon--close-medium
        tr
          td: a(href="javascript:void(0);" data-popupname="single").pic.js-popup-open: img(src="./images/catalog/catalog-favourite-pic4.png").pic__img
          td.table__td.table__td--center: a(href="javascript:void(0);") а15324
          td.table__td--center: a(href="javascript:void(0);") BS-ARUNA-81-L1-INEXI2
          td.table__td.table__td--center Заказной
          td.table__td.table__td--center 3579
          td шт.
          td 4700
          td
            .count.js-count
              .count__item: a(href="javascript:void(0);").count__minus.js-input-number-decr
              .count__item: input(type="number" value="1" max="999").count__input.form-control.js-input-number
              .count__item: a(href="javascript:void(0);").count__plus.js-input-number-incr
          td.table__td.table__td-close.table__td--center
            a(href="javascript:void(0);").link.link--icon
              .link__text 11 021 500, 00
              .icon.icon--close.icon--close-primary.icon--close-medium
        tr
          td: a(href="javascript:void(0);" data-popupname="single").pic.js-popup-open: img(src="./images/catalog/catalog-favourite-pic4.png").pic__img
          td.table__td.table__td--center: a(href="javascript:void(0);") а15324
          td.table__td--center: a(href="javascript:void(0);") Аккумуляторная батарея BS-3KRHT23/43-1.5/L-HB500-0-1
          td.table__td.table__td--center Заказной
          td.table__td.table__td--center 3579
          td Упаковка 10 шт.
          td 4700
          td
            .count.js-count
              .count__item: a(href="javascript:void(0);").count__minus.js-input-number-decr
              .count__item: input(type="number" value="1" max="999").count__input.form-control.js-input-number
              .count__item: a(href="javascript:void(0);").count__plus.js-input-number-incr
          td.table__td.table__td-close.table__td--center
            a(href="javascript:void(0);").link.link--icon
              .link__text 11 021 500, 00
              .icon.icon--close.icon--close-primary.icon--close-medium
