.emunit__models-item
  .emunit__models-pic
    a(href="javascript:void(0);" data-popupname="single" class="pic")
      img(src="./images/catalog/catalog-favourite-pic4.png").pic__img
  .emunit__models-wrap
    .emunit__models-top
      .emunit__models-top-wrap
        .emunit__models-top-item
          .emunit__models-top-box
            a(href="javascript:void(0);").title BS-ARUNA-81-L1-INEXI2
    .emunit__models-middle
      .emunit__models-props.props
        .props__item
          .props__name Артикул:
          .props__value.props__value--primary а15324
        .props__item
          .props__name Статус:
          .props__value Заказной
        .props__item.props__item--outstock
          .props__name Остаток на складе:
          a(href="javascript:void(0);" data-popupname="hintoutstock").link.link--more-action.props__value.js-popup-open Нет в наличии <span>(уточнение срока поставки)</span>
        .props__item
          .props__name Единица измерения:
          .props__value штуки
        .props__item
          .props__name Цена:
          .props__value 4700 ₽
      .emunit__models-top-item
        .count-title Количество в заказе, шт:
        .count.js-count
          .count__item: a(href="javascript:void(0);").count__minus.js-input-number-decr
          .count__item: input(type="number" value="250" max="999").count__input.form-control.js-input-number
          .count__item: a(href="javascript:void(0);").count__plus.js-input-number-incr
        .props.props--main
          .props__item
            .props__name Стоимость заказа:
            .props__value 11 021 500, 00 ₽
      .card-item-del
        a(href="javascript:void(0);").link.link--icon
          .icon.icon--close.icon--close-primary.icon--close-medium
          .link__text Удалить из корзины