mixin tag(item)
  - distribClass = item.regDistrib ? ' js-tag-distrib' : ''
  - activeClass = item.active ? ' tag--active' : ''
  div(class= 'tag' + distribClass + activeClass)
    .tag__title= item.title
    .tag__close