/* ------------------------------------------------------------------------- */

.fileCardGroup {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.fileCard {
  padding: 15px;
  &.fileCard--pdf .fileCard__wrap:before {
    background-image: url('/images/file-type/file-pdf.svg');
  }
  &.fileCard--zip .fileCard__wrap:before {
    background-image: url('/images/file-type/file-zip.svg');
  }
  &.fileCard--xls .fileCard__wrap:before {
    background-image: url('/images/file-type/file-xls.svg');
  }
  &.fileCard--doc .fileCard__wrap:before {
    background-image: url('/images/file-type/file-doc.svg');
  }
}
.fileCard__wrap {
  padding-left: 34px;
  position: relative;
  &:before {
    content: '';
    display: block;
    width: 24px;
    height: 32px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url('/images/file-type/file-empty.svg');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 24px 32px;
  }
}
.fileCard__fileName {
  display: inline-block;
  color: var(--primary);
  font-family: var(--museo);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3;
  text-decoration: none;
  transition: color 0.3s ease;
  &:hover {
    color: var(--hover);
  }
}
.fileCard__group {
  display: flex;
  margin-top: 7px;
}
.fileCard__size {
  margin-right: 10px;
  color: #C2C2C2;
  font-family: var(--opens);
  font-size: 12px;
  line-height: 1;
  white-space: nowrap;
}
.fileCard__change,
.fileCard__create {
  color: #C2C2C2;
  font-family: var(--opens);
  font-size: 11px;
  line-height: 1;
}
.fileCard__action {
  display: flex;
  margin-top: 9px;
}
.fileCard__actionReplace {
  margin-right: 15px;
  &:hover {
    & .fcButton__title {
      color: var(--hover);
    }
    & .fcButton__icon {
      & svg {
        fill: var(--hover);
      }
    }
  }
}
.fileCard__actionDelete {
  & .fcButton__icon {
    margin-right: 6px;
  }
  &:hover {
    & .fcButton__title {
      color: var(--red03);
    }
    & .fcButton__icon {
      & svg {
        fill: var(--red03);
      }
    }
  }
}

/* --------------------------------- */

.fcButton {
  display: flex;
  cursor: pointer;
  transition: color 0.3s ease;
}
.fcButton--uploadFile {
  & label {
    display: flex;
    cursor: pointer;
  }
  & input {
    display: none;
  }
}
.fcButton__icon {
  display: flex;
  width: 12px;
  height: 12px;
  margin-right: 8px;
  overflow: hidden;
  & svg {
    width: 12px;
    height: 12px;
    transition: fill 0.3s ease;
    fill: var(--primary);
  }
}
.fcButton__title {
  color: var(--primary);
  font-family: var(--museo);
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  transition: color 0.3s ease;
}

/* ------------------------------------------------------------------------- */