<div style="display: none;">
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <symbol id="svg-delete-file" viewBox="0 0 12 12">
      <path d="M6.7,6l4.6-4.6c0.2-0.2,0.2-0.5,0-0.7c-0.2-0.2-0.5-0.2-0.7,0L6,5.3L1.4,0.6c-0.2-0.2-0.5-0.2-0.7,0 c-0.2,0.2-0.2,0.5,0,0.7L5.3,6l-4.6,4.6c-0.2,0.2-0.2,0.5,0,0.7c0.2,0.2,0.5,0.2,0.7,0L6,6.7l4.6,4.6c0.2,0.2,0.5,0.2,0.7,0 s0.2-0.5,0-0.7L6.7,6z"/>
    </symbol>
    <symbol id="svg-replace-file" viewBox="0 0 12 12">
      <path d="M9.65423 7.30842L8.9917 7.97098L10.2064 9.1857H8.7963C8.17001 9.1857 7.57962 8.88703 7.21207 8.38554L5.86641 6.00028L7.20424 3.61718C7.57313 3.11398 8.1634 2.8143 8.78822 2.8143H10.2064L8.99166 4.02902L9.65419 4.69158L12 2.34579L9.65421 0L8.99168 0.662555L10.2064 1.87727H8.78824C7.85344 1.87727 6.97099 2.33142 6.42766 3.09206C6.4178 3.10589 6.40868 3.12021 6.40038 3.13505L5.32784 5.04558L4.24955 3.13418C4.24134 3.11967 4.23241 3.10563 4.22273 3.09206C3.67941 2.3314 2.79696 1.8773 1.8622 1.8773H0V2.81428H1.86216C2.48712 2.81428 3.07751 3.11409 3.44637 3.61753L4.79121 6.00141L3.45431 8.38282C3.08541 8.88605 2.49516 9.18572 1.87034 9.18572H0V10.1227H1.87038C2.80516 10.1227 3.68761 9.66858 4.23094 8.90791C4.2408 8.89409 4.24995 8.87977 4.25824 8.86493L5.32985 6.95609L6.40894 8.86891C6.41714 8.88342 6.42607 8.89746 6.43575 8.91103C6.9777 9.66975 7.86016 10.1227 8.7963 10.1227H10.2064L8.9917 11.3374L9.65423 12L12 9.65421L9.65423 7.30842Z"/>
    </symbol>
  </svg>
</div>