extends ../layout.pug

block content
  .content
    .container
      include ../../components/content-header/content-header
      .lights
        .lights__description.text-editor!= catalogDescr
        .lights__info
          a(href="javascript:void(0);").lights__info-item
            .icon.icon--inline.icon--gear: include ../../images/gear.svg
            .lights__info-item-text Подобрать центральную<br> аккумуляторную установку
        include ../common/lights-text-common
        include ../common/promo
        .tech-descr
          p Какой-то промотекст к картинке выше, например про распродажи, лучшие условия, участие в выставке, программы по обучению и т.п. Если нет никаких промоактивностей, то этот блок не выводится.
          p Какой-то промотекст к картинке выше, например про распродажи, лучшие условия, участие в выставке, программы по обучению и т.п. Если нет никаких промоактивностей, то этот блок не выводится.
        include ../common/polygraphy