.partners
  .container
    .partners__wrap
      .pic: img(src="/images/partners-pic.jpg").pic__img
      .partners__box
        .title Стать партнером
        .descr Какой-то текст, про дистрибьюторскую сеть, про ее разветвленность и приглашение стать дистрибьютором/дилером, текст, про дистрибьюторскую сеть, про ее разветвленность и приглашение стать дистрибьютором/дилером,текст, про дистрибьюторскую сеть, про ее разветвленность и приглашение стать дистрибьютором/дилером, текст.
        button.button.button--empty.button-size-y-sm.button-size-md Перейти в раздел