/* ------------------------------------------------------------------------- */

@import "../../layout/variables.css";
@import "../../components/userHeaderBlock/userHeaderBlock.css";
@import "../../components/emptyTabBlock/emptyTabBlock.css";

@import "../../components/tableFilter/tableFilter.css";
@import "../../components/tableItem/tableItem.css";

@import "../../components/fileCard/fileCard.css";

/* ------------------------------------------------------------------------- */

.content--userObjectsItem {
  margin-bottom: -40px;
  & .tableItem {
    padding-top: 32px;
    padding-bottom: 32px;
    border-bottom: var(--border);
    transition: all 0.3s ease;
    &:hover {
      box-shadow: none;
      background-color: #fafafa;
    }
  }
}
.userObjectsItem__headerBlock {}

/* --------------------------------- */

.userObjectsTabs {
  background-color: #fff;
}
.userObjectsTabs__headers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
  border-bottom: var(--border);
}
.userObjectsTabs__headersItem {
  position: relative;
  width: 25%;
  padding-bottom: 20px;
  font-family: var(--museo);
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
  text-align: center;
  text-decoration: none;
  transition: var(--trc);
  &:hover {
    color: var(--hover);
  }
  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 5px;
    background-color: transparent;
  }
  &.active:after {
    background-color: var(--primary);
  }
}
.userObjectsTabs__content {
  padding: 30px 0;
}

/* --------------------------------- */
/* tab 1 */

.userObjectsTabs__specification {
  margin-bottom: 30px;
}
.userObjectsTabs__specificationHeader {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: var(--border);
}
.userObjectsTabs__specificationSearch {
  display: flex;
  align-items: center;
  margin-left: 30px;
  & .label + .label {
    margin-left: 20px;
  }
  & .label__text {
    color: var(--black01);
    font-size: 17px;
  }
}
.specificationSearch__title {
  padding-right: 20px;
  color: var(--black01);
  font-family: var(--opens);
  font-size: 20px;
  line-height: 1;
}
.userObjectsTabs__specificationAdd {
  margin-left: auto;
}
.userObjectsTabs__specificationTableFilter {
  border-bottom: var(--border);
  &:first-child {
    margin-top: -30px;
  }
}
.userObjectsTabs__specificationList {}
.userObjectsTabs__specificationFooter {
  margin-top: 30px;
  position: relative;
  text-align: center;
  & .button--fixPositionRight {
    position: absolute;
    right: 0;
    top: 0;
  }
}

/* --------------------------------- */
/* tab 2 */

.userObjectsTabs__sale {
  margin-bottom: 30px;
}
.userObjectsTabs__saleHeader {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
  border-bottom: var(--border);
}
.userObjectsTabs__saleSearch {
  display: flex;
  align-items: center;
  margin-left: 30px;
  & .label + .label {
    margin-left: 20px;
  }
  & .label__text {
    color: var(--black01);
    font-size: 17px;
  }
}
.saleSearch__title {
  padding-right: 20px;
  color: var(--black01);
  font-family: var(--opens);
  font-size: 20px;
  line-height: 1;
}
.userObjectsTabs__saleAdd {
  margin-left: auto;
}
.userObjectsTabs__saleTableFilter {
  border-bottom: var(--border);
  &:first-child {
    margin-top: -30px;
  }
}
.userObjectsTabs__saleList {}
.userObjectsTabs__saleListFooter {
  margin-top: 30px;
  position: relative;
  text-align: center;
  & .button--fixPositionRight {
    position: absolute;
    right: 0;
    top: 0;
  }
}

/* --------------------------------- */
/* tab 3 */

.userObjectsTabs__order {
  margin-bottom: 30px;
}
.userObjectsTabs__orderTableFilter {
  border-bottom: var(--border);
  &:first-child {
    margin-top: -30px;
  }
}
.userObjectsTabs__orderList {}
.userObjectsTabs__orderListFooter {
  margin-top: 30px;
  position: relative;
  text-align: center;
  & .button--fixPositionRight {
    position: absolute;
    right: 0;
    top: 0;
  }
}

/* --------------------------------- */
/* tab 4 */

.userObjectsTabs__docs {
  margin-bottom: 30px;
  & .fileCard {
    width: 25%;
  }
}
.userObjectsTabs__docsFiles {}
.userObjectsTabs__docsFooter {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-top: var(--border);
  padding-top: 30px;
  margin-top: 30px;
}
.userObjectsTabs__docsAddFile {
  & input {
    display: none;
  }
}

/* ------------------------------------------------------------------------- */