extends ../layout.pug

block content
  .content
    .container
      include ../../components/content-header/content-header-lk
      .userHelp__form Help

  //- include ../../components/popup/pug/addNewSale.pug

