/* ------------------------------------------------------------------------- */

@import "../../layout/variables.css";
@import "../../components/fileCard/fileCard.css";

/* ------------------------------------------------------------------------- */

.userHelp__accordion {
  margin-top: 25px;
  margin-bottom: 20px;
  padding-top: 25px;
  border-top: var(--border);
}

/* ------------------------------------------------------------------------- */