extends ../layout.pug

block content
  .content
    .container
      include ../../components/content-header/content-header-lk
      .userHelp__accordion 
        include ../common/user-accordion-common
        
  include ../../components/fileCard/icon.pug
  //- include ../../components/popup/pug/addNewSale.pug

