if files
  .files: .row
    each item in files
      - filesLength = files.length ? files.length : 1
      div(class= 'col-sm-' + 12 / filesLength)
        a(href= item.fileHref class= item.fileType ? 'file file--' + item.fileType : 'file')
          span.file__text= item.fileText
          span.file__size= item.fileSize
  - files = null;