.files{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -15px;

  .file{
    width: 25%;
    padding-bottom: 15px;
    padding-right: 30px;
  }
}

a.file{
  position: relative;
  display: block;
  min-height: 32px;
  padding-left: 40px;
  text-decoration: none;

  &:before{
    content: '';
    position: absolute;
    top: 3px;
    left: 0;
    width: 32px;
    height: 32px;
    background-image: url(/images/file-type/file-doc.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
  }

  &:hover{
    text-decoration: none;

    .file__text{
      color: var(--hover);
    }

    .file__size{
      text-decoration: none;
    }
  }
}

.file__text{
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: var(--primary);
  transition: var(--trc);
}

.file__size{
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  font-family: var(--opens);
  color: #C2C2C2;
}

a.file--pdf:before{background-image: url(/images/file-type/file-pdf.svg);}
a.file--xls:before{background-image: url(/images/file-type/file-xls.svg);}
a.file--zip:before{background-image: url(/images/file-type/file-zip.svg);}

/**
media
 */
.mobile {

  .files .file {
    width: 100%;
  }

  .file__text{
    font-size: 14px;
  }
}