mixin file(item)
  a(href= item.href class= item.type ? 'file file--' + item.type : 'file')
    span.file__text= item.text
    if item.size
      span.file__size= item.size
    if item.descr
      span.file__descr= item.descr