mixin project(item)
  a(href= item.link.title).catalog__item
    .pic: img(src= item.img).pic__img
    .catalog__item-wrap
      .title!= item.title
      .catalog__item-box
        .descr= item.date
        .link= item.link.title
    .catalog__item-sign(style="background-color: #8DC63F;")