mixin project(item)
  a(href= item.link.href).catalog__item
    .pic: img(src='/images/thumbs/thumb.jpg' data-src= item.img).pic__img.lazyload
    .catalog__item-wrap
      .title!= item.title
      .catalog__item-box
        .descr= item.date
        .link= item.link.title
    .catalog__item-sign(style="background-color: #8DC63F;")