@import "../../layout/variables.css";

.content__top {
  margin-bottom: 20px;
  padding-top: 16px;
  padding-bottom: 10px;
  border: var(--border);
  border-left: 0;
  border-right: 0;
}

.content__top--signone{

  .tagline{
    flex-wrap: wrap;
  }

  .tag--active .tag__title{
    transform: none;
  }

  .tag--active .tag__close{
    display: none;
  }
}

.emunit {

  &.content__text-editor {
    margin-bottom: 0;
    padding-top: 36px;
    padding-bottom: 47px;
  }
}

.emunit__top-right {
  padding-left: 47px;

  .text-editor {
    padding-top: 20px;

    ul {
      margin-bottom: 0;
    }
  }
}

.emunit__top-links {

  .link__text {
    margin-left: 8px;
  }
}

.emunit__top-links-wrap {
  display: flex;
  align-items: center;
  margin-top: 17px;
  padding-top: 17px;
  border-top: var(--border);

  .link svg path{
    transition: var(--trsf);
  }

  .link {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 37px;
    cursor: pointer;

    &.is-active,
    &:hover svg path{
      fill: var(--hover);
    }

    &:first-child {
      margin-left: 0;

      svg path {
        transition: var(--trss);
      }

      &:hover svg path {
        stroke: var(--hover);
        fill: transparent;
      }
    }
  }
}

/**

 */
.emunit__tabs {
  margin-top: 80px;
}

.emunit__tabs-title {
  display: flex;
  border-bottom: var(--border);
}

.emunit__tabs-title-item {
  position: relative;
  width: 50%;
  padding-bottom: 15px;
  color: #333333;
  font-size: 27px;
  font-weight: 700;
  letter-spacing: 0.01em;
  text-decoration: none;
  text-align: center;
  transition: var(--trc);

  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 5px;
    transition: var(--trbg);
  }

  &.active:after {
    background-color: var(--primary);
  }

  &.active:hover{
    color: #333333;
    cursor: default;
  }

  &:hover{
    color: var(--hover);
  }
}

/**

 */
.emunit__models {
  position: relative;

  .title {
    display: block;
    margin-bottom: 5px;
    padding-right: 73px;
    font-family: var(--museo);
    font-size: 18px;
    line-height: 24px;
    color: var(--primary);
    text-decoration: none;
    transition: var(--trc);

    &:hover {
      color: var(--hover);
    }
  }

  .price {
    margin-right: 23px;
  }

  .label--checkbox .icon--checkbox {
    margin-top: 0;
  }

  .label--checkbox .label__text {
    margin-left: 7px;
    font-size: 16px;
    font-weight: 500;
    color: var(--primary);
  }
}

.emunit__models-item {
  position: relative;
  display: flex;
  padding: 19px 28px 31px;
  transition: var(--trbg);

  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    height: 3px;
    background-color: var(--primary);
    opacity: 0;
    transition: var(--tro);
  }

  &:hover {
    background-color: #F5F5F5;

    &:after {
      opacity: 1;
    }
  }
}

.emunit__models-wrap {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.emunit__models-pic {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 92px;
  height: 96px;
  background-color: #fff;
  margin-top: 9px;
  margin-right: 23px;
  padding: 10px;
  border: 1px solid rgba(196, 196, 196, 0.5);
}

.emunit__models-top-wrap {
  display: flex;
  align-items: flex-start;
}

.emunit__models-top-item {
  display: flex;

  &:first-child {
    padding-top: 8px;
  }

  &:last-child {
    flex-shrink: 0;
    align-items: center;
  }
}

.emunit__models-middle {
  margin-bottom: 13px;
}

.emunit__models-bottom {
  margin-top: auto;

  .link {
    color: var(--primary);
    font-size: 16px;
    text-decoration: none;
    transition: var(--trc);

    &:hover {
      color: var(--hover);
    }
  }
}

.emunit__models-bottom-wrap {
  display: flex;
  justify-content: space-between;
}
/**

 */
.emunit__models-table {

  table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;

    thead {
      background-color: rgba(196, 196, 196, .2);

      td {
        font-family: var(--opens);
        font-size: 13px;
        font-weight: 700;
        line-height: 20px;
      }
    }
  }

  td {
    vertical-align: top;
    padding: 12px 13px;
    font-family: var(--opens);
    border: var(--border);
    font-style: normal;
    font-size: 14px;
    line-height: normal;

    a {
      font-family: var(--opens);
      color: var(--primary);
      font-size: 14px;
      line-height: 20px;
      text-decoration: none;
      transition: var(--trc);

      &:hover{
        color: var(--hover);
      }
    }
  }
}

.emunit__models-table-s0 {width: 92px;}

.emunit__models-table-s1 {width: 68px;}

.emunit__models-table-s2 {width: 184px;}

.emunit__models-table-s3 {width: 84px;}

.emunit__models-table-s4 {width: 116px;}

.emunit__models-table-s5 {width: 112px;}

.emunit__models-table-s6 {width: 152px;}

.emunit__models-table-s7 {width: 200px;}

.emunit__models-table-s8 {width: 112px;}

.emunit__models-table-s9 {width: 75px;}

.emunit__models-table-s10 {width: 137px;}

.emunit__models-table-s11 {width: 168px;}

.emunit__models-table-s12 {width: 232px;}

.emunit__models-table-compare {
  margin-top: 5px;

  .label--checkbox .icon--checkbox {
    top: -2px;
  }

  .label--checkbox .label__text {
    margin-left: 8px;
    color: #404040;
    font-size: 12px;
  }
}

/**

 */
.count {
  display: flex;
  align-items: center;
  justify-content: center;
}

.count__item {
  margin-right: 7px;

  &:last-child {
    margin-right: 0;
  }
}

.count__minus {
  position: relative;
  display: block;
  width: 14px;
  height: 14px;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 14px;
    height: 2px;
    margin-top: -1px;
    background-color: var(--primary);
  }
}

.count__plus {
  position: relative;
  display: block;
  width: 14px;
  height: 14px;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 14px;
    height: 2px;
    margin-top: -1px;
    background-color: var(--primary);
  }

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 14px;
    margin-top: -7px;
    margin-left: -1px;
    background-color: var(--primary);
  }
}

.count__input {
  width: 62px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #C2C2C2;
  border-radius: 3px;
  padding: 0 5px;
  color: #404040;
  font-size: 16px;
  text-align: center;
}

.emunit__models-button-fill {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 124px;
  height: 40px;
  min-height: auto;
  margin: 0 0 0 27px;
  padding: 0;
}

.emunit__models-button-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 40px;
  min-height: auto;
  margin-left: 10px;
  padding: 0;
}

/**

 */
.emunit__tabs-content-item {
  padding-top: 33px;
}

.emunit__review {
  max-width: 66.666667%;
  margin: 0 auto;
  padding: 60px 0 0;
}

.emunit__review-item {
  margin-bottom: 50px;

  &:last-child {
    margin-bottom: 0;
  }
}

.emunit__review-title {
  margin-bottom: 10px;
  color: #333;
  font-size: 27px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.01em;
}

.emunit__review-descr {

  p {
    margin: 0 0 10px;
  }
}
/**

 */
.emunit__models-filter {
  display: flex;
  min-height: 23px;
  margin-bottom: 22px;
}

.emunit__models-filter-item {

  &:first-child {
    margin-right: 50px;
  }
}
/**

 */
.emunit__bottom {
  padding-top: 41px;
  padding-bottom: 39px;
}

.emunit__archive {
  text-align: center;

  .emunit__models-table-s0 {width: 105px;}

  .emunit__models-table-s1 {width: 77px;}

  .emunit__models-table-s3 {width: 173px;}

  .emunit__models-table-s5 {width: 90px;}

  .emunit__models-table-s7 {width: 190px;}

  .emunit__models-table-s8 {width: 179px;}

  .emunit__models-table-s12 {width: 260px;}

  .text-editor table {
    margin: 0;
  }

  .text-editor table thead td {
    padding-top: 13px;
    font-size: 13px;
    text-align: left;

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(4){
      text-align: center;
    }
  }

  .text-editor table tbody td {
    padding-top: 13px;
    padding-bottom: 13px;
    vertical-align: top;
    text-align: left;

    &:first-child {
      line-height: 24px;
    }

    &:nth-child(4){
      text-align: center;
    }
  }

  .accordion__content {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 36px;
      right: 36px;
      height: 1px;
      background-color: rgba(196, 196, 196, 0.5);
    }
  }
}

/**

 */
.emunit__top-left {

  .gallery {
    position: relative;

    .swiper-container{
      width: 100%;
      height: 385px;

      &:before{
        content: '';
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        border: 1px solid #F5F5F5;
        pointer-events: none;
      }
    }
  }

  .thumbs {

    .swiper-slide {

      &:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        height: 3px;
        transition: var(--trbg);
      }
    }

    .swiper-slide-active {

      &:before {
        background-color: var(--primary);
      }
    }
  }
}
/**

 */
.emunit__review-item--more{
  display: flex;
  justify-content: center;
  padding-top: 37px;
  border-top: var(--border);

  .link{
    justify-content: center;
    padding-bottom: 8px;
    border-bottom: 1px dashed var(--primary);
  }

  .link__text{
    margin-left: 0;
    font-family: var(--museo);
    color: var(--primary);
    font-size: 20px;
    font-weight: 700;
  }

  .link__icon{
    transform: rotate(0);
  }

  .link--back .link__icon svg{
    width: 9px;
    height: 12px;
    margin-left: 10px;
  }
}
/**

 */
.emunit__top-right-table{
  padding-top: 25px;
  padding-bottom: 28px;
}
/**

 */
.emunit__top-right-compatibility{

  .title{
    margin-bottom: 10px;
    font-size: 18px;
  }

  .tagline{
    display: flex;
    flex-wrap: wrap;
  }

  .tagline__wrap .tag {
    align-items: center;
    justify-content: center;
    width: 72px;
    padding: 0;
    text-transform: uppercase;
  }
}
/**

 */
.table__td--center{
  text-align: center;
}

.table__td--light{
  background-color: #fff;
}

.emunit__models-table{

  .table__td--select{
    position: relative;
    padding: 0;

    .title{
      position: absolute;
      top: 12px;
      left: 13px;
      font-family: var(--opens);
      color: #333333;
      font-size: 13px;
      font-weight: 700;
    }

    .select-custom--default .choices{
      background-color: transparent;
      box-shadow: none;
    }

    .select-custom--default .choices__list--single .choices__item.choices__placeholder{
      height: 43px;

      padding-left: 13px;
    }

    .select-custom--default .choices[data-type*="select-one"]:after{
      right: 10px;
    }

    .select-custom--default .choices__list--dropdown{
      right: auto;
      left: 0;
      min-width: 322px;
    }
  }

  .table__td--select1{

    .choices__list--single .choices__item {
      opacity: 0;
      width: 95px;
      overflow: hidden;
      white-space: nowrap;
    }
  }
  
  .table__td--select2{

    .choices__list--single .choices__item {
      opacity: 0;
      width: 154px;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}


/**
mobile
 */
.mobile {

  .emunit__top-right-table.defin {

    dl {
      flex-direction: column;
      font-size: 14px;
      line-height: 22px;
    }
  }

  .emunit__top-right-compatibility {
    margin-bottom: 20px;
    padding-bottom: 18px;
    border-bottom: var(--border);
  }

  .emunit__models {
    background-color: #F3F3F3;
  }

  .aruna.content__text-editor {
    padding-top: 16px;
    padding-bottom: 0;
  }

  .emunit__top-right-descr p {
    font-size: 18px;
  }

  .emunit__top-right {

    .text-editor p {
      font-size: 14px;
    }
  }

  .emunit__tabs-title-item {
    height: 70px;
    font-size: 15px;
    line-height: 19px;

    &:first-child {
      padding: 0 20px;
    }

    &:last-child {
      padding: 0 30px;
    }
  }

  .emunit__models-filter-title {
    font-size: 12px;
  }

  .emunit__tabs-content-item {
    padding-top: 0;
  }

  .emunit__models-filter {
    flex-direction: column;
    align-items: flex-start;
    background-color: #fff;
    margin-bottom: 20px;
    padding: 25px 16px 30px;

    .select-custom--default .choices__list--single .choices__item {
      height: 24px;
      padding-left: 0;
      padding-right: 22px;
      font-size: 14px;
    }

    .select-custom--default .choices__list--single .choices__item.choices__placeholder {
      font-size: 14px;
    }

    .select-custom--default .choices[data-type*="select-one"]:after {
      right: 0;
      margin-top: -7px;
      background-size: 10px 10px;
    }
  }

  .emunit__middle {
    padding: 0;
  }

  .emunit__bottom {
    padding-top: 25px;
    padding-bottom: 10px;

    .container:first-child {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .emunit__review {
    max-width: 100%;
    padding: 35px 16px 0;

    &.text-editor ul {
      margin-bottom: 20px;
    }
  }

  .emunit__review-item {
    margin-bottom: 20px;
  }

  .emunit__review-item:first-of-type {

    .emunit__review-title {
      font-size: 20px;
    }
  }

  .emunit__review-title {
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 24px;
  }

  .emunit__top-links .link__text,
  .emunit__top-right-proj .link__text {
    font-size: 14px;
    line-height: 18px;
  }

  .emunit__models-filter-item{
    margin-top: 17px;

    &:first-child {
      margin-top: 0;
      margin-right: 0;
    }
  }

  .emunit__review-item--more {
    padding-top: 30px;
  }

  .emunit__review-item--more .link__text {
    font-size: 14px;
    line-height: 18px;
  }

  .emunit__review-item--more .link {
    padding-bottom: 2px;
  }

  .emunit.content__text-editor {
    padding-bottom: 10px;
  }
}