extends ../layout.pug

block content
  include ../common/promoMain
  include ../common/productsMain-common
  include ../common/lightsMain-common
  include ../common/articleMain
  include ../common/techMain-common
  include ../common/segmentMain-common
  include ../common/projectsMain-common
  include ./pug/distrib
  include ./pug/partners
  include ../common/newsMain
  include ./pug/event