extends ../layout.pug

block content
  include ../common/promoMain
  include ../common/productsMain
  .catalog-box: .row
    .col-sm-6
      .catalog.catalog--favourite
        .catalog__header
          .catalog__title Световые приборы
          a(href="javascript:void(0);").catalog__more
            .catalog__more-text Смотреть все
            .catalog__more-icon: include ../../images/arrow-right-small.svg
        .catalog__content
          .catalog__wrap
            .catalog__col
              .catalog__item
                .title ICEBERG
                .pic: img(src="/images/catalog/catalog-favourite-pic4.png").pic__img
                .descr от 238 300 ₽
                a(href="javascript:void(0);").link подробнее
            .catalog__col
              .catalog__item
                .title RUMB
                .pic: img(src="/images/catalog/catalog-favourite-pic5.png").pic__img
                .descr от 238 300 ₽
                a(href="javascript:void(0);").link подробнее
            .catalog__col
              .catalog__item
                .title TERRON
                .pic: img(src="/images/catalog/catalog-favourite-pic6.png").pic__img
                .descr от 238 300 ₽
                a(href="javascript:void(0);").link подробнее
    .col-sm-6
      .catalog.catalog--favourite
        .catalog__header
          .catalog__title Блоки аварийного питания
          a(href="javascript:void(0);").catalog__more
            .catalog__more-text Смотреть все
            .catalog__more-icon: include ../../images/arrow-right-small.svg
        .catalog__content
          .catalog__wrap
            .catalog__col
              .catalog__item
                .title REGATA
                .pic: img(src="/images/catalog/catalog-favourite-pic1.png").pic__img
                .descr от 238 300 ₽
                a(href="javascript:void(0);").link подробнее
            .catalog__col
              .catalog__item
                .title RUMB
                .pic: img(src="/images/catalog/catalog-favourite-pic2.png").pic__img
                .descr от 238 300 ₽
                a(href="javascript:void(0);").link подробнее
            .catalog__col
              .catalog__item
                .title TERRON
                .pic: img(src="/images/catalog/catalog-favourite-pic3.png").pic__img
                .descr от 238 300 ₽
                a(href="javascript:void(0);").link подробнее
  include ../common/articleMain
  include ../../pages/common/techMain-common
  .catalog.catalog--segment.js-catalog-segment
    .container
      .catalog__header
        .catalog__title Сегменты
        .swiper-button-prev
        .swiper-button-next
    .catalog__content
      .swiper-container
        .swiper-pagination
        .swiper-wrapper
          .swiper-slide
            .catalog__wrap
              .catalog__col
                a(href="javascript:void(0);" style="background-image: url(/images/catalog/catalog-segment-pic1.jpg)").catalog__item
                  .title Медицинские учреждения
                  .catalog__item-sign(style="background-color: #8DC63F;")
          .swiper-slide
            .catalog__wrap
              .catalog__col
                a(href="javascript:void(0);" style="background-image: url(/images/catalog/catalog-segment-pic2.jpg)").catalog__item
                  .title Ритейл
                  .catalog__item-sign(style="background-color: #8DC63F;")
          .swiper-slide
            .catalog__wrap
              .catalog__col
                a(href="javascript:void(0);" style="background-image: url(/images/catalog/catalog-segment-pic3.jpg)").catalog__item
                  .title Спорт и инфраструктура
                  .catalog__item-sign(style="background-color: #8DC63F;")
          .swiper-slide
            .catalog__wrap
              .catalog__col
                a(href="javascript:void(0);" style="background-image: url(/images/catalog/catalog-segment-pic4.png)").catalog__item
                  .title Медицинские учреждения
                  .catalog__item-sign(style="background-color: #8DC63F;")
          .swiper-slide
            .catalog__wrap
              .catalog__col
                a(href="javascript:void(0);" style="background-image: url(/images/catalog/catalog-segment-pic4.png)").catalog__item
                  .title Медицинские учреждения
                  .catalog__item-sign(style="background-color: #8DC63F;")
  .catalog.catalog--projects.js-catalog-projects
    .container
      .catalog__header
        .catalog__title Наши проекты
        .swiper-button-prev
        .swiper-button-next
    .catalog__content
      .swiper-container
        .swiper-pagination
        .swiper-wrapper
          .swiper-slide
            .catalog__wrap
              .catalog__col
                a(href="javascript:void(0);").catalog__item
                  .pic: img(src="/images/catalog/catalog-projects-pic1.jpg").pic__img
                  .catalog__item-wrap
                    .title ТЦ «Мега Белая дача» — холлы<br>и магазины
                    .catalog__item-box
                      .descr Москва, 2016
                      .link подробнее
                  .catalog__item-sign(style="background-color: #8DC63F;")
          .swiper-slide
            .catalog__wrap
              .catalog__col
                a(href="javascript:void(0);").catalog__item
                  .pic: img(src="/images/catalog/catalog-projects-pic2.jpg").pic__img
                  .catalog__item-wrap
                    .title Гипермаркет «Глобус»
                    .catalog__item-box
                      .descr Москва, 2016
                      .link подробнее
                  .catalog__item-sign(style="background-color: #8DC63F;")
          .swiper-slide
            .catalog__wrap
              .catalog__col
                a(href="javascript:void(0);").catalog__item
                  .pic: img(src="/images/catalog/catalog-projects-pic3.jpg").pic__img
                  .catalog__item-wrap
                    .title Автомобильный тоннель на пересечении МКАД
                    .catalog__item-box
                      .descr Москва, 2016
                      .link подробнее
                  .catalog__item-sign(style="background-color: #8DC63F;")
          .swiper-slide
            .catalog__wrap
              .catalog__col
                a(href="javascript:void(0);").catalog__item
                  .pic: img(src="/images/catalog/catalog-projects-pic4.png").pic__img
                  .catalog__item-wrap
                    .title Ледовый дворец спорта "Арена Чувашия"
                    .catalog__item-box
                      .descr Александровск-Сахалинский, 2016
                      .link подробнее
                  .catalog__item-sign(style="background-color: #8DC63F;")
          .swiper-slide
            .catalog__wrap
              .catalog__col
                a(href="javascript:void(0);").catalog__item
                  .pic: img(src="/images/catalog/catalog-projects-pic4.png").pic__img
                  .catalog__item-wrap
                    .title Ледовый дворец спорта "Арена Чувашия"
                    .catalog__item-box
                      .descr Москва, 2016
                      .link подробнее
                  .catalog__item-sign(style="background-color: #8DC63F;")
  .distrib
    script(src = "https://api-maps.yandex.ru/2.1/?apikey=bb14b62c-4405-4ce3-9db0-762219c7cb4a&lang=ru_RU" type="text/javascript")
    .container
      .distrib__header
        .distrib__title Дистрибьюторская сеть
        .distrib__country
          a(href="javascript:void(0);" data-country="Russia").button.button--white.distrib__country-item.js-distrib__country-item.active Россия
          a(href="javascript:void(0);" data-country="Belarus").button.button--white.distrib__country-item.js-distrib__country-item Беларусь
          a(href="javascript:void(0);" data-country="Kazakhstan").button.button--white.distrib__country-item.js-distrib__country-item Казахстан
          a(href="javascript:void(0);").link.link--more
            .link__text Где купить?
            .link__icon: include ../../images/arrow-right-small.svg
    .distrib__map
      .distrib__map-wrap
        .distrib__select
          select.form-control.js-distrib__select
            option(value="moscow" selected="true") Москва
            option(value="abakan") Абакан
            option(value="armavir") Армавир
            option(value="piter") Санкт-Петербург
      #map(data-mapMarker="/images/map/marker.svg")
  .partners
    .container
      .partners__wrap
        .pic: img(src="/images/partners-pic.jpg").pic__img
        .partners__box
          .title Стать партнером
          .descr Какой-то текст, про дистрибьюторскую сеть, про ее разветвленность и приглашение стать дистрибьютором/дилером, текст, про дистрибьюторскую сеть, про ее разветвленность и приглашение стать дистрибьютором/дилером,текст, про дистрибьюторскую сеть, про ее разветвленность и приглашение стать дистрибьютором/дилером, текст.
          button.button.button--empty.button-size-y-sm.button-size-md Перейти в раздел
  include ../common/newsMain
  .event
    .container
      .event__wrap.js-slideToggleWrap
        .title Состоялась обучающая конференция в Москве
        .descr Какой-то завершающий текстовый блог (по желанию), если для него нет контента, например, такого: "В современном обществе возрастает интерес к системам, обеспечивающим безопасность жизнедеятельности человека. Именно поэтому главной целью существования нашей компании, мы считаем содействие повышению степени безопасности среды обитания человека, а методом достижения этой цели – полное удовлетворение потребности рынка в системах аварийного освещения.", то его можно и не использовать.
        .descr.js-slideToggleData Какой-то завершающий текстовый блог (по желанию), если для него нет контента, например, такого: "В современном обществе возрастает интерес к системам, обеспечивающим безопасность жизнедеятельности человека. Именно поэтому главной целью существования нашей компании, мы считаем содействие повышению степени безопасности среды обитания человека, а методом достижения этой цели – полное удовлетворение потребности рынка в системах аварийного освещения.", то его можно и не использовать.
        a(href="javascript:void(0);").event__link.link.link--default.js-slideToggleBtn развернуть