<div style="display: none;">
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <symbol id="svg-table-filter" viewBox="0 0 10 22">
      <path fill="none" d="M1 16L5 20L9 16" stroke-width="1.5"/>
      <path fill="none" d="M9 6L5 2L1 6" stroke-width="1.5"/>
    </symbol>
  </svg>
</div>