@import "../../layout/variables.css";

.company {
  margin-top: 22px;
  padding-top: 39px;
  border-top: 1px solid rgba(196, 196, 196, .5);
}

.content__bottom{
  justify-content: flex-start;
}

.content__header .title {
  margin-bottom: 0;
}
