include ../../components/tag/tag

.batch.js-batch
  .batch__list.js-batch__list
    .batch__list-icon.js-batch__list-icon
    .tagline
      .tagline__wrap
        each item in batch
          +tag(item)
  .batch__title Выберите серию:
  .batch__choose.js-batch__choose
    .batch__name Серия
    .icon.icon--inline.icon--inline.icon--arrow-up: include ../../images/arrow-up.svg