include ../../components/select-custom/select-custom

.select-custom.select-custom--default.select-custom--simple
  select.form-control.js-select-subject
    - counter = 0;
    each item in connectSubject
      //- неправильное условие на отсутствие выделенного пункта
      if !item.selected & !counter
        option(placeholder) Укажите тему сообщения
        - counter++
      if item.value
        option(value= item.value selected= item.selected)= item.title