include ../../components/select-custom/select-custom

.select-custom.select-custom--default.select-custom--simple
  select.form-control.js-select-connect-from
    each item in connectFrom
      if item.value
        option(value= item.value selected= item.selected)= item.title