include ../../components/news/news

.catalog.catalog--press
  .container
    .catalog__header
      .catalog__title Пресс центр
    .catalog__content
      .catalog__wrap
        each item, index in news
          if index <= 3
            .catalog__col
              +news(item)
    .catalog__footer: a(href="javascript:void(0);").button.button--press Больше новостей