- polygraphyTitle = polygraphyTitle ? polygraphyTitle : 'Наши печатные каталоги';
- isPolygraphyTitle = isPolygraphyTitle!=='none';console.log(isPolygraphyTitle)
.polygraphy
  if isPolygraphyTitle
    .polygraphy__title!= polygraphyTitle
  include ./file