include ../../components/product/product

.catalog.catalog--main
  .catalog__content
    .catalog__wrap
      each item in products
        .catalog__col
          - item.img = '/images/catalog/catalog-main-pic2.png'
          +product(item)
  .catalog__footer: a(href= more.href).button.button--press= more.title