include ../../components/project/project

.catalog.catalog--projects.js-tabs-content-item
  .catalog__content
    .catalog__wrap
      each item in projects
        .catalog__col
          +project(item)