include ../../components/tag/tag
- tags = [{title:'Покупатель', regCustomer: true},{title:'Дистрибьютор', regDistrib: true},{title:'ОЕМ Производитель'},{title:'Проектная организация'}]
.tagline.js-reg-tagline
  .tagline__wrap
    each item in tags
      +tag(item)
    if isDesktop
      input(placeholder="Другое").form-control
  if isMobile
    input(placeholder="Другое").form-control