include ../../components/tag/tag

.tagline
  .tagline__wrap
    each item in tagsCompatibility
      +tag(item)
    //- доп.элемент в линии тегов
    if taglineClear
      a(href="javascript:void(0);").tagline__clear.js-tagline__clear Сбросить фильтры