include ../../components/tag/tag

.tagline.tagline--has-clear.js-tagline
  .tagline__wrap
    each item in tags
      +tag(item)
    //- доп.элемент в линии тегов
    if taglineClear && isDesktop
      a(href="javascript:void(0);").tagline__clear.js-tagline__clear Сбросить фильтры
  if taglineClear && isMobile
    a(href="javascript:void(0);").tagline__clear.js-tagline__clear Сбросить фильтры
