include ../../components/select-custom/select-custom

//- +select-custom(registrationCity, 'Укажите город', 'default select-custom--simple')
+select-custom(registrationCity, 'Укажите город', 'default')