include ../../components/select-custom/select-custom

//+select-custom(registrationCity, 'Укажите город/область', 'default select-custom--simple')

.select-custom.select-custom--default
  select.form-control.js-select-city
    - counter = 0;
    each item in registrationCity
      //- неправильное условие на отсутствие выделенного пункта
      if !item.selected & !counter
        option(placeholder) Выберите страну
        - counter++
      if item.value
        option(value= item.value selected= item.selected)= item.title