@import "../../layout/variables.css";

.aruna {

  &.content__text-editor {
    margin-bottom: 0;
    padding-top: 36px;
    padding-bottom: 47px;
  }
}

/**

 */
.emunit__top-right {
  padding-left: 47px;

  .text-editor {
    padding-top: 20px;

    ul {
      margin-bottom: 0;
    }
  }
}

/**

 */
.emunit__top-right-table {
  padding-top: 25px;
  padding-bottom: 28px;
}

/**

 */
.emunit__top-right-descr {

  p {
    font-weight: 700;
    font-size: 24px;
  }

  ul {
    margin-bottom: 0;
  }

  ul li {
    padding-left: 20px;
  }
}

/**

 */
.emunit__top-right-proj {


  .link__text {
    margin-left: 8px;
  }
}

/**

 */
.emunit__top-right-compatibility {

  .title {
    margin-bottom: 10px;
    font-size: 18px;
  }

  .tagline {
    display: flex;
    flex-wrap: wrap;
  }

  .tagline__wrap .tag {
    align-items: center;
    justify-content: center;
    width: 72px;
    padding: 0;
    text-transform: uppercase;
  }
}

/**

 */
.emunit__top-links {

  .link__text {
    margin-left: 8px;
  }
}

.emunit__top-links-wrap {
  display: flex;
  align-items: center;
  margin-top: 17px;
  padding-top: 17px;
  border-top: var(--border);

  .link svg path {
    transition: var(--trsf);
  }

  .link {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 37px;
    cursor: pointer;

    &.is-active,
    &:hover svg path {
      fill: var(--hover);
    }

    &:first-child {
      margin-left: 0;

      svg path {
        transition: var(--trss);
      }

      &:hover svg path {
        stroke: var(--hover);
        fill: transparent;
      }
    }
  }
}

/**

 */
.emunit__tabs {
  margin-top: 80px;
}

.emunit__tabs-title {
  display: flex;
  border-bottom: var(--border);
}

.emunit__tabs-title-item {
  position: relative;
  width: 50%;
  padding-bottom: 15px;
  color: #333333;
  font-size: 27px;
  font-weight: 700;
  letter-spacing: 0.01em;
  text-decoration: none;
  text-align: center;
  transition: var(--trc);

  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 5px;
    transition: var(--trbg);
  }

  &.active:after {
    background-color: var(--primary);
  }

  &.active:hover {
    color: #333333;
    cursor: default;
  }

  &:hover {
    color: var(--hover);
  }
}

/**

 */
.emunit__tabs-content-item {
  padding-top: 33px;
}

.emunit__review {
  max-width: 66.666667%;
  margin: 0 auto;
  padding: 60px 0 0;
}

.emunit__review-item {
  margin-bottom: 50px;

  &:last-child {
    margin-bottom: 0;
  }
}

.emunit__review-title {
  margin-bottom: 10px;
  color: #333;
  font-size: 27px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.01em;
}

.emunit__review-descr {

  p {
    margin: 0 0 10px;
  }
}

/**

 */
.emunit__review-item--more {
  display: flex;
  justify-content: center;
  padding-top: 37px;
  border-top: var(--border);

  .link {
    justify-content: center;
    padding-bottom: 8px;
    border-bottom: 1px dashed var(--primary);
  }

  .link__text {
    margin-left: 0;
    font-family: var(--museo);
    color: var(--primary);
    font-size: 20px;
    font-weight: 700;
  }

  .link__icon {
    transform: rotate(0);
  }

  .link--back .link__icon svg {
    width: 9px;
    height: 12px;
    margin-left: 10px;
  }
}

/**

 */
.emunit__bottom {
  padding-top: 41px;
  padding-bottom: 39px;
}

/**

 */
/**

 */
.emunit__models-filter {
  margin-bottom: 40px;
}

.emunit__models-filter-item {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}

.emunit__models-filter-title {
  margin-bottom: 5px;
  font-family: var(--opens);
}

/**

 */
.emunit__archive {

  .text-editor table {
    margin: 0;
  }

  .text-editor table thead td {
    text-align: center;
  }
}

/**
mobile
 */
.mobile {

  .aruna.content__text-editor {
    padding-top: 16px;
    padding-bottom: 0;
  }

  .emunit__top-right-descr p {
    font-size: 18px;
  }

  .emunit__tabs-title-item {
    font-size: 15px;
    line-height: 19px;

    &:first-child {
      padding: 0 30px;
    }
  }

  .emunit__models-filter-title {
    font-size: 12px;
  }

  .emunit__tabs-content-item {
    padding-top: 28px;
  }

  .emunit__models-filter {
    margin-bottom: 30px;
    padding: 0 16px;
  }

  .emunit__middle {
    padding: 0;
  }

  .emunit__bottom {
    padding-top: 25px;
    padding-bottom: 10px;

    .container:first-child {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .emunit__review {
    max-width: 100%;
    padding: 35px 16px 0;

    &.text-editor ul {
      margin-bottom: 20px;
    }
  }

  .emunit__review-item {
    margin-bottom: 20px;
  }

  .emunit__review-item:first-of-type {

    .emunit__review-title {
      font-size: 18px;
    }
  }

  .emunit__review-title {
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 24px;
  }

  .emunit__review-descr {
    font-size: 14px;
  }

  .emunit__top-links .link__text,
  .emunit__top-right-proj .link__text {
    font-size: 14px;
    line-height: 18px;
  }

  .emunit__review-item--more {
    padding-top: 30px;
  }

  .emunit__review-item--more .link__text {
    font-size: 14px;
    line-height: 18px;
  }

  .emunit__review-item--more .link {
    padding-bottom: 2px;
  }
}