/* ------------------------------------------------------------------------- */

.companyInfoFull {}

.companyInfoFull__wrap {}

.companyInfoFull__section {
  padding: 20px 50px;
}

.companyInfoFull__title {
  margin-bottom: 23px;
  color: var(--primary);
  font-family: var(--museo);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  position: relative;
&:before {
   content: "";
   width: 18px;
   height: 18px;
   left: -26px;
   top: 1px;
   background: url("/images/company-info-icon.svg") center no-repeat;
   background-size: 18px;
   position: absolute;
 }
}

.commonInfoFull__item {
  margin-bottom: 18px;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
& span {
    font-family: var(--museo);
    font-size: 18px;
    line-height: 1.2;
&:first-child {
   min-width: 200px;
   margin-right: 35px;
   color: var(--black06);
   font-weight: 600;
 }
&:last-child {
   color: var(--black03);
   font-weight: 400;
 }
}
&:last-child {
   margin-bottom: 30px;
 }
}

.companyInfoFull__button {

}

.companyInfoFull__edit {
  padding-left: 22px;
  color: var(--primary);
  font-family: var(--museo);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
  cursor: pointer;
  position: relative;
&:before {
   content: '';
   display: block;
   width: 16px;
   height: 15px;
   overflow: hidden;
   position: absolute;
   left: 0;
   top: 0;
   background-image: url(/images/edit.svg);
   background-repeat: no-repeat;
   background-size: 16px 15px;
   background-position: center center;
 }
}

/* ------------------------------------------------------------------------- */