@import "../../../layout/variables.css";

.header-mobile {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: #fff;
  transition: var(--trsee);

  &.is-open {
    opacity: 1;
    visibility: visible;
  }
}

.header-mobile__top {
  display: flex;
  align-items: center;
  height: 51px;
  border-top: var(--border);
  border-bottom: var(--border);
}

.header-mobile__wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 16px;
}

.header-mobile__city {
  display: flex;
  align-items: center;
  flex-shrink: 0;

  .select-custom .choices__list--dropdown {
    left: 0;
    right: auto;
    margin-top: 15px;
  }

  .select-custom .choices:before {
    top: 22px;
  }
}
/**

 */
.header-mobile__bottom,
.header-mobile__middle {
  padding: 20px 0;
  border-bottom: var(--border);

  .header__top-submenu {
    display: none;
    opacity: 1;
    visibility: visible;
    position: relative;
    top: 0;
    min-height: auto;
    padding-left: 10px;
  }

  .header__top-submenu-wrap {
    box-shadow: none;

    .list {
      padding: 0;
    }

    .list__link {
      font-size: 14px;
    }
  }

  .header__top-submenu-about,
  .header__top-submenu-pic {
    display: none;
  }
}
/**

 */
.header-mobile__bottom {
  padding: 0;
  border-bottom: none;

  .header__top-submenu-wrap .list__link {
    font-size: 13px;
  }
}
/**

 */
.mobile .header-mobile {

  .header__middle-item:first-child {
    display: flex;
  }

  .header__client {
    margin: 0;
  }

  .header__client-item {
    margin-right: 12px;

    &:first-child {
      background-color: transparent;
    }

    &.header__cart {
      margin-right: 0;
    }

    &.header__auth--mobile {
      margin-right: 51px;
    }
  }
  
  .header__menu {
    display: block;
    padding: 0 16px;

    > .list__item {
      display: block;
      min-height: auto;
      margin-bottom: 15px;
      padding: 0;
      
      &.is-open {
        
        .header__top-submenu {
          display: block;
        }

        > .list__link:before {
          content: none;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }

      > .list__link{
        display: block;
        width: 100%;
        font-size: 16px;
      }

      &.list__item--parent > .list__link:after {
        right: 0;
      }
    }
  }

  .header__top-menu {
    display: block;
    padding: 20px 16px;

    > .list__item {
      display: block;
      min-height: auto;
      margin-right: 0;
      margin-bottom: 15px;

      &.is-open {

        .header__top-submenu {
          display: block;
        }

        > .list__link:before {
          content: none;
        }

        > .list__link:after {
          transform: rotate(-180deg);
        }
      }

      &:last-child {
        margin-bottom: 0;
      }

      > .list__link {
        display: block;
        width: 100%;
      }

      &.list__item--parent > .list__link:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 0;
        width: 10px;
        height: 6px;
        background-image: url(/images/arrow-down.svg);
        margin-top: -3px;
        border: 0;
        transition: transform .3s ease;
      }
    }
  }

  .orders {
    display: block;
    position: relative;
    top: 0;
    width: 100%;
    transform: none;
  }

  .header-mobile__search {
    position: fixed;
    top: 52px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: var(--trsee);

    &.is-open {
      opacity: 1;
      visibility: visible;

      .button-wrap {
        transform: translateX(0px);
      }
    }

    .form-control {
      height: 51px;
      background-color: #FAFAFA;
      padding-right: 52px;
      border: 1px solid #EDEDED;
      border-right: 0;
      border-radius: 0;
      color: rgba(51,51,51, .7);
      font-size: 16px;

      &::placeholder {
        color: rgba(51,51,51, .7);
        font-size: 16px;
      }
    }

    .button-wrap {
      position: absolute;
      top: 0;
      right: 0;
      width: 52px;
      height: 52px;
      transform: translateX(-94px);
      transition: transform .3s ease-in-out .3s;
    }

    .button {
      display: flex;
      width: 100%;
      height: 100%;
      background-color: transparent;
      padding: 0;
      background-image: url(/images/zoom-big.svg);
      background-position: 50%;
      background-repeat: no-repeat;

      &:hover {
        background-color: transparent;
        box-shadow: none;
      }
    }
  }

  .header-mobile__search-result {
    padding: 20px 16px;
  }

  .header-mobile__search-result-title {
    font-size: 18px;
    line-height: 24px;
    color: #404040;
  }

  .header-mobile__search-result-descr {
    font-size: 12px;
    line-height: 16px;
    color: #7E7E7E;
  }
}