extends ../layout.pug

block content
  .content
    .container
      include ../../components/content-header/content-header-lk
      .userOrderHistoryEmpty
        .userOrderHistoryEmpty__description У вас пока нет ни одного заказа.

