@import "../../layout/variables.css";

.content__bottom.content__bottom--descr {
  margin-bottom: 19px;

  .title {
    margin-bottom: 14px;
  }
}

.connect {

  .accordion__header {

    .icon {
      position: absolute;
      top: 50%;
      left: 36px;
      margin-top: -14px;
    }
  }
}

.connect__form {
  max-width: 784px;

  .form__bottom {
    display: block;
    margin-top: 36px;

    .button-wrap {
      margin-left: 0;
    }
  }
}

.connect__form--has-callback {
  max-width: none;
}
/**

 */
.connect__callback {
  padding: 25px 30px;
  background-color: #F5F5F5;
  border-radius: 5px;

  .title {
    margin-bottom: 25px;
    font-family: var(--museo);
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
  }

  .form-group:last-child {
    display: flex;
    margin-top: 30px;
    margin-bottom: 0;

    .form-element {
      flex-shrink: 0;
      width: 155px;

      .select-custom {
        width: 103px;
      }

      &:last-child {
        flex-grow: 1;
        margin-left: 33px;

        .select-custom {
          width: 100%;
        }
      }
    }
  }

  label {
    display: flex;
    align-items: center;
  }

  .form-placeholder {
    height: auto;
    margin-bottom: 0;
    margin-right: 15px;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
  }

  .select-custom .choices__list--dropdown .choices__list {
    max-height: 200px;
  }

  .select-custom--default .choices__list--dropdown {
    margin-top: -1px;
  }
  .select-custom--simple .choices__inner,
  .select-custom--default .choices__list--single .choices__item {
    height: 44px;
  }
}

/**

 */
.msg {
  display: flex;
  align-items: center;
}

.msg__item {
  display: flex;
  align-items: center;
  margin-right: 87px;

  &:last-child {
    margin-right: 0;
  }

  .icon {
    margin-right: 10px;
  }

  &:hover {

    .msg__name {
      color: var(--hover);
    }
  }
}

.msg__name {
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.02em;
  font-family: var(--museo);
  color: #404040;
  transition: var(--trc);
}

/**

 */
.connect__mail-title {
  margin-bottom: 16px;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.02em;
  font-family: var(--museo);
}

.connect__mail-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;

  &:last-child {
    margin-bottom: 0;
  }
}

.connect__mail-name {
  width: 245px;
  margin-right: 40px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  font-family: var(--opens);
}

.connect__mail-link {
  font-family: var(--museo);
  font-size: 16px;
}

/**

 */
.connect__call {
  display: flex;
  align-items: flex-start;
}

.connect__call-wrap {
  width: 33.333333%;
  padding-right: 70px;
}

.connect__call-item {
  margin-bottom: 22px;

  &:last-child {

    .connect__call-descr {
      padding-left: 22px;

      .icon {
        position: absolute;
        top: 5px;
        left: 0;
      }
    }
  }
}

.connect__call-title {
  margin-bottom: 6px;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.02em;
  font-family: var(--museo);
}

.connect__call-descr {
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  font-family: var(--opens);
  color: #404040;
}

.select-custom--simple .choices__list--dropdown:before {
  content: none;
}

/**
media
 */
.mobile {

  .connect {

    .accordion__header {
      padding-left: 54px;

      .icon {
        left: 16px;
        width: 20px;
        height: 20px;
        margin-top: -10px;
      }
    }
  }

  .connect__form {

    .col-sm-6 {
      margin-bottom: 13px;
    }

    .form--style .form-group {
      margin-bottom: 0;
    }

    .form__bottom {
      margin-top: 22px;
      padding: 0;
    }
  }

  .msg {
    flex-wrap: wrap;
  }

  .msg__item {
    width: 50%;
    margin-right: 0;
    margin-bottom: 22px;

    .icon {
      width: 32px;
      height: 32px;
    }
  }

  .msg__name {
    font-size: 16px;
  }

  .connect__mail-title {
    font-size: 15px;
  }

  .connect__mail-item {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 13px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .connect__mail-link,
  .connect__mail-name {
    font-size: 14px;
    line-height: 22px;
  }

  .connect__mail-name {
    width: 152px;
    margin-bottom: 8px;
    margin-right: 0;
  }

  .connect__call-wrap{
    width: 100%;
    padding-right: 0;
  }

  .connect__call {
    flex-wrap: wrap;
  }

  .connect__call-title{
    font-size: 15px;
    line-height: 19px;
  }

  .connect__call-descr{
    font-size: 14px;
    line-height: 22px;
  }

  .connect__form .form__bottom .button-wrap {
    margin-right: 0;
  }

  .connect__callback {
    margin-top: 30px;
    padding: 16px 16px 20px;

    .title {
      font-size: 15px;
      line-height: 19px;
    }
  }

  .connect__callback-wrap {

    .form-group--half {
      margin-top: 32px;

      & + .form-group {
        margin-top: 17px;
      }
    }
  }

  .connect__callback .form-group:last-child {
    display: block;

    .form-element {
      width: 100%;
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .connect__callback .form-placeholder {
    width: 18px;
  }

  .connect__callback .form-group:last-child .form-element .select-custom {
    width: 100%;
  }

  .connect__callback .form-group:last-child .form-element:last-child {
    width: auto;
  }

  .connect__callback .select-custom--simple .choices__inner,
  .connect__callback .select-custom--default .choices__list--single .choices__item {
    height: 38px;
  }

  .connect__form--has-callback {

    .form__bottom .button-wrap {
      margin-top: 15px;
    }
  }

  .connect {

    .accordion__toggle {
      top: 50%;
      margin-top: -6px;
    }
  }
}