table
  thead
    tr
      td(rowspan=2).emunit__models-table-s1 Артикул
      td(rowspan=2).emunit__models-table-s2 Наименование позиции
      td(rowspan=2).emunit__models-table-s3 Источник питания
      td(colspan=2).emunit__models-table-s7 Номинальный световой поток, лм
      td(rowspan=2).emunit__models-table-s8 Степень защиты от внешних воздействий, IP
    tr
      td Нормальный режим
      td Аварийный режим
  tbody
    tr
      td АРХИВ<br>a17946
      td BS-INEXI2-81-B2-LED
      td INEXI-2N
      td 1
      td -
      td 450
    tr
      td АРХИВ<br>a17946
      td BS-INEXI2-81-B2-LED
      td INEXI-2N
      td 3
      td -
      td 450
    tr
      td АРХИВ<br>a17946
      td BS-INEXI2-81-B2-LED
      td INEXI-2N
      td 7
      td 450
      td 450
