table
  thead
    tr
      td.emunit__models-table-s0 Фото
      td.emunit__models-table-s1 Артикул
      td.emunit__models-table-s12 Наименование позиции
      td.emunit__models-table-s5 Код
      td.emunit__models-table-s11 Назначение
      td.emunit__models-table-s7 Смысловое значение
      td.emunit__models-table-s12 Место размещения и рекомендации по применению
  tbody
    tr
      td: a(href="javascript:void(0);" data-popupname="single").pic.js-popup-open: img(src="./images/catalog/catalog-favourite-pic4.png").pic__img
      td АРХИВ<br>a17946
      td
        | Знак безопасности BL-1515.D01 "Символы доступности для инвалидов"
        .form-element.emunit__models-table-compare
          label.label.label--checkbox
            input.form-control(type='checkbox')
            .icon.icon--checkbox
            .label__text Добавить к сравнению
      td D01
      td Символы доступности МГН
      td Cимволы доступности для инвалидов в креслах колясках
      td "На стенах в помещениях, оборудованных для инвалидов в креслах колясках"
    tr
      td: a(href="javascript:void(0);" data-popupname="single").pic.js-popup-open: img(src="./images/catalog/catalog-favourite-pic4.png").pic__img
      td АРХИВ<br>a17946
      td
        | Знак безопасности BL-1515.D01 "Символы доступности для инвалидов"
        .form-element.emunit__models-table-compare
          label.label.label--checkbox
            input.form-control(type='checkbox')
            .icon.icon--checkbox
            .label__text Добавить к сравнению
      td D01
      td Символы доступности МГН
      td Cимволы доступности для инвалидов в креслах колясках
      td "На стенах в помещениях, оборудованных для инвалидов в креслах колясках"
    tr
      td: a(href="javascript:void(0);" data-popupname="single").pic.js-popup-open: img(src="./images/catalog/catalog-favourite-pic4.png").pic__img
      td АРХИВ<br>a17946
      td
        | Знак безопасности BL-1515.D01 "Символы доступности для инвалидов"
        .form-element.emunit__models-table-compare
          label.label.label--checkbox
            input.form-control(type='checkbox')
            .icon.icon--checkbox
            .label__text Добавить к сравнению
      td D01
      td Символы доступности МГН
      td Cимволы доступности для инвалидов в креслах колясках
      td "На стенах в помещениях, оборудованных для инвалидов в креслах колясках"
