.accordion__content-wrap
  table
    thead
      tr
        td(colspan=2) Устаревшая модель
        td(colspan=2) Актуальный аналог
      tr
        td Артикул
        td Наименование
        td Артикул
        td Наименование
    tbody
      tr
        td a17875
        td Знак безопасности BL-1515.D01 "Символы доступности для инвалидов"
        td: a(href="javascript:void(0);") a17875
        td: a(href="javascript:void(0);") Знак безопасности BL-1515.D01 "Символы доступности для инвалидов"
      tr
        td a17875
        td Знак безопасности BL-1515.D01 "Символы доступности для инвалидов"
        td: a(href="javascript:void(0);") a17875
        td: a(href="javascript:void(0);") Знак безопасности BL-1515.D01 "Символы доступности для инвалидов"