.emunit__tabs-content-item.emunit__models.js-tabs-content-item
  .emunit__models-filter
    .emunit__models-filter-item
      include ../../common/signone-uid-common
    .emunit__models-filter-item
      include ../../common/signone-purpose-common
  .emunit__models
    if isMobile
      include ../../../pages/aruna/pug/aruna-item
      include ../../../pages/aruna/pug/aruna-item
      include ../../../pages/aruna/pug/aruna-item
    else
      .emunit__models-item
        .emunit__models-pic
          a(href="javascript:void(0);" data-popupname="single").pic.js-popup-open
            img(src="./images/catalog/catalog-favourite-pic4.png").pic__img
        .emunit__models-wrap.js-prop-wrap
          .emunit__models-top
            .emunit__models-top-wrap
              .emunit__models-top-item
                a(href="javascript:void(0);").title Знак безопасности BL-1515.D01 "Символы доступности для инвалидов"
              .emunit__models-top-item
                .price
                  .price__item
                    .price__value 5100
                    .price__currency ₽
                .count.js-count
                  .count__item: a(href="javascript:void(0);").count__minus.js-input-number-decr
                  .count__item: input(type="number" value="250" max="999").count__input.form-control.js-input-number
                  .count__item: a(href="javascript:void(0);").count__plus.js-input-number-incr
                button.button.emunit__models-button-fill в корзину
                button.button.button--empty.emunit__models-button-empty В спецификацию
          .emunit__models-middle
            .emunit__models-props.props.js-props
              .props__item
                .props__name Артикул:
                .props__value а15324
              .props__item
                .props__name Код:
                .props__value D01
              .props__item
                .props__name Назначение:
                .props__value Символы доступности МГН
              .props__item
                .props__name Смысловое значение:
                .props__value Cимволы доступности для инвалидов в креслах колясках
              .props__item
                .props__name Место размещения и рекомендации по применению:
                .props__value На стенах в помещениях, оборудованных для инвалидов в креслах колясках
          .emunit__models-bottom
            .emunit__models-bottom-wrap
              .emunit__models-bottom-item
                a(href="javascript:void(0);").link.js-props-toggle Свернуть характеристики
              .emunit__models-bottom-item
                .form-element
                  label.label.label--checkbox
                    input.form-control.js-form-validate__checked(type='checkbox')
                    .icon.icon--checkbox
                    .label__text Сравнить
      .emunit__models-item
        .emunit__models-pic
          a(href="javascript:void(0);" data-popupname="single").pic.js-popup-open
            img(src="./images/catalog/catalog-favourite-pic4.png").pic__img
        .emunit__models-wrap.js-prop-wrap
          .emunit__models-top
            .emunit__models-top-wrap
              .emunit__models-top-item
                a(href="javascript:void(0);").title Знак безопасности BL-1515.D01 "Символы доступности для инвалидов"
              .emunit__models-top-item
                .price
                  .price__item
                    .price__value 5100
                    .price__currency ₽
                .count.js-count
                  .count__item: a(href="javascript:void(0);").count__minus.js-input-number-decr
                  .count__item: input(type="number" value="250" max="999").count__input.form-control.js-input-number
                  .count__item: a(href="javascript:void(0);").count__plus.js-input-number-incr
                button.button.emunit__models-button-fill в корзину
                button.button.button--empty.emunit__models-button-empty В спецификацию
          .emunit__models-middle
            .emunit__models-props.props.js-props
              .props__item
                .props__name Артикул:
                .props__value а15324
              .props__item
                .props__name Код:
                .props__value D01
              .props__item
                .props__name Назначение:
                .props__value Символы доступности МГН
              .props__item
                .props__name Смысловое значение:
                .props__value Cимволы доступности для инвалидов в креслах колясках
              .props__item
                .props__name Место размещения и рекомендации по применению:
                .props__value На стенах в помещениях, оборудованных для инвалидов в креслах колясках. На стенах в помещениях, оборудованных для инвалидов в креслах колясках. На стенах в помещениях, оборудованных для инвалидов в креслах колясках.
          .emunit__models-bottom
            .emunit__models-bottom-wrap
              .emunit__models-bottom-item
                a(href="javascript:void(0);").link.js-props-toggle Свернуть характеристики
              .emunit__models-bottom-item
                .form-element
                  label.label.label--checkbox
                    input.form-control.js-form-validate__checked(type='checkbox')
                    .icon.icon--checkbox
                    .label__text Сравнить
      .emunit__models-item
        .emunit__models-pic
          a(href="javascript:void(0);" data-popupname="single").pic.js-popup-open
            img(src="./images/catalog/catalog-favourite-pic4.png").pic__img
        .emunit__models-wrap.js-prop-wrap
          .emunit__models-top
            .emunit__models-top-wrap
              .emunit__models-top-item
                a(href="javascript:void(0);").title Знак безопасности BL-1515.D01 "Символы доступности для инвалидов"
              .emunit__models-top-item
                .price
                  .price__item
                    .price__value 5100
                    .price__currency ₽
                .count.js-count
                  .count__item: a(href="javascript:void(0);").count__minus.js-input-number-decr
                  .count__item: input(type="number" value="250" max="999").count__input.form-control.js-input-number
                  .count__item: a(href="javascript:void(0);").count__plus.js-input-number-incr
                button.button.emunit__models-button-fill в корзину
                button.button.button--empty.emunit__models-button-empty В спецификацию
          .emunit__models-middle
            .emunit__models-props.props.js-props
              .props__item
                .props__name Артикул:
                .props__value а15324
              .props__item
                .props__name Код:
                .props__value D01
              .props__item
                .props__name Назначение:
                .props__value Символы доступности МГН
              .props__item
                .props__name Смысловое значение:
                .props__value Cимволы доступности для инвалидов в креслах колясках
              .props__item
                .props__name Место размещения и рекомендации по применению:
                .props__value На стенах в помещениях, оборудованных для инвалидов в креслах колясках
          .emunit__models-bottom
            .emunit__models-bottom-wrap
              .emunit__models-bottom-item
                a(href="javascript:void(0);").link.js-props-toggle Свернуть характеристики
              .emunit__models-bottom-item
                .form-element
                  label.label.label--checkbox
                    input.form-control.js-form-validate__checked(type='checkbox')
                    .icon.icon--checkbox
                    .label__text Сравнить