.emunit__tabs-content-item.emunit__models
  .emunit__models-header №1. Автономная система аварийного освещения с функцией TELECONTROL.
  .emunit__models-table
    table
      thead
        tr
          td(rowspan=2).emunit__models-table-s1 Артикул
          td(rowspan=2).emunit__models-table-s2 Наименование позиции
          td(rowspan=2).emunit__models-table-s3 Источник питания
          td(rowspan=2).emunit__models-table-s4 Режим работы
          td(rowspan=2).emunit__models-table-s5 Тестирование и управление
          td(rowspan=2).emunit__models-table-s6 Максимальная мощность подключаемого светильника, Вт
          td(colspan=2).emunit__models-table-s7 Номинальный световой поток, лм
          td(rowspan=2).emunit__models-table-s8 Степень защиты от внешних воздействий, IP
          td(rowspan=2).emunit__models-table-s9 Базовая цена, руб
          td(rowspan=2).emunit__models-table-s10
        tr
          td Нормальный режим
          td Аварийный режим
      tbody
        tr
          td: a(href="javascript:void(0);") a17946
          td
            a(href="javascript:void(0);") BS-INEXI2-81-B2-LED
            .form-element.emunit__models-table-compare
              label.label.label--checkbox
                input.form-control(type='checkbox')
                .icon.icon--checkbox
                .label__text Добавить к сравнению
          td: a(href="javascript:void(0);") INEXI-2N
          td
          td
          td
          td 1
          td -
          td 450
          td 20
          td
            .count.js-count
              .count__item: a(href="javascript:void(0);").count__minus.js-input-number-decr
              .count__item: input(type="number" value="1" max="999").count__input.form-control.js-input-number
              .count__item: a(href="javascript:void(0);").count__plus.js-input-number-incr
            button.button.emunit__models-table-button заказать
        tr
          td: a(href="javascript:void(0);") a17946
          td
            a(href="javascript:void(0);") BS-INEXI2-81-B2-LED
            .form-element.emunit__models-table-compare
              label.label.label--checkbox
                input.form-control(type='checkbox')
                .icon.icon--checkbox
                .label__text Добавить к сравнению
          td: a(href="javascript:void(0);") INEXI-2N
          td
          td
          td
          td 3
          td -
          td 450
          td 20
          td
            .count.js-count
              .count__item: a(href="javascript:void(0);").count__minus.js-input-number-decr
              .count__item: input(type="number" value="1" max="999").count__input.form-control.js-input-number
              .count__item: a(href="javascript:void(0);").count__plus.js-input-number-incr
            button.button.emunit__models-table-button заказать
        tr
          td: a(href="javascript:void(0);") a17946
          td
            a(href="javascript:void(0);") BS-INEXI2-81-B2-LED
            .form-element.emunit__models-table-compare
              label.label.label--checkbox
                input.form-control(type='checkbox')
                .icon.icon--checkbox
                .label__text Добавить к сравнению
          td: a(href="javascript:void(0);") INEXI-2N
          td
          td
          td
          td 7
          td 450
          td 450
          td -
          td
            .count.js-count
              .count__item: a(href="javascript:void(0);").count__minus.js-input-number-decr
              .count__item: input(type="number" value="1" max="999").count__input.form-control.js-input-number
              .count__item: a(href="javascript:void(0);").count__plus.js-input-number-incr
            button.button.emunit__models-table-button заказать
