/* ------------------------------------------------------------------------- */

@import "../personCard/personCard.css";
@import "../messageCompatible/messageCompatible.css";
@import "../tagSteps/tagSteps.css";
@import "../../../node_modules/js-datepicker/dist/datepicker.min.css";

/* ------------------------------------------------------------------------- */

.userHeaderBlock {
  background-color: #fff;
  margin-bottom: 45px;
  padding: 35px 45px 40px;
}
.userHeaderBlock__wrap {}
.userHeaderBlock__title {
  margin-bottom: 30px;
  font-family: var(--museo);
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: -0.02em;
  color: #333333;
}
.userHeaderBlock__data {}

/* --------------------------------- */

.uhbData {}
.uhbData__item {
  display: flex;
  align-items: flex-start;
  &:not(:first-child) {
    margin-top: 20px;
  }
  &--warning {
    position: relative;
  }
}

/*---------------Warning блок----------------------*/
.uhbData__icon--close {
  position: absolute;
  width: 18px;
  height: 18px;
  right: 43px;
  top: 43px;
  &:hover{
    cursor: pointer;
  }
  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--red01);
    transition: background-color .3s ease;
  }
  &:before{
     transform: rotate(45deg);
  }
  &:after{
     transform: rotate(-45deg);
  }
}

.warning--visible {
  display: block;
}

.warning--hidden {
  display: none;
}
/*--------------------------------------------------------*/
.uhbData__name {
  width: 210px;
  padding-right: 20px;
  flex-shrink: 0;
  color: var(--black04);
  font-family: var(--museo);
  font-size: 17px;
  font-weight: 700;
  line-height: 1.55;
}
.uhbData__value {
  width: 100%;
  color: var(--black04);
  font-family: var(--opens);
  font-size: 16px;
  line-height: 1.65;
  & span.activeUser {}
  & span.blockedUser {
    color: var(--red02);
    font-style: normal;
  }
  & p {
    margin: 8px 0;
    font-size: 16px;
    line-height: 1.65;
    &:first-child {
      margin-top: 0;
      padding-top: 0;
    }
  }
  & ul {
    margin: 0 0 0 12px;
    padding: 0;
    & li {
      margin: 4px 0;
      padding-left: 10px;
      position: relative;
      &:before {
        content: '';
        display: block;
        width: 4px;
        height: 4px;
        border-radius: 100%;
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 11px;
        background-color: var(--primary);
      }
    }
  }
}

/* --------------------------------- */
/* просто данные */

.uhbData__item--data {}

/* --------------------------------- */
/* заблокированные данные */

.uhbData__item--dataDisabled {
  & .uhbData__value {
    color: var(--gray05);
  }
}

/* --------------------------------- */
/* объект не прикреплён */

.uhbData__item--notAttached {
  & .uhbData__value {
    color: var(--red01);
  }
}

/* --------------------------------- */
/* про сотрудника: активен, заблокирован */

.uhbData__item--dataEmployee {
  & .uhbData__value {
    & span {
      color: var(--primary);
    }
    & em {
      font-style: normal;
      color: var(--red02);
    }
  }
}

/* --------------------------------- */
/* данные с ссылкой в значении */

.uhbData__item--link {
  & a.uhbData__value {
    color: var(--primary);
    font-weight: 700;
    transition: color 0.3s ease;
    text-decoration: none;
    &:hover {
      color: var(--hover);
    }
  }
}

/* --------------------------------- */
/* данные с календарем */

.uhbData__item--date {
  & .uhbData__value {
    display: flex;
    align-items: center;
  }
  & .uhbData__dateList {
    max-width: 81%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  & .uhbData__dateItem {
    margin-right: 20px;
    &:not(:last-child) {
      opacity: 0.5;
      text-decoration: line-through;
    }
  }
  & .uhbData__dateCalendar {
    margin-left: 8px;
    width: 24px;
    height: 24px;
    overflow: hidden;
    background-image: url('/images/calendar.svg');
    background-repeat: no-repeat;
    background-size: 24px 24px;
    position: relative;
    cursor: pointer;
  }
}

/* --------------------------------- */
/* данные с карточкой персоны */

.uhbData__item--person {
  & .uhbData__value {
    width: auto;
  }
  & .personCard {
    width: auto;
    padding: 0;
  }
  & .personCard__wrap {
    padding: 20px;
    background: #F8F8F8;
    &:hover {
      box-shadow: none;
    }
  }
  & .personCard__image {
    width: 42px;
    height: 42px;
    &.personCard__image--empty {
      background-size: 42px 42px;
    }
  }
  & .personCard__group {
    padding-left: 20px;
  }
  & .personCard__fio {
    padding-top: 3px;
    font-size: 14px;
    & + .personCard__position {
      padding-top: 3px;
    }
  }
  & .personCard__position {
    font-size: 12px;
  }
  & .personCard__dataItem {
    font-size: 12px;
  }
}

/* --------------------------------- */
/* разделитель */

.uhbData__item--separator {
  margin: 37px 0;
  width: 100%;
  height: 1px;
  overflow: hidden;
  font-size: 1px;
  line-height: 0;
  background-color: var(--bdc);
}

/* --------------------------------- */
/* чекбосы */

.uhbData__item--checkbox {
  padding: 0 45px;
  margin: 0 -45px;
  background-color: #fff;
  transition: background-color 0.2s ease;
  & .uhbData__item--checkboxWrap {
    padding: 14px 0;
    border-top: var(--border);
    border-bottom: var(--border);
    transition: border-color 0.2s ease;
  }
  & .uhbData__value {
    align-self: center;
  }
  & .form-checkboxGroup {
    margin-left: 0;
  }
}
.uhbData__item--checkboxFinished {
  background-color: var(--green02);
  & .uhbData__item--checkboxWrap {
    border-color: #fff;
  }
}

/* --------------------------------- */

.userHeaderBlock__button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
  & .button {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

/* ------------------Date Picker--------------------------------------- */

.qs-datepicker-container {
  width: 20.6em;
  margin: 12px 0 0 -9.5em;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: visible;
}

.qs-datepicker {
  position: relative;
  &:before{
    top: -6px;
    left: 50%;
    margin-left: -8px;
    width: 14px;
    height: 14px;
    background: #FFF;
    box-shadow: 3px 3px 7px -3px rgba(0, 0, 0, 0.2);
    transform: rotate(-135deg);
    position: absolute;
    content: '';
    z-index: 10;
  }
}

.qs-overlay {
  padding: 20px .5em;
}

.qs-controls {
  padding: 18px 10px 0;
  text-align: center;
  background: #fff;
  position: relative;
  .qs-month-year {
    color: var(--black08);
    font-family: var(--opens);
    font-weight: 400;
    border-bottom: none;
    display: flex;
    flex-direction: column-reverse;
    &:hover {
      border-bottom: none;
    }
    .qs-year {
      font-size: 12px;
      line-height: 1.9;
    }
    .qs-month {
      font-size: 18px;
      line-height: 1;
      color: var(--black01);
    }
  }
  .qs-arrow {
    width: 12px;
    height: 12px;
    border-bottom: 2px solid var(--black04);
    border-right: 2px solid var(--black04);
    border-radius: 0;
    &:hover {
      background: none;
    }
    &:after {
      display: none;
    }
    &.qs-left {
      margin-left: 10px;
      transform: rotate(135deg);
    }
    &.qs-right {
      margin-right: 10px;
      transform: rotate(-45deg);
    }
  }
}

.qs-squares {
  padding: 18px 18px 22px;
  position: relative;
  &:before{
    width: 100%;
    height: 1px;
    top: 45px;
    left: 0;
    background: #000;
    opacity: 0.1;
    position: absolute;
    content: "";

  }
  .qs-square {
    height: auto;
  }
  .qs-day {
    margin-bottom: 23px;
    color: var(--black06);
    font-size: 13px;
    line-height: 1.25;
    font-weight: 400;
    opacity: 0.5;
  }
  .qs-num {
    font-size: 14px;
    line-height: 2.2;
  }
  .qs-current {
    text-decoration: none;
    background: var(--gray01);
  }
  .qs-active {
    background: var(--primary);
    color: #fff;
  }
}

.qs-square:not(.qs-empty):not(.qs-disabled):not(.qs-day):not(.qs-active):hover {
  background: var(--hover);
  color: #fff;
}