.header__middle-item
  .header__logo
    a(href="/").header__logo-link: img(src="/images/logo.svg")
    a(href="/").header__logo-link.header__logo-link--mobile: img(src="/images/logo-mobile.svg")
  .header__phone
    a(href="tel:+74957851767").header__phone-link +7 (495) 785-17-67
    a(href="tel:+74957851767").header__phone-link.header__phone-link--mobile
      img(src="/images/phone-small.svg")
      | +7 (495) 785-17-67
  .header__client-item.header__auth.header__auth--mobile.js-header__menu-parent: a(href="javascript:void(0);")
    .icon.icon--inline.icon--user: include ../../../images/auth.svg
    .header__top-submenu.js-header__top-submenu
      .header__top-submenu-wrap
        .header__top-submenu-item.list
          .group__userInfo
            .icon.icon--inline: include ../../../images/auth-green.svg
            .group__userName
              .name__user  Константин <br> Константинопольский
              .type__user Юридическое лицо
          .list__item: a(href="javascript:void(0);").list__link Личный кабинет
          .list__item: a(href="javascript:void(0);").list__link Коммуникации
          .list__item: a(href="javascript:void(0);").list__link Корзина
          .list__item: a(href="javascript:void(0);").list__link Объекты
          .list__item: a(href="javascript:void(0);").list__link Спецификации
          .list__item: a(href="javascript:void(0);").list__link Документы
          .list__item: a(href="javascript:void(0);").list__link История заказов
          .list__item: a(href="javascript:void(0);").list__link Сервисные обращения
          .list__item: a(href="javascript:void(0);").list__link Журнал испытаний
          .list__item: a(href="javascript:void(0);").list__link Скидки, бонусы, акции
          .list__item: a(href="javascript:void(0);").list__link Помощь
          .list__item: a(href="javascript:void(0);").list__link Профиль
          .list__item: a(href="javascript:void(0);").list__link Выход
  .header__burger.js-header__burger.burger.burger--close6
    .burger__icon
      .burger__line.burger__line--1
      .burger__line.burger__line--2
      .burger__line.burger__line--3