mixin tech-item(item)
  a(href= item.link.href style='background-image: url(' + item.img + ');').catalog__item
    .title!= item.title
    .descr!= item.descr
    button.button.button-size-md= item.link.title
    .catalog__item-sign(style='background-color: ' + item.color + ';')