mixin tech-item(item)
  a(href= item.link.href).catalog__item(style='background-image: url(' + item.img + ');')
    .title!= item.title
    .descr!= item.descr
    button.button.button-size-md= item.link.title
    .catalog__item-sign(style='background-color: ' + item.color + ';')