/* ------------------------------------------------------------------------- */

@import "../../layout/variables.css";
@import "../../components/fileCard/fileCard.css";

/* ------------------------------------------------------------------------- */

.userDocs {
  & .fileCard {
    width: 25%;
  }
}
.userDocs__item {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: var(--border);
  &:first-child {
    margin-top: 35px;
    border-top: var(--border);
  }
}
.userDocs__title {
  margin-bottom: 15px;
  font-family: var(--museo);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
}

/* ------------------------------------------------------------------------- */