mixin parts-item(item)
  - orderNum = order ? order : ''
  div(class= isDesktop ? 'part__item hint hint--white hint--right' : 'part__item js-popup-open'
  data-popupname="hinticon"
  data-popupcontent= item.label + ' ' + orderNum
  aria-label= item.label
  )
    img(src='/images/thumbs/thumb.jpg' data-src= item.icon).part__pic.lazyload