@import "../../layout/variables.css";

.promo__item{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 272px;
  background-color: #fff;
  background-image: url(/images/special-slider-bg2.jpg);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  padding: 56px 50px 48px;
  overflow: hidden;

  .pic{
    position: absolute;
    right: -40px;
    bottom: -35px;
  }

  .title{
    margin-bottom: 20px;
    padding-right: 440px;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: normal;
    color: #333333;
    font-family: var(--museo);
  }

  .button{
    margin-top: auto;
  }
}
/**
media
 */
.mobile {

  .promo__item{
    min-height: 226px;
    padding: 24px 20px 19px;

    .pic{
      top: 0;
      right: -123px;
      bottom: auto;
    }

    .pic__img{
      max-width: 226px;
      max-height: 226px;
    }

    .title{
      position: relative;
      z-index: 1;
      padding-right: 0;
      font-size: 18px;
      line-height: 23px;
    }
  }
}