@import "../../layout/variables.css";

.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 150;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(51,51,51,.4);
  opacity: 0;
  visibility: hidden;
  transition: var(--trsee);

  .form-group--half {

    .form-element {
      width: 48%;
    }
  }

  .form__bottom {
    display: flex;
    align-items: center;
    margin-top: 25px;

    .button-wrap {
      margin-right: 27px;
    }
  }

  .label--checkbox .label__link {
    text-decoration: none;
    outline: 0;

    &:hover {
      text-decoration: underline;
    }
  }
}

.popup--visible {
  opacity: 1;
  visibility: visible;
}

.popup-opened {
  overflow: visible !important;

  body {
    overflow: hidden;
  }
}

.popup__wrap {
  flex-shrink: 0;
  position: relative;
  width: 100%;
  max-width: 684px;
  min-height: 376px;
  background-color: #FCFCFC;
  background-image: url(/images/popup-bg.png);
  background-repeat: no-repeat;
  /*background-position: 100% 100%;*/
  background-position: right -36px bottom -67px;
  padding: 50px 0;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);

  &:before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 2px;
    background-color: #A1C760;
  }
}

/**

 */
.popup__header {
  position: absolute;
  top: 24px;
  right: 29px;
}

.popup__header-close {
  display: flex;
  align-items: center;
  text-decoration: none;
  outline: 0;

  &:hover {
    .icon--close:after, .icon--close:before,
    .icon--close-primary:after, .icon--close-primary:before {
      background-color: var(--hover);
    }
  }
}

/**

 */
.popup__content-header {
  margin-bottom: 40px;
}

.popup__content-title {
  padding: 0 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  color: #333333;
}

.popup__content-subtitle {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  font-family: var(--opens);
  color: #333333;
}

.popup__content-title--mb-lg {
  margin-bottom: 95px;
}

.popup__content-descr {
  line-height: 26px;
  font-size: 16px;
  text-align: center;
  color: #000000;
  opacity: 0.5;
  font-weight: 700;

  p {
    margin-bottom: 25px;
  }
}

.popup__form {
  flex-shrink: 0;
  width: 480px;
  margin: auto;
}

/**

 */
.popup--info {

  .popup__wrap {
    padding: 90px 0;
  }

  .popup__content-title {
    padding: 0 150px;
  }

  .popup__content-subtitle {
    margin: 21px 0 37px;
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 146px;
    height: 40px;
    margin: 0 auto;
    padding: 0;
  }
}

/**

 */
.popup--photo {
  background-color: rgba(19, 19, 19, 0.8);

  .popup__wrap {
    max-width: 1124px;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    padding: 40px 0 0;

    &:before {
      content: none;
    }
  }

  .project-inner__slider .swiper-container {
    height: 717px;
  }

  .project-inner__slider .swiper-button-next {
    right: -66px;
  }

  .project-inner__slider .swiper-button-prev {
    left: -66px;
  }

  .project-inner__thumbs .swiper-container {
    width: 760px;
  }

  .popup__header {
    top: -26px;
    right: -66px;
  }

  .popup__header-close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #FDFDFD;
    transition: var(--trbg);
    cursor: pointer;

    &:hover {
      background-color: #EBF1D5;
    }
  }

  .icon--close {
    width: 20px;
    height: 20px;
    margin-top: 0;
  }

  .popup__wrap .icon--close:after, .popup__wrap .icon--close:before {
    background-color: #A1C760;
    height: 2px;
  }
}

/**

 */
.popup--style {

  .popup__wrap {
    max-width: 864px;
    background-image: none;
    background-color: #fff;
    padding: 33px;
    box-shadow: 0 26px 41px rgba(0, 0, 0, 0.18);
    border-radius: 5px;

    &:before {
      content: none;
    }
  }

  .popup__content-title {
    padding: 0;
    font-family: var(--museo);
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: normal;
    text-align: left;
  }

  .popup__form {
    width: 100%;
  }

  .form__bottom {
    align-items: flex-start;
  }

  .form__bottom .button-wrap {
    margin-right: 0;
  }
}

/**

 */
.popup--study {

  .form__bottom {
    display: block;

    .button-wrap {
      margin-left: 0;
    }

    .form-element {
      margin-bottom: 8px;

      &:first-child {
        margin-bottom: 19px;
      }
    }
  }

  .form__bottom-study-price {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    font-family: var(--opens);
    color: #404040;
  }
}

/**

 */
.popup--lights {
  background: linear-gradient(0deg, rgba(51, 51, 51, .4), rgba(51, 51, 51, .4));

  .popup__wrap {
    max-width: 1240px;
    margin-left: -15px;
  }

  .popup__content-scroll .swiper-container {
    max-height: 520px;
  }

  .text-editor {
    padding: 0 30px 0 0;
  }

  .swiper-scrollbar-drag {
    background: rgba(196, 196, 196, 0.5);
  }

  .swiper-container-vertical > .swiper-scrollbar {
    width: 8px;
    background: rgba(196, 196, 196, 0.3);
  }
}

/**

 */
.popup--single {

  .popup__wrap {
    max-height: 85%;
    min-height: 85%;
  }

  .popup__content {
    position: relative;
    height: 100%;
  }

  .pic {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .pic__img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
/**
media
 */
.mobile {

  .popup--lights {

    .popup__wrap {
      margin-left: 0;
      padding: 18px 16px;
    }

    .popup__content-title {
      font-size: 18px;
    }

    .text-editor ol li:before,
    .text-editor,
    .text-editor ol {
      font-size: 14px;
      line-height: 22px;
    }

    .text-editor ol li:before {
      margin-right: 12px;
    }
  }

  .popup__header {
    top: 20px;
    right: 16px;

    .icon--close {
      width: 15px;
      height: 15px;
    }
  }

  .popup--lights .swiper-container-vertical > .swiper-scrollbar{
    width: 4px;
  }
}
