include ./pug/add-cart
include ./pug/assist
include ./pug/career
include ./pug/consultation
include ./pug/design
include ./pug/info
include ./pug/lights
if page === 'project-inner' || page === 'emunit' || page === 'aruna' || page === 'aruna-product' || page === 'signone'
  include ./pug/photo
include ./pug/service
include ./pug/single
if page === 'solution'
  include ./pug/solution
include ./pug/spec-reg
if page === 'study'
  include ./pug/study
if isMobile
  include ./pug/stack-popup-mobile
  include ./pug/hint-price-popup-mobile
  include ./pug/hint-registered-popup-mobile
  include ./pug/hint-outstock-popup-mobile
