.popup.js-popup-consultation
  .popup__wrap
    .popup__header
      a(href="javascript:void(0);" data-popupname="consultation").popup__header-close.js-popup-close: .icon.icon--close.icon--close-dark
    .popup__content
      .popup__content-header
        .popup__content-title Запрос на техничекую консультацию
        .popup__content-subtitle Если понадобиться второй заголовок
      .popup__form.form: form(action="javascript:void(0);")
        .form-wrap
          .form-group.form-group--half
            .form-element
              input(type="text" placeholder="Имя").form-control
              .error
            .form-element
              input(type="text" placeholder="E-mail / телефон").form-control
              .error
          .form-group
            .form-element
              textarea(placeholder="Ваше сообщение" rows="5").form-control
              .error
          .form__bottom
            .button-wrap: button(type="submit").button Отправить
            .form-group
              .form-element
                label.label.label--checkbox
                  input.form-control.js-form-validate__checked(type='checkbox', checked='')
                  .icon.icon--checkbox
                  .label__text
                    | Я соглашаюсь на&nbsp;
                    a(href='javascript:void(0);').label__link обработку моих персональных данных,<br>
                    | отправляя сообщение компании «Белый свет»
                  .error

.popup.popup--info.js-popup-info
  .popup__wrap
    .popup__header
      a(href="javascript:void(0);" data-popupname="info").popup__header-close.js-popup-close: .icon.icon--close.icon--close-dark
    .popup__content
      .popup__content-header
        .popup__content-title Ваше сообщение успешно отправленно
        .popup__content-subtitle В скором времени с вами свяжутся
        a(href="javascript:void(0);").button.button--flat Ок

.popup.popup--photo.js-popup-photo
  .popup__wrap
    .popup__header
      a(href="javascript:void(0);" data-popupname="photo").popup__header-close.js-popup-close: .icon.icon--close.icon--close-dark
    .popup__content
      .project-inner__slider.js-project-inner-popup-slider
        .swiper-button-prev
        .swiper-button-next
        .swiper-container
          .swiper-wrapper
            .swiper-slide: img(src="/images/temp/project-inner-slider-pic2.jpg").project-inner__slider-pic
            .swiper-slide: img(src="/images/temp/project-inner-slider-pic3.jpg").project-inner__slider-pic
            .swiper-slide: img(src="/images/temp/project-inner-slider-pic4.jpg").project-inner__slider-pic
            .swiper-slide: img(src="/images/temp/project-inner-slider-pic5.jpg").project-inner__slider-pic
      .project-inner__thumbs.js-project-inner-popup-thumbs
        .swiper-container
          .swiper-wrapper
            .swiper-slide: img(src="/images/temp/project-inner-slider-pic2.jpg").project-inner__slider-pic
            .swiper-slide: img(src="/images/temp/project-inner-slider-pic3.jpg").project-inner__slider-pic
            .swiper-slide: img(src="/images/temp/project-inner-slider-pic4.jpg").project-inner__slider-pic
            .swiper-slide: img(src="/images/temp/project-inner-slider-pic5.jpg").project-inner__slider-pic

.popup.popup--style.js-popup-career
  .popup__wrap
    .popup__header
      a(href="javascript:void(0);" data-popupname="career").popup__header-close.js-popup-close: .icon.icon--close.icon--close-primary
    .popup__content
      .popup__content-header
        .popup__content-title Вакансия «Помощник юриста»
      .popup__form: include ../../pages/career/pug/career-form

.popup.popup--style.popup--study.js-popup-study
  .popup__wrap
    .popup__header
      a(href="javascript:void(0);" data-popupname="study").popup__header-close.js-popup-close: .icon.icon--close.icon--close-primary
    .popup__content
      .popup__content-header
        .popup__content-title 3-й всероссийский съезд по Автономным системам аварийного освещения
      .popup__form: include ../../pages/career/pug/study-form

.popup.popup--style.popup--lights.js-popup-lights
  .popup__wrap
    .popup__header
      a(href="javascript:void(0);" data-popupname="lights").popup__header-close.js-popup-close
        .icon.icon--close.icon--close-primary
    .popup__content
      .popup__content-header
        .popup__content-title Справочная информация
      .popup__content-scroll
        .swiper-container
          .swiper-wrapper
            .swiper-slide.text-editor
              p Помимо принадлежности к техническому решению и типу светового прибора, для каждой модели указаны название и артикул, а также следующие характеристики:
              ol
                li Режим работы;
                li Модификация источника аварийного питания (электронной платы), который определяет набор функций светового прибора – см. таблицу №14;
                li Светотехнические характеристики (номинальные световые потоки в нормальном и аварийном режиме для аварийных светильников и минимальная яркость знака безопасности для световых указателей);
                li Электрические характеристики (потребляемая мощность, коэффициент мощности, класс защиты от поражения электрическим током);
                li Диапазон температур эксплуатации;
                li Масса светового прибора.
              p Для аварийных светильников указаны номинальные световые потоки на начало срока службы, снижение светового потока к концу срока службы необходимо учитывать при светотехнических расчетах, применяя соответствующие коэффициенты запаса (либо коэффициенты эксплуатации).
              p Для световых указателей указана номинальная яркость знака безопасности на начало срока службы.
              p Структура кодированного обозначения светового прибора Технического решения №1
              img(src="/images/popup-lights.png")
          .swiper-scrollbar

.popup.popup--photo.popup--single.js-popup-single
  .popup__wrap
    .popup__header
      a(href="javascript:void(0);" data-popupname="single").popup__header-close.js-popup-close: .icon.icon--close.icon--close-dark
    .popup__content: .pic: img(src="./images/catalog/catalog-favourite-pic4.png").pic__img