@import "../../layout/variables.css";

.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 150;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(19, 19, 19, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: var(--trsee);

  .form-group--half {

    .form-element {
      width: 48%;
    }
  }

  .form__bottom {
    display: flex;
    align-items: center;
    margin-top: 25px;

    .button-wrap {
      margin-right: 27px;
    }
  }

  .label--checkbox .label__link {
    text-decoration: none;
    outline: 0;

    &:hover {
      text-decoration: underline;
    }
  }
}

.popup--visible {
  opacity: 1;
  visibility: visible;
}

.popup-opened {
  overflow: visible !important;

  body {
    overflow: hidden;
  }
}

.popup__wrap {
  flex-shrink: 0;
  position: relative;
  width: 100%;
  max-width: 864px;
  padding: 33px;
  background-color: #fff;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

/**

 */
.popup__header {
  position: absolute;
  top: 24px;
  right: 29px;
}

.popup__header-close {
  display: flex;
  align-items: center;
  text-decoration: none;
  outline: 0;

  &:hover {
    .icon--close:after, .icon--close:before,
    .icon--close-primary:after, .icon--close-primary:before {
      background-color: var(--hover);
    }
  }
}

/**

 */
.popup__content-header {
  margin-bottom: 40px;
}

.popup__content-title {
  padding: 0 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  color: #333333;
}

.popup__content-subtitle {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  font-family: var(--opens);
  color: #333333;
}

.popup__content-title--mb-lg {
  margin-bottom: 95px;
}

.popup__content-descr {
  line-height: 26px;
  font-size: 16px;
  text-align: center;
  color: #000000;
  opacity: 0.5;
  font-weight: 700;

  p {
    margin-bottom: 25px;
  }
}

.popup__form {
  flex-shrink: 0;
  width: 480px;
  margin: auto;
}

/**

 */
.popup--info {

  .popup__wrap {
    padding: 90px 0;
  }

  .popup__content-title {
    padding: 0 150px;
  }

  .popup__content-subtitle {
    margin: 21px 0 37px;
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 146px;
    height: 40px;
    margin: 0 auto;
    padding: 0;
  }
}

/**

 */
.popup--photo {
  background-color: rgba(19, 19, 19, 0.8);

  .popup__wrap {
    max-width: 1124px;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    padding: 40px 0 0;

    &:before {
      content: none;
    }
  }

  .project-inner__slider .swiper-container {
    height: 717px;
  }

  .project-inner__slider .swiper-button-next {
    right: -66px;
  }

  .project-inner__slider .swiper-button-prev {
    left: -66px;
  }

  .project-inner__thumbs .swiper-container {
    width: 760px;
    height: 89px;
  }

  .project-inner__slider-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .popup__header {
    top: -26px;
    right: -66px;
  }

  .popup__header-close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #FDFDFD;
    transition: var(--trbg);
    cursor: pointer;

    &:hover {
      background-color: #EBF1D5;
    }
  }

  .icon--close {
    width: 20px;
    height: 20px;
    margin-top: 0;
  }

  .popup__wrap .icon--close:after, .popup__wrap .icon--close:before {
    background-color: #A1C760;
    height: 2px;
  }
}

/**

 */
.popup--style {

  .popup__wrap {
    max-width: 864px;
    background-image: none;
    background-color: #fff;
    padding: 33px;
    box-shadow: 0 26px 41px rgba(0, 0, 0, 0.18);
    border-radius: 5px;

    &:before {
      content: none;
    }
  }

  .popup__content-title {
    padding: 0;
    font-family: var(--museo);
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: normal;
    text-align: left;
  }

  .popup__form {
    width: 100%;
  }

  .form__bottom {
    align-items: flex-start;
  }

  .form__bottom .button-wrap {
    margin-right: 0;
  }
}

/**

 */
.popup--study {

  .form__bottom {
    display: block;

    .button-wrap {
      margin-left: 0;
    }

    .form-element {
      margin-bottom: 8px;

      &:first-child {
        margin-bottom: 19px;
      }
    }
  }

  .form__bottom-study-price {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 26px;
    font-family: var(--opens);
    color: #404040;
  }
}

/**

 */
.popup--lights {
  background: linear-gradient(0deg, rgba(51, 51, 51, .4), rgba(51, 51, 51, .4));

  .popup__wrap {
    max-width: 1240px;
    margin-left: -15px;
  }

  .popup__content-scroll .swiper-container {
    max-height: 520px;
  }

  .text-editor {
    padding: 0 30px 0 0;
  }

  .swiper-scrollbar-drag {
    background: rgba(196, 196, 196, 0.5);
  }

  .swiper-container-vertical > .swiper-scrollbar {
    width: 8px;
    background: rgba(196, 196, 196, 0.3);
  }
}

/**

 */
.popup--single {

  .popup__wrap {
    max-height: 85%;
    min-height: 85%;
  }

  .popup__content {
    position: relative;
    height: 100%;
  }

  .pic {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .pic__img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
/**
.popup--addcart
 */
.popup--addcart {

  .popup__wrap {
    max-width: 407px;
    padding: 20px 22px 22px;
  }

  .popup__header {
    top: 15px;
    right: 15px;
  }

  .popup__content-header {
    margin-bottom: 15px;
  }

  .popup__content-title {
    padding-left: 0;
    font-family: var(--museo);
    font-weight: 600;
    font-size: 17px;
    text-align: left;
    line-height: 1;
  }

  .popup__content-specwrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .button {
    width: 184px;
    height: 32px;
  }
}
/**
.popup--specreg
 */
.popup--specreg {

  .popup__wrap {
    max-width: 457px;
    padding: 43px 39px 30px;
  }

  .popup__content-header {
    margin-bottom: 16px;
  }

  .popup__content-spectitle {
    padding: 0 39px 23px;
    border-bottom: var(--border);
    font-family: var(--museo);
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: #404040;
  }

  .popup__form {
    width: auto;
  }

  .form-title {
    margin-bottom: 18px;
    font-family: var(--museo);
    font-weight: 600;
    font-size: 20px;
    color: #404040;
  }

  .form-placeholder--space-between .link {
    font-family: var(--museo);
    font-size: 16px;
  }

  .label--checkbox .label__text {
    font-family: var(--opens);
    font-weight: 400;
    font-size: 14px;
    color: #404040;
  }

  .button-wrap {
    margin-bottom: 17px;

    .button {
      width: 100%;
      min-height: 44px;
      font-size: 14px;
    }
  }

  .form-footer {
    display: flex;
    align-items: center;
    justify-content: center;

    .link {
      margin-left: 5px;
    }
  }
}
/**

 */
.popup__content--spec-choose {

  .form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0 17px;
    padding-bottom: 28px;
    border-bottom: var(--border);
  }

  .button {
    width: 263px;
    min-height: 44px;
  }

  .form__bottom {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-top: 0;
    font-family: var(--opens);
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;

    .link {
      display: flex;
      justify-content: flex-end;
      text-align: right;
      margin-top: 19px;
    }
  }

  .button-wrap {
    margin-top: 28px;
  }

  .select-custom--default .choices__list--single .choices__item.choices__placeholder {
    font-size: 14px;
  }

  .choices__list--dropdown .choices__list {
    max-height: 200px;
  }
}
/**
media
 */
.mobile {

  .popup {
    padding: 32px 16px;
  }

  .popup__wrap {
    border-radius: 3px;
  }

  .popup--lights {

    .popup__wrap {
      margin-left: 0;
      padding: 18px 16px;
    }

    .popup__content-title {
      font-size: 18px;
    }

    .text-editor ol li:before,
    .text-editor,
    .text-editor ol {
      font-size: 14px;
      line-height: 22px;
    }

    .text-editor ol li:before {
      margin-right: 12px;
    }
  }

  .popup__header {
    top: 20px;
    right: 16px;

    .icon--close {
      width: 15px;
      height: 15px;
    }
  }

  .popup--lights .swiper-container-vertical > .swiper-scrollbar{
    width: 4px;
  }
}

/**
mobile
 */
.mobile {

  .popup--style .popup__wrap {
    padding: 20px 16px;
    border-radius: 3px;
  }

  .popup--style .popup__content-title {
    padding-right: 32px;
    font-size: 15px;
    line-height: 19px;
  }

  .popup--stack .popup__content-header {
    margin-bottom: 24px;
  }

  .popup--photo .project-inner__slider .swiper-container {
    height: 385px;
  }

  .popup--photo .popup__wrap {
    padding: 75px 16px 20px;
  }

  .popup__content-hint-text {
    padding-right: 30px;
    font-size: 12px;
    line-height: 20px;

    p {

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .popup--addcart {

    .popup__content-specwrap {
      flex-direction: column;
      align-items: center;
      padding-left: 12px;
      padding-right: 12px;
    }

    .button {
      width: 100%;
      margin-top: 22px;
      margin-bottom: 12px;
    }
  }

  .popup--specreg {

    .popup__header {
      top: 12px;
      right: 12px;
    }

    .popup__wrap {
      padding: 30px 12px 20px;
    }

    .popup__content-spectitle {
      padding: 0 0 15px;
      font-size: 14px;
      line-height: 19px;
    }

    .form-title {
      font-size: 15px;
      line-height: 19px;

      &.form-title--success {
        text-align: center;
      }
    }

    .form-placeholder--space-between .link {
      font-size: 12px;
    }

    .label--checkbox .label__text {
      font-size: 12px;
    }

    .button-wrap .button {
      font-size: 13px;
    }

    .form-footer {
      justify-content: space-between;
      font-size: 11px;

      &.form-footer--success {
        justify-content: center;

        .link {
          margin-left: 0;
          font-size: 16px;
        }
      }
    }

    .form-footer .link {
      margin-left: 0;
      font-size: 12px;
    }
  }

  .popup__content--spec-choose{

    .button {
      min-height: 40px;
      margin-top: 17px;
    }

    .form-group {
      flex-direction: column;
      align-items: center;
      padding-bottom: 20px;
    }

    .form__bottom {
      align-items: center;
      text-align: center;
      font-size: 13px;
      line-height: 18px;

      .link {
        font-size: 15px;
        line-height: 20px;
      }
    }

    .button-wrap {
      margin-top: 3px;
    }
  }

  .popup--solution {

    .form--style .form__bottom {
      padding-left: 0;
      padding-right: 0;
    }

    .form__bottom .button-wrap {
      margin-top: 3px;
      margin-left: 0;
    }
  }
}