extends ../layout.pug
include ../../components/personCard/personCard.pug
include ../../components/communicationCard/communicationCard.pug

block content
  .content
    .container
      include ../../components/content-header/content-header-lk
      .user-announce
        include ../common/tagline
        .user-announce-communications
          each item in communication
            +communicationCard(
              item.date,
              item.tags,
              item.status,
              item.title,
              item.description,
              item.link
            )
          .user-announce-communications-footer: a(href="javascript:void(0)").button.button--press="Показать еще"

        .user-announce-block
          .user-announce-block-title Ваши менеджеры
          .user-announce-block-content
            .personCardGroup
              each item in person
                +personCard(
                  item.image,
                  item.fio,
                  item.position,
                  item.telephone,
                  item.fax,
                  item.mobile,
                  item.email
                )
        .user-announce-block
          .user-announce-block-title Связаться с нами
          .user-announce-block-content
            include ../../pages/connect/pug/connect