@import "../../layout/variables.css";
@import "../../pages/connect/connect.css";

.user-announce {

  .tagline {
    margin-top: 16px;
    padding-top: 25px;
    border-top: var(--border);
  }

  .tagline__clear {
    margin-left: auto;
  }
}

.user-announce-bottom-title {
  margin-top: 50px;
  margin-bottom: 25px;
  padding-bottom: 16px;
  border-bottom: var(--border);
  font-family: var(--museo);
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: -0.02em;
  color: #333333;
}