mixin select-custom(items, placeholder, style)
  - styleClass = style ? 'select-custom select-custom--' + style : 'select-custom'
  div(class= styleClass)
    select.form-control.js-select-custom
      - counter = 0;
      each item in items
        //- неправильное условие на отсутствие выделенного пункта
        if !item.selected & !counter
          option(placeholder)= placeholder
          - counter++
        if item.value
          option(value= item.value selected= item.selected)= item.title