.header__search
  .form: form(action="javascript:void(0);")
    .form-group
      .form-element
        input(type="text" placeholder="Поиск").form-control
        .error
      .button-wrap: button(type="submit").button