@import "../../layout/variables.css";

.content--registration {

  .content__bottom {
    justify-content: center;
  }
}

.registration {
  background-color: #fff;
  margin: 0 auto 80px;
  padding: 0 100px 40px;

  .form__bottom {
    margin-top: 40px;
  }

  .form-group--reg-spacer {
    position: relative;
    margin-top: 25px;
    padding-top: 25px;
    border-top: 1px solid rgba(196, 196, 196, 0.5);
  }

  .form-placeholder {
    height: auto;
  }

  .form-placeholder-note {
    display: block;
    font-size: 12px;
    line-height: 1.5;
    padding-bottom: 10px;
  }

  .form-element--reg-address {
    position: absolute;
    top: 25px;
    right: 0;
    z-index: 10;
  }
}

.registration__item {

  &:first-child {
    margin-bottom: 40px;
  }
  .form__bottom .button-wrap {
    margin-right: 0;
  }
  .form__bottom .form-group {
    margin-bottom: 0;
  }
}

.registration__item-title {
  margin-bottom: 22px;
  padding-top: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 36px;
  letter-spacing: 0.01em;
  font-family: var(--museo);
}

.registration__specialization {
  margin-bottom: 18px;

  .form-control {
    flex-grow: 1;
    width: auto;
    height: 27px;
    margin-bottom: 6px;
    font-size: 13px;
  }
}

.registration__specialization-title {
  margin-bottom: 7px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  font-family: var(--opens);
  color: #404040;
}

.registration__header {
  position: relative;
  display: flex;
  align-items: center;
  height: 83px;

  &:after {
    content: '';
    position: absolute;
    left: -100px;
    right: -100px;
    bottom: 0;
    height: 1px;
    background-color: rgba(196, 196, 196, 0.5);
  }

  .label {
    width: 50%;
  }

  .label--checkbox {
    padding-left: 22px;
    min-height: 22px;
  }

  .label--checkbox .label__text {
    margin-left: 15px;
    font-family: var(--museo);
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    color: #333;
  }

  .label--checkbox .icon--checkbox {
    top: 4px;
    min-width: 22px;
    min-height: 22px;
    border-width: 2.5px;
  }

  .label--checkbox.label--aka-radio input[type="radio"]:checked ~ .icon--checkbox:before {
    background-image: url(/images/checkbox-large.svg);
    top: 1px;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: auto;
  }
}

.form-element--reg-person {
  margin-top: 18px;

  .label--checkbox {
    padding-left: 22px;
    min-height: 22px;
  }

  .label--checkbox .label__text {
    margin-left: 15px;
    font-family: var(--museo);
    font-size: 20px;
    line-height: 32px;
    font-weight: 500;
    color: #333;
  }

  .label--checkbox .icon--checkbox {
    top: 4px;
    min-width: 22px;
    min-height: 22px;
    border-width: 2.5px;
  }

  .label--checkbox input[type="checkbox"]:checked ~ .icon--checkbox:before {
    background-image: url(/images/checkbox-large.svg);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: auto;
  }
}

.registration__item--person {

  .form__bottom {
    justify-content: space-between;
    margin-top: 28px;

    .button {
      width: 210px;
    }

    .form-group,
    .button-wrap {
      margin: 0;
    }
  }
}
/**
mobile
 */
.mobile {

  .registration {
    margin: 0 -16px -40px;
    padding: 22px 16px 38px;

    .col-sm-6 {
      margin-bottom: 12px;
    }

    .form--style .form-group {
      margin-bottom: 0;

      .form-element {
        margin-bottom: 12px;
      }
    }

    .form--style .form__bottom {
      margin-top: 0;
      padding: 0;

      .button-wrap {
        width: 100%;
        margin-right: 0;
      }
    }

    .button-wrap,
    .form-group {
      margin-left: 0;
    }
  }

  .registration__specialization-title {
    font-size: 12px;
  }

  .tagline .form-control {
    height: 27px;
    margin-top: 9px;
  }

  .registration__item-title {
    margin-bottom: 10px;
    font-size: 18px;
    text-align: left;
  }

  .registration .form-element--reg-address {
    position: relative;
    top: 0;
    padding-left: 16px;

    .label--checkbox .label__text {
      font-size: 12px;
    }
  }

  .registration__specialization {

    .tagline__wrap {
      flex-wrap: nowrap;
    }

    .form-control {
      width: 100%;
      padding: 0 12px;
    }
  }

  .registration__item:first-child {
    margin-bottom: 28px;
  }

  .registration__header {
    flex-direction: column;
    height: auto;
    padding-bottom: 22px;

    .label {
      width: 100%;
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &:after {
      left: -16px;
      right: -16px;
    }
  }

  .registration__header .label--checkbox .label__text {
    font-size: 18px;
    line-height: 22px;
  }

  .registration__header .label--checkbox .icon--checkbox {
    top: 0;
  }

}