@import "../../layout/variables.css";

.content--registration{

  .content__bottom {
    justify-content: center;
  }

  .content__header .title {
    margin-bottom: 20px;
    text-align: center;
  }
}

.registration {
  background-color: #fff;
  margin: 0 auto -40px;
  padding: 48px 116px 56px;

  .form__bottom {
    margin-top: 40px;
  }

  .form-group--reg-spacer {
    position: relative;
    margin-top: 25px;
    padding-top: 25px;
    border-top: 1px solid rgba(196, 196, 196, 0.5);
  }

  .form-placeholder {
    height: auto;
  }

  .form-placeholder-note {
    display: block;
    font-size: 12px;
    line-height: 1.5;
    padding-bottom: 10px;
  }

  .form-element--reg-address {
    position: absolute;
    top: 25px;
    right: 0;
    z-index: 10;
  }
}

.registration__item {

  &:first-child {
    margin-bottom: 40px;
  }
}

.registration__item-title {
  margin-bottom: 22px;
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.01em;
  font-family: var(--museo);
}

.registration__specialization {
  margin-bottom: 18px;

  .form-control {
    height: 27px;
    margin-bottom: 6px;
  }
}

.registration__specialization-title {
  margin-bottom: 7px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  font-family: var(--opens);
  color: #404040;
}
/**
media
 */
.mobile {

  .registration {
    margin: 0 -16px -40px;
    padding: 22px 16px 38px;

    .col-sm-6{
      margin-bottom: 12px;
    }

    .form--style .form-group{
      margin-bottom: 0;

      .form-element{
        margin-bottom: 12px;
      }
    }

    .form--style .form__bottom{
      margin-top: 0;
      padding: 0;

      .button-wrap{
        width: 100%;
      }
    }

    .button-wrap,
    .form-group{
      margin-left: 0;
    }
  }

  .registration__specialization-title{
    font-size: 12px;
  }

  .tagline .form-control{
    height: 27px;
    margin-top: 9px;
  }

  .registration__item-title{
    font-size: 18px;
  }
}