extends ../layout.pug

block content
  .content
    .container
      .thanks
        .thanks__title Спасибо за ваш запрос в предоставлении <br>доступа к Личному кабинету!
        .thanks__descr Ваш запрос отправлен и будет нами рассмотрен! Наши специалисты свяжутся <br>с вами с самое ближайшее время по указанным вами контактам.
        .thanks__button: a(href="javascript:void(0);").button на главную