mixin brands-item(item)
  .catalog__item
    .catalog__item-media: .pic
      img(src= item.img).pic__img
    .catalog__item-wrap
      .title!= item.title
      if item.text
        .descr!= item.text
    if item.description
      .text!= item.description