.popup.popup--addcart.js-popup-addcart
  .popup__wrap
    .popup__header
      a(href="javascript:void(0);" data-popupname="addcart").popup__header-close.js-popup-close: .icon.icon--close.icon--close-primary
    .popup__content
      .popup__content-header
        .popup__content-title Товар добавлен в корзину!
      .popup__content-specwrap
        button.button Оформить заказ
        a(href="javascript:void(0);" data-popupname="addcart").link.link--simple.js-popup-close Остаться на странице