.popup.popup--addNewSaleTeamPerson.js-popup-add-new-sale-team-person
  .popup__wrap
    .popup__header
      a(href="javascript:void(0);" data-popupname="add-new-sale-team-person").popup__header-close.js-popup-close: .icon.icon--close.icon--close-dark
    .popup__content
      .popup__content-header
        .popup__content-title Добавить контакт

      .popup__form.form.form--style: form(action="javascript:void(0);")
        .form-wrap
          .form-group.form-group--3col
              .form-element: label
                .form-placeholder Фамилия:
                input(placeholder='Введите фамилию').form-control
              .form-element: label
                .form-placeholder Имя:
                input(placeholder='Введите имя').form-control
              .form-element: label
                .form-placeholder Отчество:
                input(placeholder='Введите отчество').form-control
          .form-group
            .form-element: label
              .form-placeholder Должность:
              input(placeholder='Укажите должность').form-control
          .form-group.form-group--2col
            .form-element: label
              .form-placeholder Телефон:
              input(placeholder='Введите телефон').form-control
            .form-element: label
              .form-placeholder Мобильный телефон:
              input(placeholder='Введите мобильный телефон').form-control
          .form-group
            .form-element: label
              .form-placeholder E-mail:
              input(placeholder='Введите e-mail').form-control
        .popup__buttonGroup
          a(href="javascript:void(0);" data-popupname="add-new-sale-team-person").button.buttonWhitoutBorder.button--empty.js-popup-close: span!='Отменить'
          a(href="javascript:void(0);" data-popupname="add-new-sale-team-person").button.buttonFixSize.js-popup-close!='Добавить'