.popup.popup--smallPopup.popup--width500.js-popup-block-employees
  .popup__wrap
    .popup__header
      a(href="javascript:void(0);" data-popupname="block-employees").popup__header-close.js-popup-close: .icon.icon--close.icon--close-dark
    .popup__content
      .popup__content-header
        .popup__content-title Блокировка сотрудника
        .popup__content-subtitle Вы уверены что хотите заблокировать<br /> сотрудника и отключить его доступ к системе?
        .popup__buttonGroup
          a(href="javascript:void(0);" data-popupname="block-employees").button.button--empty.js-popup-close отменить
          a(href="javascript:void(0);" data-popupname="block-employees").button.js-popup-close Заблокировать