.popup.popup--style.js-popup-career
  .popup__wrap
    .popup__header
      a(href="javascript:void(0);" data-popupname="career").popup__header-close.js-popup-close: .icon.icon--close.icon--close-primary
    .popup__content
      .popup__content-header
        .popup__content-title Вакансия «Помощник юриста»
      .popup__form: include ../../../pages/career/pug/career-form
