.popup.popup--addNewEmployees.js-popup-change-password
  .popup__wrap
    .popup__header
      a(href="javascript:void(0);" data-popupname="change-password").popup__header-close.js-popup-close: .icon.icon--close.icon--close-dark
    .popup__content
      .popup__content-header
        .popup__content-title Изменение пароля
      .popup__form.form.form--style: form(action="javascript:void(0);")
        .form-group.form-group--3col
          .form-element: label
            .form-placeholder Старый пароль:
            input(placeholder='' value="").form-control
          .form-element: label
            .form-placeholder Новый пароль:
            input(placeholder='' value="").form-control
          .form-element: label
            .form-placeholder Новый пароль ещё раз:
            input(placeholder='' value="").form-control
        .popup__buttonGroup
          a(href="javascript:void(0);" data-popupname="change-password").button.buttonWhitoutBorder.button--empty.js-popup-close: span отменить
          a(href="javascript:void(0);" data-popupname="change-password").button.buttonFixSize.js-popup-close Сохранить