.popup.popup--smallPopup.js-popup-delete-sale-01
  .popup__wrap
    .popup__header
      a(href="javascript:void(0);" data-popupname="delete-sale-01").popup__header-close.js-popup-close: .icon.icon--close.icon--close-dark
    .popup__content
      .popup__content-header
        .popup__content-title!='Удалить продажу'
        .popup__content-subtitle!='Вы действительно хотите<br />удалить эту продажу?'
        .popup__buttonGroup
          a(href="javascript:void(0);" data-popupname="delete-sale-01").button.button--empty.js-popup-close!='Heт'
          a(href="javascript:void(0);" data-popupname="delete-sale-02").button.js-popup-open!='Да, хочу'