.popup.popup--smallPopup.js-popup-delete-file
  .popup__wrap
    .popup__header
      a(href="javascript:void(0);" data-popupname="delete-file").popup__header-close.js-popup-close: .icon.icon--close.icon--close-dark
    .popup__content
      .popup__content-header
        .popup__content-title Удалить документ
        .popup__content-subtitle Вы действительно хотите<br />удалить этот документ?
        .popup__buttonGroup
          a(href="javascript:void(0);" data-popupname="delete-file").button.button--empty.js-popup-close Heт
          a(href="javascript:void(0);" data-popupname="delete-file").button.js-popup-close Да, хочу