.popup.popup--smallPopup.js-popup-delete-delivery-address-01
  .popup__wrap
    .popup__header
      a(href="javascript:void(0);" data-popupname="delete-delivery-address-01").popup__header-close.js-popup-close: .icon.icon--close.icon--close-dark
    .popup__content
      .popup__content-header
        .popup__content-title Удалить адрес доставки
        .popup__content-subtitle Вы действительно хотите<br />удалить данный адрес?
        .popup__buttonGroup
          a(href="javascript:void(0);" data-popupname="delete-delivery-address-01").button.button--empty.js-popup-close Heт
          a(href="javascript:void(0);" data-popupname="delete-delivery-address-01").button.js-popup-close Да, хочу