.popup.popup--smallPopup.js-popup-delete-company-02
  .popup__wrap
    .popup__header
      a(href="javascript:void(0);" data-popupname="delete-company-02").popup__header-close.js-popup-close: .icon.icon--close.icon--close-dark
    .popup__content
      .popup__content-header
        .popup__content-title Удалить юр. лицо
        .popup__content-subtitle Если вы удалите юр. лицо, <br />то восстановить его будет<br /> невозможно.
        .popup__contentAnderLine Продолжить удаление юр. лица?
        .popup__buttonGroup
          a(href="javascript:void(0);" data-popupname="delete-company-02").button.js-popup-close Да, удаляйте
          a(href="javascript:void(0);" data-popupname="delete-company-02").button.button--empty.js-popup-close Heт