.popup.popup--smallPopup.js-popup-delete-sale-02
  .popup__wrap
    .popup__header
      a(href="javascript:void(0);" data-popupname="delete-sale-02").popup__header-close.js-popup-close: .icon.icon--close.icon--close-dark
    .popup__content
      .popup__content-header
        .popup__content-title!='Удалить продажу'
        .popup__content-subtitle!='Если вы удалите продажу, <br>то восстановить ее будет невозможно.'
        .popup__contentAnderLine!='Продолжить удаление продажи?'
        .popup__buttonGroup
          a(href="javascript:void(0);" data-popupname="delete-sale-02").button.js-popup-close!='Да, удалить'
          a(href="javascript:void(0);" data-popupname="delete-sale-02").button.button--empty.js-popup-close!='Heт'