.popup.popup--smallPopup.js-popup-delete-specification-02
  .popup__wrap
    .popup__header
      a(href="javascript:void(0);" data-popupname="delete-specification-02").popup__header-close.js-popup-close: .icon.icon--close.icon--close-dark
    .popup__content
      .popup__content-header
        .popup__content-title Удалить спецификацию
        .popup__content-subtitle Если вы удалите спецификацию, <br />то восстановить его будет<br /> невозможно.
        .popup__contentAnderLine Продолжить удаление спецификации?
        .popup__buttonGroup
          a(href="javascript:void(0);" data-popupname="delete-specification-02").button.js-popup-close Да, удалить
          a(href="javascript:void(0);" data-popupname="delete-specification-02").button.button--empty.js-popup-close Heт