.popup.popup--smallPopup.js-popup-delete-specification-01
  .popup__wrap
    .popup__header
      a(href="javascript:void(0);" data-popupname="delete-specification-01").popup__header-close.js-popup-close: .icon.icon--close.icon--close-dark
    .popup__content
      .popup__content-header
        .popup__content-title Удалить спецификацию
        .popup__content-subtitle Вы действительно хотите<br />удалить эту спецификацию?
        .popup__buttonGroup
          a(href="javascript:void(0);" data-popupname="delete-specification-01").button.button--empty.js-popup-close Heт
          a(href="javascript:void(0);" data-popupname="delete-specification-02").button.js-popup-open Да, хочу