.popup.popup--addNewFeedback.js-popup-edit-sale-feedback
  .popup__wrap
    .popup__header
      a(href="javascript:void(0);" data-popupname="edit-sale-feedback").popup__header-close.js-popup-close: .icon.icon--close.icon--close-dark
    .popup__content
      .popup__content-header
        .popup__content-title!='Редактировать отзыв'

      .popup__form.form.form--style: form(action="javascript:void(0);")
        .form-wrap
          .form-group
            .form-element: label
              .form-placeholder!='Текст отзыва'
              textarea(rows="8").form-control!='Тут будет текст отзыва, восхищение, признательность, пожелания процветания и всех прочих благ. Тут будет текст отзыва, восхищение, признательность, пожелания процветания и всех прочих благ. Тут будет текст отзыва, восхищение, признательность, пожелания процветания и всех прочих благ. Тут будет текст отзыва, восхищение, признательность, пожелания процветания и всех прочих благ. Тут будет текст отзыва, восхищение, признательность, пожелания процветания и всех прочих благ и всех прочих благ. Тут будет текст отзыва, восхищение, признательность, пожелания процветания и всех прочих благ. Тут будет текст отзыва, восхищение.'
          .form-group
            label.label.label--checkbox.label--aka-radio
              input(type='checkbox' name='agree' checked).form-control
              .icon.icon--checkbox
              .label__text!='Даю согласие на размещение отзыва в разделе <a href="javascript:void(0);">Проекты</a>'

        .popup__buttonGroup
          a(href="javascript:void(0);" data-popupname="edit-sale-feedback").button.buttonWhitoutBorder.button--empty.js-popup-close: span!='отменить'
          a(href="javascript:void(0);" data-popupname="edit-sale-feedback").button.buttonFixSize.js-popup-close!='Сохранить'