.popup.popup--editObject.js-popup-edit-object
  .popup__wrap
    .popup__header
      a(href="javascript:void(0);" data-popupname="edit-object").popup__header-close.js-popup-close: .icon.icon--close.icon--close-dark
    .popup__content
      .popup__content-header
        .popup__content-title Редактировать объект

      .popup__form.form.form--style: form(action="javascript:void(0);")
        .form-wrap
          .form-group
            .form-element: label
              .form-placeholder Название объекта
              input(placeholder='Введите название объекта' value='Торговый центр «Дружба»').form-control
            .form-element: label
              .form-placeholder Адрес объекта
              //- .form-placeholder__subTitle Город, улица, дом
              input(placeholder='Введите адрес в свободной форме' value='Россия, Московская область, г. Домодедово, мкрн Дружба, ул. Пиратов, вл. 5').form-control
          .form-group
            .form-element: label
              .form-placeholder Комментарий
              textarea(rows="4").form-control!='Тут будет комментарий к объекту, который оставляют при желании в момент создания объекта, тут будет комментарий к объекту, который оставляют при желании в момент создания объекта, тут будет комментарий к объекту, который оставляют при желании в момент создания объекта.'

        .popup__buttonGroup
          a(href="javascript:void(0);" data-popupname="edit-object").button.buttonWhitoutBorder.button--empty.js-popup-close: span отменить
          a(href="javascript:void(0);" data-popupname="edit-object").button.buttonFixSize.js-popup-close Сохранить