.popup.popup--addNewEmployees.js-popup-edit-mailing-address-info
  .popup__wrap
    .popup__header
      a(href="javascript:void(0);" data-popupname="edit-mailing-address-info").popup__header-close.js-popup-close: .icon.icon--close.icon--close-dark
    .popup__content
      .popup__content-header
        .popup__content-title Редактирование адреса корреспонденции
      .popup__form.form.form--style: form(action="javascript:void(0);")
        .form-wrap
          .form-group.form-group--checkbox
            .form-checkboxGroup.form-checkboxGroup--margin0
              label.label.label--checkbox.label--aka-radio
                input(type='radio' name='mailing-address' checked).form-control
                .icon.icon--checkbox
                .label__text Совпадает с фактическим
          .form-group.form-group--2col
            .form-element: label
              .form-placeholder Страна:
              input(placeholder='Введите название страны' value="Россия" disabled="disabled").form-control
            .form-element: label
              .form-placeholder Индекс:
              input(placeholder='Введите индекс' value="134567" disabled).form-control
          .form-group.form-group--2col
            .form-element: label
              .form-placeholder Регион:
              input(placeholder='Введите название региона' value="Ангарск мкр 19" disabled).form-control
            .form-element: label
              .form-placeholder Город / н.п.:
              input(placeholder='Введите название города' value="134567" disabled).form-control
          .form-group.form-group--3col
            .form-element: label
              .form-placeholder Улица:
              input(placeholder='Введите название улицы' value="ул. Пиратов" disabled).form-control
            .form-element: label
              .form-placeholder Дом:
              input(placeholder='Введите номер дома' value="д.13" disabled).form-control
            .form-element: label
              .form-placeholder Квартира:
              input(placeholder='Введите номер квартиры' value="123" disabled).form-control

        .popup__buttonGroup
          a(href="javascript:void(0);" data-popupname="edit-mailing-address-info").button.buttonWhitoutBorder.button--empty.js-popup-close: span отменить
          a(href="javascript:void(0);" data-popupname="edit-mailing-address-info").button.buttonFixSize.js-popup-close Сохранить