.popup.popup--style.popup--stack.js-popup-hintoutstock
  .popup__wrap
    .popup__header
      a(href="javascript:void(0);" data-popupname="hintoutstock").popup__header-close.js-popup-close: .icon.icon--close.icon--close-primary
    .popup__content
      .popup__content-hint-text
        p Для определения сроков изготовления и поставки этого товара добавьте товар в корзину и отправьте нам заказ.
        p Наш менеджер уточнит информацию, свяжется с вами и сообщит срок изготовления/поставки товара.