.popup.popup--style.popup--stack.js-popup-hintregistered
  .popup__wrap
    .popup__header
      a(href="javascript:void(0);" data-popupname="hintregistered").popup__header-close.js-popup-close: .icon.icon--close.icon--close-primary
    .popup__content
      .popup__content-hint-text
        p Текстовая подсказка для статуса позиции.
        p Примечание автора, статусы бывают: Складской, Комплектация, Заказной, Распродажа остатков, В разработке.