.popup.popup--style.popup--stack.js-popup-hintprice
  .popup__wrap
    .popup__header
      a(href="javascript:void(0);" data-popupname="hintprice").popup__header-close.js-popup-close: .icon.icon--close.icon--close-primary
    .popup__content
      .popup__content-hint-text Текстовая подсказка для "цена", текст появляется при наведении/клике в слово "Цена"