.popup.popup--style.popup--stack.js-popup-hinticon
  .popup__wrap
    .popup__header
      a(href="javascript:void(0);" data-popupname="hinticon").popup__header-close.js-popup-close: .icon.icon--close.icon--close-primary
    .popup__content
      .popup__content-hint-text.js-popup__content-hint-text Описание иконки