.popup.popup--style.popup--stack.js-popup-hintfileattach
  .popup__wrap
    .popup__header
      a(href="javascript:void(0);" data-popupname="hintfileattach").popup__header-close.js-popup-close: .icon.icon--close.icon--close-primary
    .popup__content
      .popup__content-hint-text При необходимости передать файлы бОльшего объема/размера, пожалуйста, загрузите файл в какой-нибудь файлообменник и вставьте ссылку на скачивание в текст сообщения.