.popup.popup--smallPopup.js-popup-info-save
  .popup__wrap.popup__wrap--bigPadding
    .popup__header
      a(href="javascript:void(0);" data-popupname="info-save").popup__header-close.js-popup-close: .icon.icon--close.icon--close-dark
    .popup__content
      .popup__content-header
        .popup__content-title.popup__content-title--noPadding Ваши данные </br>успешно сохранены!
        .popup__buttonGroup
          a(href="javascript:void(0);" data-popupname="info-save").button.buttonFixSize.buttonFixSize--small.js-popup-close Понятно!