.popup.popup--info.js-popup-info
  .popup__wrap
    .popup__header
      a(href="javascript:void(0);" data-popupname="info").popup__header-close.js-popup-close: .icon.icon--close.icon--close-dark
    .popup__content
      .popup__content-header
        .popup__content-title Ваше сообщение успешно отправленно
        .popup__content-subtitle В скором времени с вами свяжутся
        a(href="javascript:void(0);").button.button--flat Ок