.popup.popup--style.popup--lights.js-popup-lights
  .popup__wrap
    .popup__header
      a(href="javascript:void(0);" data-popupname="lights").popup__header-close.js-popup-close
        .icon.icon--close.icon--close-primary
    .popup__content
      .popup__content-header
        .popup__content-title Справочная информация
      .popup__content-scroll
        .swiper-container
          .swiper-wrapper
            .swiper-slide.text-editor
              p Помимо принадлежности к техническому решению и типу светового прибора, для каждой модели указаны название и артикул, а также следующие характеристики:
              ol
                li Режим работы;
                li Модификация источника аварийного питания (электронной платы), который определяет набор функций светового прибора – см. таблицу №14;
                li Светотехнические характеристики (номинальные световые потоки в нормальном и аварийном режиме для аварийных светильников и минимальная яркость знака безопасности для световых указателей);
                li Электрические характеристики (потребляемая мощность, коэффициент мощности, класс защиты от поражения электрическим током);
                li Диапазон температур эксплуатации;
                li Масса светового прибора.
              p Для аварийных светильников указаны номинальные световые потоки на начало срока службы, снижение светового потока к концу срока службы необходимо учитывать при светотехнических расчетах, применяя соответствующие коэффициенты запаса (либо коэффициенты эксплуатации).
              p Для световых указателей указана номинальная яркость знака безопасности на начало срока службы.
              p Структура кодированного обозначения светового прибора Технического решения №1
              img(src="/images/popup-lights.png")
          .swiper-scrollbar
