.popup.popup--smallPopup.popup--login.js-popup-login
  .popup__wrap
    .popup__header
      a(href="javascript:void(0);" data-popupname="login").popup__header-close.js-popup-close: .icon.icon--close.icon--close-primary
    .popup__content
      .popup__content-header
        .popup__content-title Вход в личный кабинет

      .checkout__form-auth: form(action='javascript:void(0);').js-form-validate
        .form-group
          .form-element: label
            .form-placeholder Email
            input.form-control.js-form-validate__empty
            .error Текст ошибки
        .form-group
          .form-element: label
            .form-placeholder.form-placeholder--space-between
              | Пароль
              a(href="javascript:void(0);").link.link--simple Забыли пароль?
            input.form-control.js-form-validate__empty
            .error Текст ошибки
        .form-group
          label.label.label--checkbox
            input.form-control.js-form-validate__checked(type='checkbox')
            .icon.icon--checkbox
            .label__text Запомнить меня
        .form-group.checkout__form-footer
          button.button Войти
          .checkout__form-footer-wrap
            | У вас еще нет доступа?
            a(href="javascript:void(0);").link.link--simple Зарегистрироваться