.popup.popup--photo.js-popup-photo
  .popup__wrap
    .popup__header
      a(href="javascript:void(0);" data-popupname="photo").popup__header-close.js-popup-close: .icon.icon--close.icon--close-dark
    .popup__content
      .project-inner__slider.js-project-inner-popup-slider
        .swiper-button-prev
        .swiper-button-next
        .swiper-container
          .swiper-wrapper
            .swiper-slide: img(src="/images/temp/project-inner-slider-pic2.jpg").project-inner__slider-pic
            .swiper-slide: img(src="/images/temp/project-inner-slider-pic3.jpg").project-inner__slider-pic
            .swiper-slide: img(src="/images/temp/project-inner-slider-pic4.jpg").project-inner__slider-pic
            .swiper-slide: img(src="/images/temp/project-inner-slider-pic5.jpg").project-inner__slider-pic
      .project-inner__thumbs.js-project-inner-popup-thumbs
        .swiper-container
          .swiper-wrapper
            .swiper-slide: img(src="/images/temp/project-inner-slider-pic2.jpg").project-inner__slider-pic
            .swiper-slide: img(src="/images/temp/project-inner-slider-pic3.jpg").project-inner__slider-pic
            .swiper-slide: img(src="/images/temp/project-inner-slider-pic4.jpg").project-inner__slider-pic
            .swiper-slide: img(src="/images/temp/project-inner-slider-pic5.jpg").project-inner__slider-pic