.popup.popup--smallPopup.popup--width500.js-popup-send-sale-request-status-sale
  .popup__wrap
    .popup__header
      a(href="javascript:void(0);" data-popupname="send-sale-request-status-sale").popup__header-close.js-popup-close: .icon.icon--close.icon--close-dark
    .popup__content
      .popup__content-header
        .popup__content-title!='Спасибо за отправку запроса о статусе продажи!'
        .popup__content-subtitle!='Наш сотрудник свяжется с вами<br />в самое ближайшее время.'
        .popup__buttonGroup
          a(href="javascript:void(0);" data-popupname="send-sale-request-status-sale").button.js-popup-close!='Понятно!'