.popup.popup--smallPopup.popup--width500.js-popup-send-sale-request
  .popup__wrap
    .popup__header
      a(href="javascript:void(0);" data-popupname="send-sale-request").popup__header-close.js-popup-close: .icon.icon--close.icon--close-dark
    .popup__content
      .popup__content-header
        .popup__content-title!='Запрос отправлен, спасибо!'
        .popup__content-subtitle!='Мы свяжемся с вами в ближайшее время для его обсуждения.'
        .popup__buttonGroup
          a(href="javascript:void(0);" data-popupname="send-sale-request").button.js-popup-close!='Понятно!'