.popup.popup--smallPopup.popup--width500.js-popup-service-request
  .popup__wrap
    .popup__header
      a(href="javascript:void(0);" data-popupname="service-request").popup__header-close.js-popup-close: .icon.icon--close.icon--close-dark
    .popup__content
      .popup__content-header
        .popup__content-title Спасибо за отправку<br />заявки на ремонт!
        .popup__content-subtitle Наш сотрудник свяжется<br />с вами в самое ближайшее время.
        .popup__buttonGroup
          a(href="javascript:void(0);" data-popupname="service-request").button.js-popup-close Понятно!