.popup.popup--photo.popup--single.js-popup-single
  .popup__wrap
    .popup__header
      a(href="javascript:void(0);" data-popupname="single").popup__header-close.js-popup-close: .icon.icon--close.icon--close-dark
    .popup__content: .pic: img(src="./images/catalog/catalog-favourite-pic4.png").pic__img