.popup.popup--style.popup--stack.js-popup-stack
  .popup__wrap
    .popup__header
      a(href="javascript:void(0);" data-popupname="stack").popup__header-close.js-popup-close: .icon.icon--close.icon--close-primary
    .popup__content
      .popup__content-header
        .popup__content-title Поделиться ссылкой на эту страницу
        include ../../../pages/common/signone-share-common