.popup.popup--style.popup--study.js-popup-study
  .popup__wrap
    .popup__header
      a(href="javascript:void(0);" data-popupname="study").popup__header-close.js-popup-close: .icon.icon--close.icon--close-primary
    .popup__content
      .popup__content-header
        .popup__content-title 3-й всероссийский съезд по Автономным системам аварийного освещения
      .popup__form: include ../../../pages/career/pug/study-form
