.popup.popup--smallPopup.popup--width500.js-popup-unblock-employees
  .popup__wrap
    .popup__header
      a(href="javascript:void(0);" data-popupname="unblock-employees").popup__header-close.js-popup-close: .icon.icon--close.icon--close-dark
    .popup__content
      .popup__content-header
        .popup__content-title Разблокировка сотрудника
        .popup__content-subtitle Вы уверены что хотите разблокировать<br /> сотрудника и вернуть его доступ к системе?
        .popup__buttonGroup
          a(href="javascript:void(0);" data-popupname="unblock-employees").button.button--empty.js-popup-close отменить
          a(href="javascript:void(0);" data-popupname="unblock-employees").button.js-popup-close Разблокировать