@import "../../layout/variables.css";

.lights__description {
  margin-bottom: 24px;
  padding: 0 0 23px 0;
  border-bottom: var(--border);
}

.catalog--favourite {
  margin-bottom: 31px;
  padding-bottom: 32px;
  border-bottom: 1px solid rgba(196, 196, 196, 0.5);

  .catalog__col {
    width: 25%;
    text-decoration: none;
  }

  .catalog__item {
    border: 0;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      right: -1px;
      bottom: -1px;
      border: 1px solid #EBEBEB;
    }
  }

  .link {
    display: none;
  }

  .title {
    margin-bottom: 55px;
  }

  .descr {
    margin-bottom: 13px;
  }

  .part__wrap--text{
    display: block;
    font-size: 12px;
  }
}