@import "../../layout/variables.css";

.content__header {

  .title {
    margin-bottom: 25px;
  }
}

.content__bottom{
  justify-content: flex-start;
}

.project-inner__video{
  padding-bottom: 36px;
  border: 0;
}