@import "../../layout/variables.css";

.content__header {

  .title {
    margin-bottom: 25px;
  }
}

.content__bottom{
  justify-content: flex-start;
}

.project-inner__video{
  padding-bottom: 36px;
  border: 0;
}
/**

 */
.project-inner__video {
  padding-top: 39px;
  padding-bottom: 32px;
  border-bottom: 1px solid rgba(196, 196, 196, 0.5);
}

.project-inner__video-title {
  margin-bottom: 18px;
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.01em;
  font-family: var(--museo);
}

.project-inner__video-player {
  position: relative;
  width: 816px;
  height: 458px;
  margin: auto;
}