extends ../layout.pug

block content
  .content
    .container
      include ../../components/content-header/content-header
    .content__text-editor.text-editor
      .container: .container__text-editor
        blockquote.blockquote.blockquote--important <strong>Важный текст.</strong> Основой технологии INEXI™ является LED блок аварийного свещения, который применяется в светильниках («POLET», «UNIVERSAL», «ESTETIKA», «JUNIOR», «ORBITA») и самостоятельно в комплекте сосветодиодными линейками
        h2 Подзаголовок
        p Развивая эту тему, гекзаметр отталкивает литературный скрытый смысл. Метонимия, несмотря на внешние воздействия, просветляет размер, заметим, каждое стихотворение объединено вокруг основного философского стержня. Парадигма, если уловить хореический ритм или аллитерацию на "р", начинает дискурс, при этом нельзя говорить, что это явления собственно фоники, звукописи. Холодный цинизм слабопроницаем. Дискурс нивелирует урбанистический стих. Аллитерация, несмотря на то, что все эти характерологические черты отсылают не к единому образу нарратора, возможна.
        p Абстрактное высказывание пространственно вызывает палимпсест. Анализ состава 17 рукописных сборников, содержащих тексты стихотворных фацеций, позволяет сделать вывод о том, что метафора параллельна. Одиннадцатисложник осознаёт орнаментальный сказ. Первое полустишие нивелирует мифопоэтический хронотоп, об этом свидетельствуют краткость и завершенность формы, бессюжетность, своеобразие тематического развертывания. Палимпсест, согласно традиционным представлениям, разрушаем.
        h3 Подзаголовок<br><strong>Функция совместимости с блоком TELECONTROL.</strong>
        p Развивая эту тему, гекзаметр отталкивает литературный скрытый смысл. Метонимия, несмотря на внешние воздействия, просветляет размер, заметим, каждое стихотворение объединено вокруг основного философского стержня. Парадигма, если уловить хореический ритм или аллитерацию на "р", начинает дискурс, при этом нельзя говорить, что это явления собственно фоники, звукописи. Холодный цинизм слабопроницаем. Дискурс нивелирует урбанистический стих. Аллитерация, несмотря на то, что все эти характерологические черты отсылают не к единому образу нарратора, возможна.
        img(src="/images/temp/text-editor-pic1.jpg")
        p(style="text-align: center; font-size: 12px; width: 540px; line-height: 18px; margin: 0 auto; margin-top: 14px;") Название или какая-то подпись, пояснение и т.п. сопроводительный текст под фото, название или какая-то подпись, пояснение под фото.
        p(style="margin-top: 63px;margin-bottom: 10px;"): strong Функция совместимости с блоком TELECONTROL.
        ul
          li Постоянного действия с продолжительностью горения 1 час;
          li Постоянного действия с продолжительностью горения 3 часа;
          li Непостоянного действия с продолжительностью горения 1 час;
          li Непостоянного действия с продолжительностью горения 3 часа.
        p(style="margin-top: 33px;margin-bottom: 10px;"): strong Функция совместимости с блоком TELECONTROL.
        ol
          li Постоянного действия с продолжительностью горения 1 час;
          li Постоянного действия с продолжительностью горения 3 часа;
          li Непостоянного действия с продолжительностью горения 1 час;
          li Непостоянного действия с продолжительностью горения 3 часа.
        .project-inner__video
          .project-inner__video-title Название видео
          .project-inner__video-player: include ../../components/insert-video/insert-video
        p(style="margin-top: 33px;margin-bottom: 10px;"): strong Функция совместимости с блоком TELECONTROL.
        p Абстрактное высказывание пространственно вызывает палимпсест. Анализ состава 17 рукописных сборников, содержащих тексты стихотворных фацеций, позволяет сделать вывод о том, что метафора параллельна. Одиннадцатисложник осознаёт орнаментальный сказ. Первое полустишие нивелирует мифопоэтический хронотоп, об этом свидетельствуют краткость и завершенность формы, бессюжетность, своеобразие тематического развертывания. Палимпсест, согласно традиционным представлениям, разрушаем.
        blockquote.blockquote.blockquote--green TELECONTROL является устройством дистанционного тестирования и управления аварийным и эвакуационным освещением и позволяет снизить расходы на эксплуатацию.
        p(style="margin-bottom: 38px;") <strong>Развивая эту тему, гекзаметр отталкивает литературный скрытый смысл.</strong> Метонимия, несмотря на внешние воздействия, просветляет размер, заметим, каждое стихотворение объединено вокруг основного философского стержня. Парадигма, если уловить хореический ритм или аллитерацию на "р", начинает дискурс, при этом нельзя говорить, что это явления собственно фоники, звукописи. Холодный цинизм слабопроницаем. Дискурс нивелирует урбанистический стих. Аллитерация, несмотря на то, что все эти характерологические черты отсылают не к единому образу нарратора, возможна.
        .row
          .col-sm-6
            img(src="/images/temp/text-editor-pic2.jpg")
            p(style="text-align: center; font-size: 12px; line-height: 18px; margin: 0 auto; margin-top: 14px; margin-bottom: 22px;") Название или какая-то подпись, пояснение под фото.
          .col-sm-6
            img(src="/images/temp/text-editor-pic3.jpg")
            p(style="text-align: center; font-size: 12px; line-height: 18px; margin: 0 auto; margin-top: 14px; margin-bottom: 22px;") Название или какая-то подпись, пояснение под фото.
          .col-sm-6
            img(src="/images/temp/text-editor-pic4.jpg")
            p(style="text-align: center; font-size: 12px; line-height: 18px; margin: 0 auto; margin-top: 14px; margin-bottom: 22px;") Название или какая-то подпись, пояснение под фото.
          .col-sm-6
            img(src="/images/temp/text-editor-pic5.jpg")
            p(style="text-align: center; font-size: 12px; line-height: 18px; margin: 0 auto; margin-top: 14px; margin-bottom: 22px;") Название или какая-то подпись, пояснение под фото.
        blockquote.blockquote.blockquote--author <strong>TELECONTROL является устройством дистанционного</strong> тестирования и управления аварийным и эвакуационным освещением и позволяет снизить расходы на эксплуатацию.
          p Имя Автора Цитаты
        p(style="margin-bottom: 38px;") <strong>Развивая эту тему, гекзаметр отталкивает литературный скрытый смысл.</strong> Метонимия, несмотря на внешние воздействия, просветляет размер, заметим, каждое стихотворение объединено вокруг основного философского стержня. Парадигма, если уловить хореический ритм или аллитерацию на "р", начинает дискурс, при этом нельзя говорить, что это явления собственно фоники, звукописи. Холодный цинизм слабопроницаем. Дискурс нивелирует урбанистический стих. Аллитерация, несмотря на то, что все эти характерологические черты отсылают не к единому образу нарратора, возможна.
      .container
        hr
      .container
        table
          caption Таблица с шапкой
          thead
            tr
              td(style="width:210px") Название колонки 1
              td(style="width:318px") Название колонки 2 по левому краю
              td(style="width:318px;text-align: right;") Название колонки 3 по правому<br> краю
              td(style="width:74px") Цифры
              td(style="width:318px") Название колонки 5 по левому краю
          tbody
            tr
              td(style="width:210px") Строка по центру
              td(style="width:318px") Строка по левому краю
              td(style="width:318px;text-align: right;") Строка по правому краю
              td(style="width:74px;text-align: right;") 0,00
              td(style="width:318px") Строка по левому краю
            tr
              td(style="width:210px") Строка по центру
              td(style="width:318px") Строка по левому краю
              td(style="width:318px;text-align: right;") Строка по правому краю
              td(style="width:74px;text-align: right;") 0,00
              td(style="width:318px") Строка по левому краю
            tr
              td(style="width:210px") Строка по центру
              td(style="width:318px") Строка по левому краю
              td(style="width:318px;text-align: right;") Строка по правому краю
              td(style="width:74px;text-align: right;") 0,00
              td(style="width:318px") Строка по левому краю
            tr
              td(style="width:210px") Строка по центру
              td(style="width:318px") Длинная двойная строка по левому краю
              td(style="width:318px;text-align: right;") Длинная двойная строка по правому краю
              td(style="width:74px;text-align: right;") 0,00
              td(style="width:318px") Строка по левому краю
        hr
        table.table--zebra
          caption Таблица без шапки
          tbody
            tr
              td(style="width:210px") Строка по центру
              td(style="width:318px") Строка по левому краю
              td(style="width:318px;text-align: right;") Строка по правому краю
              td(style="width:74px;text-align: right;") 0,00
              td(style="width:318px") Строка по левому краю
            tr
              td(style="width:210px") Строка по центру
              td(style="width:318px") Строка по левому краю
              td(style="width:318px;text-align: right;") Строка по правому краю
              td(style="width:74px;text-align: right;") 0,00
              td(style="width:318px") Строка по левому краю
            tr
              td(style="width:210px") Строка по центру
              td(style="width:318px") Строка по левому краю
              td(style="width:318px;text-align: right;") Строка по правому краю
              td(style="width:74px;text-align: right;") 0,00
              td(style="width:318px") Строка по левому краю
            tr
              td(style="width:210px") Строка по центру
              td(style="width:318px") Строка по левому краю
              td(style="width:318px;text-align: right;") Строка по правому краю
              td(style="width:74px;text-align: right;") 0,00
              td(style="width:318px") Строка по левому краю
            tr
              td(style="width:210px") Строка по центру
              td(style="width:318px") Длинная двойная строка по левому краю
              td(style="width:318px;text-align: right;") Длинная двойная строка по правому краю
              td(style="width:74px;text-align: right;") 0,00
              td(style="width:318px") Строка по левому краю
        .container__text-editor
          table.table--zebra
            caption Узкая таблица (2 таблицы подряд)
            tbody
              tr
                td(style="width:318px") Строка по левому краю
                td(style="width:210px") Строка по центру
                td(style="width:318px;text-align: right;") Строка по правому краю
                td(style="width:74px;text-align: right;") 0,00
              tr
                td(style="width:318px") Строка по левому краю
                td(style="width:210px") Строка по центру
                td(style="width:318px;text-align: right;") Строка по правому краю
                td(style="width:74px;text-align: right;") 0,00
              tr
                td(style="width:318px") Строка по левому краю
                td(style="width:210px") Строка по центру
                td(style="width:318px;text-align: right;") Строка по правому краю
                td(style="width:74px;text-align: right;") 0,00
              tr
                td(style="width:318px") Строка по левому краю
                td(style="width:210px") Строка по центру
                td(style="width:318px;text-align: right;") Строка по правому краю
                td(style="width:74px;text-align: right;") 0,00
              tr
                td(style="width:318px") Длинная двойная строка по левому краю
                td(style="width:210px") Строка по центру
                td(style="width:318px;text-align: right;") Длинная двойная строка по правому краю
                td(style="width:74px;text-align: right;") 0,00
      .container: include ../../pages/common/file
      .container
        .press-inner-footer
          a(href="javascript:void(0);").link.link--back
            .link__icon: include ../../images/arrow-right-small.svg
            .link__text К списку статей и публикаций
          .stack
            .stack__title Поделиться:
            .stack__links
              .ya-share2(data-services="facebook,twitter" data-size="s")

