/* ------------------------------------------------------------------------- */

@import "../../layout/variables.css";
@import "../../components/tableFilter/tableFilter.css";
@import "../../components/tableItem/tableItem.css";

/* ------------------------------------------------------------------------- */

.userSpecification__filter {
  display: flex;
  align-items: flex-end;
  margin-top: 25px;
  margin-bottom: 20px;
  padding-top: 25px;
  border-top: var(--border);
}
.userSpecification__filterForm {
  width: 50%;
}
.userSpecification__filterFormTitle {
  margin-bottom: 10px;
  color: var(--black01);
  font-family: var(--opens);
  font-size: 20px;
  line-height: 1.4;
}
.userSpecification__filterFormLocation {
  width: 100%;
  display: flex;
  & .form-element {
    width: 50%;
    &:not(:first-child) {
      margin-left: 30px;
    }
  }
}
.userSpecification__filterFormGroup {
  display: flex;
  align-items: center;
  margin: 30px 0 0;
  & .label {
    &:not(:first-child) {
      margin-left: 20px;
    }
    & .label__text {
      margin-left: 10px;
      color: var(--black03);
      font-family: var(--opens);
      font-size: 14px;
      font-weight: normal;
      line-height: 1;
    }
  }
}
.userSpecification__filterFormGroupLabel {
  color: var(--black03);
  font-family: var(--opens);
  font-size: 16px;
  line-height: 1.4;
  & + .form-element {
    margin-left: 20px;
  }
}

.userSpecification__filterButton {
  margin-left: auto;
}
.userSpecification__tableFilter {
  margin-top: 30px;
  margin-bottom: 20px;
}
.userSpecification__list {
  margin-top: 20px;
  & .tableItem:not(:first-child) {
    margin-top: 20px;
  }
}
.userSpecification__footer {
  margin-top: 30px;
  position: relative;
  & .button--fixPositionRight {
    position: absolute;
    right: 0;
    top: 0;
  }
}

/* --------------------------------- */

.userSpecificationEmpty {
  display: flex;
  align-items: center;
  margin: 30px 0 400px;
  padding: 30px 0;
  border-top: var(--border);
  border-bottom: var(--border);
}
.userSpecificationEmpty__description {
  color: var(--black03);
  font-family: var(--opens);
  font-size: 16px;
  line-height: 1.4;
}
.userSpecificationEmpty__button {
  margin-left: auto;
}

/* ------------------------------------------------------------------------- */