@import "../../layout/variables.css";

.lights__info {
  display: flex;
  margin-top: 19px;
  margin-bottom: 59px;
  padding-top: 23px;
  border-top: 1px solid rgba(196, 196, 196, 0.5);

  + .lights__info {
    margin-top: -30px;
    padding-top: 0;
    border: 0;
  }
}

.lights__info-item {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  width: 400px;
  height: 80px;
  background-color: #fff;
  margin-right: 28px;
  padding: 0 20px;
  border-radius: 3px;
  text-decoration: none;
  transition: var(--trsh);

  .icon svg path {
    transition: var(--trsf);
  }

  &:hover {
    box-shadow: 0 5.28155px 12.3236px rgba(0, 0, 0, 0.05);

    .lights__info-item-text {
      color: var(--hover);
    }

    .icon svg path.svg-blank-path-1 {fill: #61AE3B;}
    .icon svg path.svg-blank-path-2 {fill: #e4eace;}
    .icon svg path.svg-blank-path-3 {fill: #fff;}
  }

  &:first-child{

    &:hover {

      .icon svg path {
        fill: var(--hover);
      }
    }
  }
}

.lights__info-item--empty{
  width: auto;
  background-color: transparent;
  margin-left: auto;
  margin-right: 0;
  padding: 0;
  flex-shrink: 1;
  box-shadow: none;

  .lights__info-item-text {
    font-size: 16px;
  }

  &:hover {
    box-shadow: none;

    .icon svg path {
      fill: var(--hover);
    }
  }
}

.lights__info-item--long {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  /*width: 636px;*/
  width: auto;
  height: 80px;
  background-color: #fff;
  margin-right: 28px;
  padding: 0 20px;
  border-radius: 3px;
  transition: var(--trsh);

  .lights__info-item-text {
    margin-left: 0;
    margin-bottom: 1px;
    color: #333;
    font-size: 16px;
    line-height: 26px;
  }

  .icon svg path{
    transition: var(--trsf);
  }

  &:hover {
    box-shadow: 0 5.28155px 12.3236px rgba(0, 0, 0, 0.05);

    .lights__info-item-text {
      color: #333;
    }

    .icon svg path.svg-blank-path-1 {fill: #61AE3B;}
    .icon svg path.svg-blank-path-2 {fill: #e4eace;}
    .icon svg path.svg-blank-path-3 {fill: #fff;}
  }
}

.lights__info-item-text {
  margin-left: 18px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: normal;
  font-family: var(--museo);
  color: var(--primary);
  transition: var(--trc);
}

.lights__info-item-box {
  display: flex;
  flex-direction: column;
  margin-left: 18px;
}

.lights__info-part {
  margin-right: 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: normal;
  font-family: var(--museo);
  color: var(--primary);
  text-decoration: none;
  transition: var(--trc);

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    color: var(--hover);
  }
}
/**

 */
.lights__filter {
  margin-bottom: 23px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(196, 196, 196, 0.5);
}

.lights__filter-title {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  font-family: var(--museo);
  color: #333;
}
/**
media
 */
.mobile {

  .lights__info {
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 0;
    padding-top: 30px;
  }

  .lights__info-item{
    align-items: flex-start;
    width: 100%;
    height: auto;
    min-height: 63px;
    margin-right: 0;
    margin-bottom: 12px;
    padding: 13px 16px;
  }

  .lights__info-item-wrap{
    display: flex;
    flex-wrap: wrap;
  }

  .lights__info-item-box{
    margin-left: 12px;

    .lights__info-item-text{
      margin-left: 0;
      margin-bottom: 12px;
    }

    .lights__info-item-wrap{
      margin-bottom: -13px;
    }
  }

  .lights__info-item-text {
    margin-left: 12px;
    font-size: 14px;
    line-height: 22px;
  }

  .lights__info-part {
    margin-bottom: 13px;
    font-size: 14px;
    line-height: 18px;
  }

  .lights__info-item--empty {

    .lights__info-item-text{
      margin-top: 4px;
    }
  }

  .lights__filter-title {
    font-size: 15px;
    line-height: 19px;
  }

  .lights__filter {

    .tagline {
      margin: 0 -16px;
    }

    .tagline__wrap {
      flex-wrap: nowrap;
      margin: 0;
    }

    .tagline__clear {
      position: relative;
      display: block;
      margin-top: 10px;
      margin-left: 16px;
      text-align: left;
    }
  }

  .lights {

    .catalog--favourite .catalog__col {
      width: 100%;

      .catalog__item {
        border-bottom: 0;
        padding-top: 25px;
        padding-bottom: 25px;
      }

      &:last-child {
        border-bottom: 1px solid #EBEBEB;
      }
    }

    .catalog--favourite .descr {
      margin-top: 15px;
      margin-bottom: 25px;
    }

    .catalog--favourite .title {
      margin-bottom: 15px;
    }

    .catalog--favourite .part__title {
      margin-bottom: 10px;
      font-weight: bold;
      font-size: 11px;
      line-height: 15px;
    }
  }
}