.button {
  display: inline-block;
  min-height: 39px;
  padding: 12px;
  background-color: var(--primary);
  border-radius: 3px;
  font-family: var(--museo);
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  line-height: inherit;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  white-space: nowrap;
  cursor: pointer;
  text-decoration: none;
  border: none;
  outline: 0;
  transition: box-shadow var(--time);

  &:focus {
    outline: none;
  }
}

.button {

  &:active,
  &:hover {
    box-shadow: 0 6px 20px rgba(97, 174, 59, 0.3);
  }
}

.button--white {
  background-color: #fff;
  color: #a1bf35;
  font-family: var(--opens);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.12px;
  line-height: 1;

  &:hover {
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  }
}

.button--empty {
  border: 1px solid #9F9F9F;
  background-color: transparent;
  padding-top: 9px;
  padding-bottom: 10px;
  font-style: normal;
  font-size: 13px;
  line-height: normal;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  font-family: var(--opens);
  color: #333333;
  transition: var(--trc), var(--trbg), var(--trb), box-shadow var(--time);

  &:hover {
    background-color: #A1BF35;
    box-shadow: 0 6px 20px rgba(97, 174, 59, 0.3);
    border: 1px solid transparent;
    color: #fff;
  }
}

.button--empty-primary {
  color: var(--primary);
  border-color: var(--primary);
}

.button--flat {
  background-color: #FFFFFF;
  border: 1px solid #9F9F9F;
  box-sizing: border-box;
  border-radius: 3px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: normal;
  text-align: center;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  font-family: var(--opens);
  color: #333333;
  transition: var(--trc), var(--trbg), var(--trb), box-shadow var(--time);

  &:hover {
    background: #A1BF35;
    box-shadow: 0 6px 20px rgba(97, 174, 59, 0.3);
    color: #FFFFFF;
    border: 1px solid #A1BF35;
  }
}

.button--press {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 190px;
  height: 44px;
  margin: 0 auto;

  background-color: #FFFFFF;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.05);
  border-radius: 3px;

  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: normal;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-family: var(--opens);
  color: #333333;
  transition: var(--trc), var(--trbg), box-shadow var(--time);

  &:hover {
    color: #A1BF35;
    background-color: #FFFFFF;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  }
}

.button-size-sm {
  padding-left: 25px;
  padding-right: 25px;
}

.button-size-y-sm {
  padding-top: 14px;
  padding-bottom: 15px;
}

.button-size-md {
  padding-left: 40px;
  padding-right: 40px;
}

/* --------------------------------- */

.buttonWhitoutBorder {
  display: flex;
  width: 140px;
  align-items: center;
  justify-content: center;
  height: 48px;
  border: none;
  color: var(--primary);
  font-family: var(--opens);
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.08em;
  & span {
    padding-top: 5px;
    padding-bottom: 2px;
    border-bottom: 1px dashed var(--primary);
  }
  &:hover {
    background: none;
    box-shadow: none;
    border: none;
    color: var(--hover);
    & span {
      border-color: var(--hover);
    }
  }
}
.buttonFixSize {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 220px;
  height: 48px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: var(--opens);
  font-size: 14px;
  line-height: 1;
  font-weight: bold;
  letter-spacing: 0.08em;
}
.buttonDelete {
  display: flex;
  min-width: 140px;
  align-items: center;
  justify-content: center;
  height: 48px;
  border: none;
  background: none;
  text-transform: none;
  &:hover {
    background-color: none;
    box-shadow: none;
    & em svg {
      stroke: var(--red03);
    }
    & span {
      color: var(--red03);
    }
  }
  & em {
    width: 14px;
    height: 14px;
    margin-right: 10px;
    overflow: hidden;
    & svg {
      width: 14px;
      height: 14px;
      stroke: var(--red01);
      transition: stroke 0.2s ease;
    }
  }
  & span {
    color: var(--red01);
    font-family: var(--museo);
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0;
    transition: color 0.3s ease;
  }
}
.buttonEdit {
  display: flex;
  min-width: 140px;
  align-items: center;
  justify-content: center;
  height: 48px;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid var(--primary);
  background: none;
  color: var(--primary);
  font-family: var(--opens);
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.08em;
  transition: all 0.3s ease;
  &:hover {
    color: #fff;
    background-color: var(--primary);
  }
}
.buttonCreate {
  display: flex;
  min-width: 140px;
  align-items: center;
  justify-content: center;
  height: 48px;
  padding-left: 20px;
  padding-right: 20px;
  /* color: var(--primary); */
  font-family: var(--opens);
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.08em;
  transition: all 0.3s ease;
  &:hover {
    color: #fff;
    background-color: var(--primary);
  }
}
.button--showMore {
  border: none;
  background-color: transparent;
  color: var(--primary);
  font-family: var(--museo);
  font-size: 17px;
  font-weight: 700;
  line-height: 1.3;
  text-transform: none;
  letter-spacing: 0;
  & span {
    border-bottom: 1px dashed var(--primary);
  }
  &:hover {
    color: var(--hover);
    box-shadow: none;
    & span {
      border-color: var(--hover);
    }
  }
}

/* --------------------------------- */

/**
media
 */
.mobile {

  .button-size-md {
    padding-left: 27px;
    padding-right: 27px;
  }
}
