@import "../../layout/variables.css";
@import "./catalogs/catalog-main.css";
@import "./catalogs/catalog-favourite.css";
@import "./catalogs/catalog-article.css";
@import "./catalogs/catalog-tech.css";
@import "./catalogs/catalog-segment.css";
@import "./catalogs/catalog-projects.css";
@import "./catalogs/catalog-press.css";
@import "./catalogs/catalog-company.css";
@import "./catalogs/catalog-training.css";
@import "./catalogs/catalog-aruna.css";
@import "./catalogs/catalog-compare.css";

.catalog {

  .link {
    display: inline-block;
    padding-bottom: 5px;
    color: #3d3d3d;
    font-family: var(--opens);
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px solid #9F9F9F;
    opacity: 1;
    transition: var(--trb), var(--trc), var(--tro), font-weight var(--time);

    &:hover {
      border-bottom: 1px solid var(--hover);
      color: var(--hover);
    }

    &.link--simple {
      display: inline-block;
      color: var(--primary);
      font-family: inherit;
      font-size: 16px;
      font-weight: 400;
      line-height:inherit;
      text-decoration: none;
      transition: var(--trc);

      &.active,
      &:hover {
        color: var(--hover);
      }
    }

    &.link--more-action {
      padding-bottom: 5px;
      background-image: linear-gradient(to right, #A1BF35 50%, rgba(255, 255, 255, 0) 50%);
      background-position: left -1px bottom 0;
      background-size: 10px 1px;
      background-repeat: repeat-x;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 1;
      color: var(--primary);
      font-family: var(--museo);
      text-decoration: none;
      transition: var(--trc);

      &:hover {
        color: var(--hover);
        text-decoration: none;
      }
    }
  }

  .catalog__item-sign-sale {
    display: none;
  }
}

.catalog__header {
  position: relative;
}

.catalog__title {
  margin-bottom: 20px;
  padding-bottom: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 1;
  border-bottom: 1px solid #DCDCDC;

  sup {
    font-size: 14px;
  }
}

.catalog__content {
  display: flex;
}

.catalog__item {
  background-color: #fff;
  background-repeat: no-repeat;
}

.catalog-box {
  max-width: 1270px;
  padding: 0 15px;
  margin: 50px auto 70px;
}

.catalog__more {
  position: absolute;
  top: 12px;
  right: 0;
  display: flex;
  align-items: center;
  text-decoration: none;

  &:hover {

    .catalog__more-text {
      color: #61AE3B;
    }

    .catalog__more-icon svg path {
      stroke: #61AE3B
    }
  }

  .catalog__more-text {
    margin-right: 11px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: normal;
    font-family: var(--museo);
    color: #A1BF35;
    transition: var(--trc);
  }

  .catalog__more-icon {
    position: relative;
    top: 1px;
    font-size: 0;

    svg path {
      transition: stroke var(--time);
    }
  }
}

.catalog__footer {
  margin-top: 30px;
}
/**
mobile
 */
.mobile{

  .catalog-box{
    padding: 0;

    .catalog__content{
      margin-bottom: 33px;
    }

    .swiper-container{
      width: 100%;
    }
  }

  .catalog__title{
    padding-bottom: 20px;
    font-size: 24px;
    line-height: 27px;
  }

  .catalog__content--lights-main{

    .swiper-slide{
      width: 144px;
    }

    .catalog__col{
      width: 100%;
    }
  }

  .catalog__content--empowers-main{

    .swiper-slide{
      width: 288px;
    }

    .catalog__col{
      width: 100%;
    }
  }
}
/**

 */
.sale{

  .catalog__content--end-sale {

    .catalog__item {
      pointer-events: none;
    }

    .catalog__item-sign-sale {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
      color: #DE3831;
      font-family: var(--museo);
      background-color: rgba(255,255,255, .9);
    }
  }
}