.change-view {
  display: flex;
  align-items: center;
}

.change-view__item {
  width: 40px;
  height: 40px;
  background-color: #FFFFFF;
  box-shadow: 0 5.28155px 12.3236px rgba(0, 0, 0, 0.05);
  border-radius: 2.64078px;
  transition: var(--trbg);

  &:last-child {
    margin-left: 8px;
  }

  &.active,
  &:hover {
    background-color: #A1BF35;

    .change-view__elem {
      background-color: #fff;
    }
  }
}

.change-view__elem {
  transition: var(--trbg);
}

.change-view__line {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .change-view__elem {
    width: 22px;
    height: 3px;
    background-color: var(--primary);

    &:first-child {
      margin-bottom: 5px;
    }

    &:last-child {
      margin-top: 5px;
    }
  }
}

.change-view__tile {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px 6px;

  .change-view__elem {
    flex-shrink: 0;
    width: 10px;
    height: 10px;
    background-color: var(--primary);
    border-radius: 1px;
  }
}