@import "../../layout/variables.css";

.content__header {

  .title {
    margin: 0 0 40px 0;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 41px;
    letter-spacing: -0.02em;
  }

  .descr{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    font-family: var(--opens);
    color: #404040;

    p{
      margin: 12px 0;

      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}

.content__text-editor {
  background-color: #fff;
  margin-bottom: -40px;
}

.content__top {
  position: relative;
  top: -13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content__middle {
  margin-top: 10px;
  margin-bottom: 10px;
}

.press-inner-data {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  font-family: var(--opens);
  color: #404040;
}

.press-inner-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 17px;
  padding-top: 15px;
  border-top: 1px solid rgba(196, 196, 196, .5);

  .link--back:hover{
    text-decoration: none;
  }
}

.content__bottom.content__bottom--descr{
  display: block;

  .title{
    margin-bottom: 0;
  }
}

.tech-descr{
  font-size: 16px;
  line-height: 26px;
  font-family: "Open Sans", sans-serif;
  color: #404040;
}
/**

 */
.content__top.content__top--signone {
  padding: 25px 0 15px;
}
/**
media
 */
.mobile {

  .content__bottom .title{
    font-size: 24px;
    line-height: 27px;
  }

  .content__header .descr{
    font-size: 14px;
    line-height: 22px;
  }

  .tech-descr{
    font-size: 14px;
    line-height: 22px;
  }
}