@import "../../layout/variables.css";

.content__header {

  .title {
    margin: 0 0 40px 0;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 41px;
    letter-spacing: -0.02em;
  }

  .descr{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    font-family: var(--opens);
    color: #404040;

    p{
      margin: 12px 0;

      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}

.content__text-editor {
  background-color: #fff;
  margin-bottom: -40px;
}

.content__top {
  position: relative;
  top: -13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content__middle {
  margin-top: 10px;
  margin-bottom: 10px;
}

.press-inner-data {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  font-family: var(--opens);
  color: #404040;
}

.press-inner-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 17px;
  padding-top: 15px;
  border-top: 1px solid rgba(196, 196, 196, .5);

  .link--back:hover{
    text-decoration: none;
  }
}

.content__bottom.content__bottom--descr{
  display: block;

  .title{
    margin-bottom: 0;
  }
}

.tech-descr{
  font-size: 16px;
  line-height: 26px;
  font-family: "Open Sans", sans-serif;
  color: #404040;
}
/**

 */
.content__bottom--checkout {
  position: relative;
}

.content__support {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 433px;
  background-color: #fff;
  padding: 10px 17px;
}

.content__support-title {
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: var(--border);
  font-family: var(--museo);
  color: #333333;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
}

.content__support-bottom {
  display: flex;
  align-items: center;

  .link {
    font-family: var(--opens);
    color: #A1BF35;
    font-size: 16px;
    line-height: 26px;
    text-decoration: none;
  }
}

.content__support-descr {
  margin-right: 6px;
  color: #333333;
  font-size: 16px;
  line-height: 26px;
}
/**

 */
.content__top.content__top--signone {
  padding: 25px 0 15px;
}

.content__top-aruna-product{
  margin-top: 16px;
  margin-bottom: 30px;
}

.content__top.content__top--batch-active {
  border-top: var(--border);
  border-bottom: var(--border);
}
.content__top.content__top--batch-active .batch__choose {

  .batch__name {
    background-color: var(--hover);
    color: #fff;
  }

  &:hover .batch__name {
    background-color: var(--hover);
  }
}
/**
media
 */
.mobile {

  .content__bottom .title{
    font-size: 24px;
    line-height: 27px;
  }

  .content__header .descr{
    font-size: 14px;
    line-height: 22px;
  }

  .tech-descr{
    font-size: 14px;
    line-height: 22px;
  }

  .content__top--stack {
    display: block;

    .stack {
      margin-top: 20px;
    }
  }

  .content__header .title {
    margin-bottom: 22px;
  }

  .content__support {
    position: relative;
    left: 0;
    margin-bottom: 20px;
    min-width: auto;
  }

  .content__support-title {
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 17px;
    line-height: 22px;
  }

  .content__support-bottom {
    flex-direction: column;
    align-items: flex-start;

    .link {
      font-size: 14px;
    }
  }

  .content__support-descr {
    margin-right: 0;
    font-size: 13px;
    line-height: 26px;
  }
}