@import "../../layout/variables.css";

.content__header{

  .title{
    margin: 0 0 40px 0;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 41px;
    letter-spacing: -0.02em;
  }
}