.crumbs {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.crumbs__item {
  margin-right: 12px;

  &:last-child {
    margin-right: 0;
    font-size: 14px;

    .crumbs__link {
      color: #A1BF35;

      &:after {
        content: none;
      }
    }
  }
}

.crumbs__link {
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  font-family: var(--opens);
  color: #C2C2C2;

  &:after {
    content: '/';
    position: absolute;
    top: 4px;
    right: -8px;
    width: 4px;
    height: 9px;
    line-height: 1;
  }
}