.crumbs{
  margin-bottom: 15px;
}

.crumbs__item{
  margin-right: 15px;
  
  &:last-child{
    margin-right: 0;
    font-size: 14px;
  }
}

.crumbs__link{
  position: relative;
  color: #ff0060;
  font-size: 14px;
  font-weight: 400;
  text-decoration: underline;
  
  &:hover{
    text-decoration: none;
  }
  
  &:after{
    content: '';
    position: absolute;
    top: 6px;
    right: -10px;
    width: 4px;
    height: 7px;
    background-image: url(images/arrow-right-pink.svg);
  }
}