@import "../variables.css";

.distrib{
  margin-bottom: 64px;

  .button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 40px;
    margin-right: 20px;
    
    &:hover{
      
    }
  }
}

.distrib__header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid #DCDCDC;
}

.distrib__title {
  color: #333333;
  flex-shrink: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-decoration: none;
}

.distrib__country{
  position: relative;
  display: flex;
  flex-shrink: 0;
}

.distrib__country-item{
  letter-spacing: normal;
  text-transform: none;
  transition: var(--trc), var(--trbg), var(--trb), box-shadow var(--time);

  &.active{
    color: #fff;
    background-color: #A1BF35;
    box-shadow: 0 5.28155px 12.3236px rgba(0, 0, 0, 0.05);
  }

  &:hover{
    color: #fff;
    background-color: #A1BF35;
    box-shadow: 0 6px 20px rgba(97, 174, 59, 0.3);
  }
}

#map{
  width: 100%;
  height: 520px;
}

.distrib__map{
  position: relative;

  .choices[data-type*="select-one"]{
    flex-shrink: 0;
    width: 223px;

    &:after {
      right: 19px;
      width: 12px;
      height: 7px;
      background-image: url(/images/arrow-down-big.svg);
      margin-top: -3px;
      border: 0;
    }

    &.is-open:after {
      margin-top: -3px;
    }

    .choices__input {
      height: 33px;
      background-color: #FAFAFA;
      padding: 0 50px 0 20px;
      border-bottom: 0;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      font-size: 16px;
      font-family: var(--museo);
      color: #898989;
    }

    .choices__inner{
      padding-bottom: 0;
    }
  }

  .choices__inner{
    display: flex;
    align-items: center;
    min-height: 47px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), #A1BF35;
    background-blend-mode: overlay, normal;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    border: 0;
    padding: 0 55px 0 23px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    font-family: var(--opens);
    color: #FFFFFF;
  }

  .choices__list--single{
    padding: 0;
  }

  .choices__list--dropdown {
    right: 0;
    min-width: 223px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-top: 0;
    border: 1px solid #BDD245;
    border-top: 0;

    &:before {
      content: '';
      position: absolute;
      top: 10px;
      right: 29px;
      width: 14px;
      height: 13px;
      background-image: url(/images/zoom.svg);
      pointer-events: none;
    }

    .choices__item {
      padding: 11px 23px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      font-size: 15px;
      font-family: var(--museo);
      color: #434343;
    }

    .choices__item--selectable.is-highlighted {
      background-color: #F1F5F0;
    }
  }
}

.distrib__map-wrap{
  position: absolute;
  top: 64px;
  left: 50%;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 0;
  max-width: 1240px;
  margin-left: -620px;
}
/**
media
 */
.mobile {

  .distrib__header{
    flex-direction: column;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }

  .distrib__title{
    margin-bottom: 40px;
    padding-right: 50px;
    font-size: 24px;
    line-height: 27px;
  }

  .distrib{

    .button{
      width: 92px;
      height: 28px;
      min-height: 28px;
      margin-right: 6px;
      font-size: 12px;

      &:nth-child(3){
        margin-right: 0;
      }
    }

    .link--more{
      position: absolute;
      top: -30px;
      right: 0;

      .link__text {
        margin-right: 6px;
        font-size: 12px;
      }

      .link__icon{
        top: -1px;
      }
    }
  }

  #map{
    height: 276px;
  }

  .distrib__map{
    padding-top: 50px;
  }

  .distrib__map-wrap{
    justify-content: flex-start;
    top: 0;
    left: 0;
    margin-left: 0;
  }

  .distrib__select{
    width: 100%;
    padding: 0 16px;
  }

  .distrib__map{

    .choices[data-type*="select-one"]{
      width: 100%;
    }

    .choices__inner{
      min-height: 28px;
      font-size: 12px;
      text-transform: none;
    }
  }

}