@import "form-reset.css";

:root {
  --formIndent: 15px;
  --inputHeight: 32px;
  --inputLineHeight: calc(var(--inputHeight) - 2px);
  --iconIndent: 8px;
  --iconIndentx2: 16px;
  --formErrorColor: #DE3831;
}

/**
.form-group
  .form-element
    .form-control
    .error
    .form-placeholder (если лайблы плавают)
 */
.label {
  display: block;
  color: #8a8e95;
  font-family: var(--museo);
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
}

.form-control {
  display: block;
  width: 100%;
  height: var(--inputHeight);
  background-color: #1f1f1f;
  padding: 0 var(--formIndent);
  font-family: var(--opens);
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 13px;
  color: #FFFFFF;
  border: 0;
  transition: var(--trb);

  &:hover{
    border-color: var(--hover);
  }

  & ~ .error {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 3px;
    padding: 0 12px;
    color: var(--formErrorColor);
    font-size: 12px;
    line-height: 1;
    font-family: var(--opens);
  }

  &.has-error {
    border-color: var(--formErrorColor);

    & ~ .error {
      opacity: 1;
      visibility: visible;
    }

    & ~ .form-placeholder {
      color: var(--formErrorColor);
    }
  }

  &::-webkit-input-placeholder {
    color: #9c9c9c;
    font-family: var(--opens);
    font-size: 13px;
    font-weight: 300;
    line-height: var(--inputLineHeight);
  }

  &::-moz-placeholder {
    color: #9c9c9c;
    font-family: var(--opens);
    font-size: 13px;
    font-weight: 300;
    line-height: var(--inputLineHeight);
  }

  &:-moz-placeholder {
    color: #9c9c9c;
    font-family: var(--opens);
    font-size: 13px;
    font-weight: 300;
    line-height: var(--inputLineHeight);
  }

  &:-ms-input-placeholder {
    color: #9c9c9c;
    font-family: var(--opens);
    font-size: 13px;
    font-weight: 300;
    line-height: var(--inputLineHeight);
  }

  /** placeholder */

  &:focus::-webkit-input-placeholder {
    color: transparent;
  }

  &:focus::-moz-placeholder {
    color: transparent;
  }

  &:focus:-moz-placeholder {
    color: transparent;
  }

  &:focus:-ms-input-placeholder {
    color: transparent;
  }


}
/**

 */
.has-error {
  border-color: var(--formErrorColor);

  .error {
    opacity: 1;
    visibility: visible;
  }

  .form--style .form-placeholder,
  .form-placeholder {
    color: var(--formErrorColor);
  }
}

.form--style .has-error .form-placeholder{
  color: var(--formErrorColor);
}

.popup{

  .form-control.has-error{
    border-color: var(--formErrorColor);
  }
}

textarea.form-control {
  min-height: 40px;
  height: auto;
  padding: 10px 15px;
  resize: none;

  + .form-placeholder {
    position: absolute;
    left: 10px;
    bottom: 10px;
    font-family: var(--museo);
    font-weight: 500;
    line-height: 1;
    font-size: 13px;
    color: #000000;
    opacity: 0.4;
  }

  &:focus + .form-placeholder {
    display: none;
  }

  &::-webkit-input-placeholder {
    line-height: 1.5;
  }

  &::-moz-placeholder {
    line-height: 1.5;
  }

  &:-moz-placeholder {
    line-height: 1.5;
  }

  &:-ms-input-placeholder {
    line-height: 1.5;
  }
}

.form-text {
  margin-top: 10px;
  font-size: 12px;
  color: #fff;
}

.form-group {
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form-group--half {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-group--mb-sm {
  margin-bottom: 33px;
}

.form-group--mt-lg {
  margin-top: 85px;
}

.form-element {
  position: relative;
}

.form-element--center {
  text-align: center;
}

.form-element--space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-placeholder {
  position: absolute;
  top: 0;
  left: 10px;
  height: var(--inputHeight);
  opacity: .4;
  color: #000;
  font-size: 13px;
  white-space: nowrap;
  line-height: var(--inputHeight);
  transition: var(--trf);
  transform-origin: 0 0;
  pointer-events: none;
}

.form-element.has-value .form-placeholder,
.form-control:focus ~ .form-placeholder {
  transform: scale(.8) translateY(-20px);
}
/**

 */
.label--radio {
  position: relative;
  display: inline-block;
  padding-left: 14px;
  min-height: 14px;
  cursor: pointer;
  line-height: 1;
  user-select: none;
  
  input[type="radio"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
  }
  
  .icon--radio {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 14px;
    min-height: 14px;
    background-color: transparent;
    border-radius: 50%;
    
    border-width: 1px;
    border-style: solid;
    border-color: var(--primary);
    
    transition: border-width var(--time);
    
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 10px;
      height: 10px;
      margin: -5px 0 0 -5px;
      background-color: transparent;
      border-radius: 50%;
      transition: var(--time);
    }
  }
  .label__text {
    display: inline-block;
    vertical-align: middle;
    min-height: 14px;
    margin-left: 14px;
    color: #404040;
    font-size: 14px;
    line-height: 14px;
  }
  
  input[type="radio"]:checked {
    ~ .icon--radio {
      border-width: 4px;
    }
  }
}


.label--checkbox {
  position: relative;
  display: inline-block;
  padding-left: 16px;
  min-height: 16px;
  cursor: pointer;
  line-height: 1;
  user-select: none;

  & input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
  }

  & .icon--checkbox {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 16px;
    min-height: 16px;
    background-color: transparent;
    margin-top: 2px;
    border: 1px solid var(--primary);
    border-radius: 2px;
    transition: var(--trbg), var(--trb);

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 11px;
      height: 9px;
      margin: -4px 0 0 -5px;
      background-repeat: no-repeat;
      background-size: 11px 9px;
    }
  }

  & .label__text {
    display: inline-block;
    vertical-align: middle;
    min-height: 16px;
    margin-left: 12px;
    font-family: var(--opens);
    font-style: normal;
    font-weight: 300;
    line-height: 17px;
    font-size: 11px;
  }

  & .label__link {
    font-family: var(--opens);
    font-style: normal;
    font-weight: 300;
    line-height: 17px;
    font-size: 11px;
    color: #76B325;

    &:hover {
      text-decoration: none;
    }
  }

  & input[type="checkbox"]:checked {

    & ~ .icon--checkbox{
      background-color: var(--primary);

      &:before {
        background-image: url(/images/checkbox2.svg);
      }
    }
  }
}

.form-success {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.33;
  animation: fadeIn .3s ease;
}

/**

 */
.form--style {

  .form-control {
    height: 48px;
    background-color: #FFFFFF;
    border: 1px solid #C2C2C2;
    border-radius: 3px;
    color: #404040;
    font-size: 16px;

    &.has-error,
    &.has-error:hover{
      border-color: var(--formErrorColor);
    }

    &:hover{
      border-color: var(--hover);
    }
  }

  textarea.form-control {
    min-height: 40px;
    height: auto;
    padding: 10px 15px;
  }

  .form-group{
    margin-bottom: 17px;
  }

  .form-placeholder{
    position: relative;
    left: 0;
    opacity: 1;
    margin-bottom: 3px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    font-family: var(--opens);
    color: #404040;
  }

  .form__bottom{
    align-items: flex-start;

    .form-group{
      margin-left: auto;
    }

    .label__text,
    .label__link{
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: normal;
      font-family: var(--opens);
      color: #404040;
    }

    .label__link{
      color: var(--primary);
      text-decoration: none;
      transition: var(--trc);

      &:hover{
        color: var(--hover);
      }
    }

    .button-wrap{
      margin-left: 16px;
      margin-right: 0;
    }

    .button{
      width: 224px;
      height: 48px;
      box-shadow: 0 6px 14px rgba(0, 0, 0, 0.05);

      &:hover{
        box-shadow: 0 6px 20px rgba(161, 191, 53, .3);
      }
    }

    .input-file{
      position: relative;
      display: flex;
      align-items: center;
      padding-left: 30px;

      > .icon{
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .form-text{
      display: inline-block;
      margin-top: 0;
      margin-left: 30px;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      font-family: var(--opens);
      color: #C2C2C2;
      border-bottom: 1px dashed #C2C2C2;
      cursor: pointer;
    }

    [class*="hint--"].hint--white.hint--large:after{
      width: 344px;
      margin-left: -50px;
      padding: 18px 23px;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 20px;
      font-family: var(--opens);
      color: #404040;
      text-align: left;
      border-radius: 3px;
      box-shadow: 0 2px 9px rgba(0, 0, 0, 0.15);
    }

    [class*="hint--"].hint--white.hint--large:before{
      margin-top: 3px;
      border-width: 6px;
      border-top-color: #fff;
      border-left-color: #fff;
      box-shadow: -2px -2px 2px rgba(0, 0, 0, 0.05);
      transform: rotate(45deg);
    }
  }
}
/**
media
 */
.mobile {

  .form--style{

    .form-placeholder{
      height: auto;
      white-space: normal;
      font-size: 12px;
      line-height: 18px;
    }

    .form-control{
      height: 36px;
    }

    textarea.form-control{
      height: 69px;
    }

    .form__bottom {
      padding: 0 16px;

      .form-group{
        margin-top: 20px;
      }

      .button{
        width: 100%;
        height: 40px;
      }
    }
  }

  .form-inputfile + label .form-inputfile-name {
    font-size: 14px;
  }

  .form--style .form__bottom .label__text,
  .form--style .form__bottom .label__link{
    font-size: 12px;
  }

  .form-group--triple{
    margin-bottom: 0;

    .form-element{
      margin-bottom: 13px;
    }
  }
}