[class*="hint--"].hint--white{

  &:after {
    background-color: #fff;
    padding: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 1;
    text-align: center;
    color: #333333;
    /*border: 1px solid #F2F2F2;*/
    text-shadow: none;
    border-radius: 1px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
  }

  &.hint--left:before {
    border-left-color: #fff;
  }

  &.hint--left:after{
    margin-bottom: -16px;
  }

  &.hint--left:before{
    margin-bottom: -6px;
    margin-right: -10px;
  }

  &.hint--bottom-left:before{
    border-bottom-color: #fff;
  }

  &.hint--top-left:before{
    border-top-color: #fff;
  }
}

.orders.active{
  [class*="hint--"]:before,
  [class*="hint--"]:after{
    content: none;
  }
}