[class*="hint--"].hint--white{

  &:after {
    background-color: #fff;
    padding: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 1;
    text-align: center;
    color: #333333;
    /*border: 1px solid #F2F2F2;*/
    text-shadow: none;
    border-radius: 1px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }

  &.hint--left:before {
    border-left-color: #fff;
  }

  &.hint--left:after{
    margin-bottom: -16px;
  }

  &.hint--left:before{
    margin-bottom: -6px;
    margin-right: -10px;
  }

  &.hint--bottom-left:before,
  &.hint--bottom-right:before{
    border-bottom-color: #fff;
  }

  &.hint--top-left:before{
    border-top-color: #fff;
  }

  &.hint--right:before{
    border-right-color: #fff;
  }
  /**
  hint--aruna
   */
  &.hint--bottom:before {
    border-bottom-color: #fff;
  }

  &.hint--aruna:after {
    left: 0;
    width: 344px;
    margin-left: 0;
    padding: 10px 15px 12px;
    box-shadow: 0 2px 9px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    font-family: var(--opens);
    font-size: 12px;
    line-height: 20px;
    color: #404040;
    text-align: left;
    white-space: normal;
    word-wrap: break-word;
    transform: translateX(0);
  }

  &.hint--aruna:hover:after {
    transform: translateX(0) translateY(8px);
  }

  &.hint--aruna-item:after {
    left: auto;
    right: 0;
  }
  &.hint--userSale {
    &:after {
      width: 210px;
      border-radius: 2px;
      padding: 20px;
      box-shadow: 0 2px 9px rgba(0, 0, 0, 0.2);
      color: var(--black03);
      font-family: var(--opens);
      font-size: 12px;
      line-height: 1.5;
      text-align: left;
      white-space: normal;
      bottom: auto;
      margin-bottom: 0;
    }
    &:before {
      margin-right: -12px;
    }
  }
  &.hint--userSaleButton {
    display: flex;
    &:after {
      width: 210px;
      border-radius: 2px;
      padding: 20px;
      box-shadow: 0 2px 9px rgba(0, 0, 0, 0.2);
      color: var(--black03);
      font-family: var(--opens);
      font-size: 12px;
      line-height: 1.5;
      text-align: left;
      text-transform: none;
      letter-spacing: 0;
      white-space: normal;
      bottom: 58px;
      left: 50%;
      margin-left: -110px;
      /* transform: translateX(-50%); */
    }
    &:before {
      bottom: 52px;
      border-color: #fff;
      transform: rotate(-45deg);
    }
  }
}
/**

 */
.orders.active{
  [class*="hint--"]:before,
  [class*="hint--"]:after{
    content: none;
  }
}
/**

 */
.solution__tabs-title-item--icon{

  [class*="hint--"].hint--white:after{

  }
}
/**
mobile
 */
.mobile {

  .part__wrap [class*="hint--"].hint--white:before,
  .part__wrap [class*="hint--"].hint--white:after {
    content: none;
  }
}