.icon {
  display: inline-block;
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  font-size: 0;
}

.icon--close {
  position: relative;
  width: 22px;
  height: 22px;
  overflow: hidden;

  &:after,
  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
    transition: var(--trbg);
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}

.icon--close-dark {

  &:after,
  &:before {
    background-color: #000;
  }
}

.icon--close-primary {

  &:after,
  &:before {
    background-color: var(--primary);
  }
}
/**

 */
.icon--plus {
  position: absolute;
  top: 50%;
  right: 36px;
  width: 28px;
  height: 28px;
  margin-top: -14px;

  &:before,
  &:after {
    content: '';
    position: absolute;
    background-color: #A1BF35;
  }

  &:before {
    top: 0;
    left: 50%;
    width: 2px;
    height: 28px;

    margin-left: -1px;
    transition: var(--trf);
  }

  &:after {
    top: 50%;
    left: 0;
    width: 28px;
    height: 2px;
    margin-top: -1px;
  }
}

.icon--plus-white{

  &:before,
  &:after {
    background-color: #fff;
  }
}

.icon--plus-small{
  width: 14px;
  height: 14px;

  &:before {
    width: 2px;
    height: 14px;
  }

  &:after {
    width: 14px;
    height: 2px;
  }
}

.icon--footer-item1 {
  width: 24px;
  height: 13px;
  background-image: url(/images/footer-item1.svg);
}

.icon--footer-item2 {
  width: 8px;
  height: 17px;
  background-image: url(/images/footer-item2.svg);
}

.icon--footer-item3 {
  width: 19px;
  height: 15px;
  background-image: url(/images/footer-item3.svg);
}

.icon--footer-item4 {
  width: 12px;
  height: 18px;
  background-image: url(/images/footer-item4.svg);
}

.icon--footer-item5 {
  width: 20px;
  height: 14px;
  background-image: url(/images/footer-item5.svg);
}

.icon--footer-item6 {
  width: 18px;
  height: 18px;
  background-image: url(/images/footer-item6.svg);
}

/**

 */
.icon--box {
  width: 17px;
  height: 10px;
  background-image: url(/images/box.svg);
}

.icon--download {
  width: 17px;
  height: 11px;
  background-image: url(/images/download.svg);
}

.icon--arrow-down {
  width: 10px;
  height: 6px;
  background-image: url(/images/arrow-down.svg);
}

.icon--arrow-right-small {
  width: 6px;
  height: 11px;
  background-image: url(/images/arrow-right-small.svg);
}

.icon--zoom {
  width: 14px;
  height: 13px;
  background-image: url(/images/zoom.svg);
}

.icon--zoom-big {
  width: 23px;
  height: 23px;
  background-image: url(/images/zoom-big.svg);
}

/**

 */
.icon--compare {
  width: 16px;
  height: 17px;
  background-image: url(/images/compare.svg);
}

.icon--cart {
  width: 18px;
  height: 18px;
  background-image: url(/images/cart.svg);
}

.icon--auth {
  width: 22px;
  height: 22px;
  background-image: url(/images/auth.svg);
}

.icon--play {
  width: 89px;
  height: 88px;
  background-image: url(/images/play.svg);
}

.icon--play-sm {
  width: 84px;
  height: 84px;
  background-image: url(/images/play.svg);
}

/**

 */
.icon--prev,
.icon--next {
  width: 40px;
  height: 40px;
  background-color: #FDFDFD;
  background-size: 12px 20px;
  background-position: 50% 50%;
  border: 1px solid #FFFFFF;
  transition: var(--trbg), var(--trb);
  outline: 0;

  &:hover {
    background-color: #EBF1D5;
    border: 1px solid #EBF1D5;
  }
}

.icon--prev {
  background-image: url(/images/arrow-left.svg);
}

.icon--next {
  background-image: url(/images/arrow-right.svg);
}
/**

 */
.icon--clip {
  width: 20px;
  height: 20px;
  background-image: url(/images/clip.svg);
}

.icon--gear {
  width: 36px;
  height: 36px;
  background-image: url(/images/gear.svg);
}

.icon--blank {
  width: 36px;
  height: 36px;
  background-image: url(/images/blank.svg);
}

.icon--info {
  width: 30px;
  height: 30px;
  background-image: url(/images/info.svg);
}
/**

 */
.icon--list {
  width: 28px;
  height: 29px;
  background-image: url(/images/list.svg);
}

.icon--sms {
  width: 28px;
  height: 29px;
  background-image: url(/images/sms.svg);
}

.icon--atsign {
  width: 28px;
  height: 29px;
  background-image: url(/images/atsign.svg);
}

.icon--atsign-sm {
  width: 16px;
  height: 16px;
}

.icon--phone {
  width: 28px;
  height: 29px;
  background-image: url(/images/phone.svg);
}
/**

 */
.icon--msg-item1{
  width: 32px;
  height: 32px;
  background-image: url(/images/msg-item1.svg);
}

.icon--msg-item2{
  width: 32px;
  height: 32px;
  background-image: url(/images/msg-item2.svg);
}

.icon--msg-item3{
  width: 32px;
  height: 32px;
  background-image: url(/images/msg-item3.svg);
}

.icon--msg-item4{
  width: 32px;
  height: 32px;
  background-image: url(/images/msg-item4.svg);
}

.icon--msg-item4{
  width: 32px;
  height: 32px;
  background-image: url(/images/msg-item4.svg);
}

.icon--msg-item5{
  width: 16px;
  height: 16px;
  background-image: url(/images/msg-item5.svg);
}
/**

 */
.icon--inline {
  background-image: none;
}























