@import "../variables.css";

.link--default {
  display: inline-block;
  padding-bottom: 5px;
  color: #3d3d3d;
  font-family: var(--opens);
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 1px solid #9F9F9F;
  opacity: 1;
  transition: var(--trb), var(--trc), var(--tro);

  &.active,
  &:hover {
    border-bottom: 1px solid #A1BF35;
    color: #A1BF35;
    opacity: 0.7;
  }
}
.link--back,
.link--more{
  display: flex;
  align-items: center;
  text-decoration: none;

  &:hover {

    .link__text {
      color: #61AE3B;
    }

    .link__icon svg path {
      stroke: #61AE3B
    }
  }

  .link__text {
    margin-right: 11px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: normal;
    font-family: var(--museo);
    color: #A1BF35;
    transition: var(--trc);
  }

  .link__icon {
    position: relative;
    top: 1px;
    font-size: 0;
    line-height: 1;

    svg path {
      transition: stroke var(--time);
    }
  }
}
/**

 */
.link--back{

  .link__text {
    margin-right: 0;
    margin-left: 14px;
    color: #A1BF35;
    font-size: 13px;
    font-weight: 400;
    font-family: var(--opens);
  }

  .link__icon{
    top: 0;
    transform: rotate(-180deg);

    svg{
      width: 11px;
      height: 14px;
    }
  }
}
/**

 */
.link--icon{
  display: flex;
  text-decoration: none;

  .link__text{
    font-family: var(--museo);
    color: var(--primary);
    font-size: 16px;
    line-height: 1;
    transition: var(--trc);
  }

  &:hover{

    .link__text{
      color: var(--hover);
    }
  }
}
