@import "../../layout/variables.css";
/**

 */
.emunit__models-box-title {
  display: flex;
  align-items: center;
  min-height: 52px;
  background: rgba(196, 196, 196, 0.2);
  border: 1px solid rgba(196, 196, 196, 0.5);
  padding: 0 28px;
  font-family: var(--opens);
  color: #404040;
  font-size: 16px;
  line-height: 26px;
}

.emunit__models-box-propshider {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 39px;
  padding: 0 28px;
  font-family: var(--museo);
  font-size: 16px;
  line-height: 21px;
  color: var(--primary);
  cursor: pointer;

  &:after {
    content: '';
    position: absolute;
    left: 28px;
    right: 28px;
    bottom: 0;
    height: 1px;
    background-color: rgba(196, 196, 196, 0.5);
  }
}
/**

 */
.emunit__models {
  position: relative;

  .title {
    display: block;
    margin-bottom: 8px;
    padding-right: 73px;
    font-family: var(--museo);
    font-size: 18px;
    line-height: 24px;
    color: var(--primary);
    text-decoration: none;
    transition: var(--trc);

    &:hover {
      color: var(--hover);
    }
  }

  .price {
    margin-right: 23px;
  }

  .label--checkbox .icon--checkbox {
    margin-top: 0;
  }

  .label--checkbox .label__text {
    margin-left: 7px;
    font-size: 16px;
    font-weight: 500;
    color: var(--primary);
  }
}

.emunit__models-item {
  position: relative;
  display: flex;
  min-height: 210px;
  padding: 19px 28px 31px;
  transition: var(--trbg);

  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    height: 3px;
    background-color: var(--primary);
    opacity: 0;
    transition: var(--tro);
  }

  &:hover {
    background-color: #F5F5F5;

    &:after {
      opacity: 1;
    }
  }
}

.emunit__models-wrap {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .emunit__models-top-box .props__item {
    display: none;
  }

  &.prop-hide {

    .emunit__models-top-box .props__item {
      display: block;
    }
  }
}

.emunit__models-pic {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 92px;
  height: 96px;
  background-color: #fff;
  margin-top: 9px;
  margin-right: 23px;
  padding: 10px;
  border: 1px solid rgba(196, 196, 196, 0.5);
}

.emunit__models-top-wrap {
  display: flex;
  align-items: flex-start;
}

.emunit__models-top-item {
  display: flex;

  .title {
    display: block;
  }

  &:first-child {
    padding-top: 8px;
  }

  &:last-child {
    flex-shrink: 0;
    align-items: center;
    margin-left: auto;
  }
}

.emunit__models-top-links {
  position: absolute;
  top: 75px;
  right: 28px;
  display: flex;
  justify-content: flex-end;

  .link {
    line-height: 1;
  }

  .link:last-child {
    margin-left: 28px;
  }
}

.emunit__models-top-props {
  position: absolute;
  top: 107px;
  right: 28px;
}
/**

 */
.emunit__models-bottom {
  margin-top: auto;

  .link {
    color: var(--primary);
    font-size: 16px;
    text-decoration: none;
    transition: var(--trc);

    &:hover {
      color: var(--hover);
    }
  }
}

.emunit__models-bottom-wrap {
  display: flex;
  justify-content: space-between;
}
/**

 */
.emunit__models-middle {
  margin-bottom: 13px;
}
/**

 */
.count {
  display: flex;
  align-items: center;
  justify-content: center;
}

.count__item {
  margin-right: 7px;

  &:last-child {
    margin-right: 0;
  }
}

.count__minus {
  position: relative;
  display: block;
  width: 14px;
  height: 14px;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 14px;
    height: 2px;
    margin-top: -1px;
    background-color: var(--primary);
  }
}

.count__plus {
  position: relative;
  display: block;
  width: 14px;
  height: 14px;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 14px;
    height: 2px;
    margin-top: -1px;
    background-color: var(--primary);
  }

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 14px;
    margin-top: -7px;
    margin-left: -1px;
    background-color: var(--primary);
  }
}

.count__input {
  width: 62px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #C2C2C2;
  border-radius: 3px;
  padding: 0 5px;
  color: #404040;
  font-size: 16px;
  text-align: center;
}

.emunit__models-button-fill {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 124px;
  height: 40px;
  min-height: auto;
  margin: 0 0 0 27px;
  padding: 0;
}

.emunit__models-button-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 40px;
  min-height: auto;
  margin-left: 10px;
  padding: 0;
}
/**
mobile
 */
.mobile {

  .emunit__top-links-wrap {
    flex-direction: column;
    align-items: flex-start;
    border: none;
    margin-top: 25px;
    padding-top: 0;

    .link {
      margin-left: 0;
      margin-top: 25px;

      &:first-child {
        margin-top: 0;
      }
    }

    .stack-popup {
      display: none;
    }
  }

  .emunit__models-top-wrap {
    flex-direction: column;
  }

  .emunit__models-top-item {
    align-items: center;
    flex-direction: column;
    margin-left: 0;
    padding-top: 0;
  }

  .emunit__models-top-links {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    justify-content: space-between;
  }

  .emunit__top-left {
    margin-bottom: 35px;
  }

  .emunit__models {

    .accordion__content {
      background-color: #F3F3F3;
    }

    .accordion__item {
      margin-bottom: 0;
    }

    .accordion__header {
      padding: 16px 40px 16px 16px;
    }

    .title {
      padding: 0;
    }

    .count {
      margin-top: 20px;

      & + .button {
        margin-top: 20px;
      }
    }

    .count__input {
      width: 106px;
    }
  }

  .emunit__models-item {
    flex-direction: column;
    background-color: #fff;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-bottom: 4px solid var(--primary);

    &:hover {
      background-color: #fff;
    }
    
    &:after {
      content: none;
    }
  }

  .emunit__models-box-title {
    position: relative;
    background-color: #F3F3F3;
    margin-bottom: 20px;
    padding: 12px 16px 20px;
    font-size: 13px;
    line-height: 21px;
    border: none;

    &:after {
      content: '';
      position: absolute;
      left: 16px;
      right: 16px;
      bottom: 0;
      height: 1px;
      background-color: rgba(196, 196, 196, 0.5);
    }
  }

  .emunit__models-box-propshider {
    display: none;
  }

  .emunit__models-props {

    .props__item {
      display: flex;
      flex-direction: column;
      margin-bottom: 8px;
    }

    .props__value,
    .props__name {
      font-size: 14px;
      line-height: 22px;
    }
  }

  .emunit__models-top-props {
    position: relative;
    top: 0;
    right: 0;
    margin-top: 12px;
    margin-bottom: 12px;

    .props__item {
      font-size: 14px;
    }
  }

  .emunit__models-bottom .link {
    display: inline-block;
    padding-bottom: 0;
    font-size: 13px;
    line-height: 21px;
  }

  .emunit__models-bottom-item {
    width: 100%;
    text-align: center;
  }

  .emunit__models .price {
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 15px;

    .price__item {
      font-size: 24px;
    }

    & + .count {
      margin-top: 0;
    }
  }

  .emunit__models-button-fill,
  .emunit__models-button-empty {
    width: 100%;
    margin-left: 0;
    font-size: 11px;
  }

  .emunit__models-button-empty {
    margin-top: 15px;
    margin-bottom: 16px;
  }

  .emunit__models .label--checkbox .label__text {
    font-size: 13px;
  }

  .emunit__archive {

    .accordion__header {
      padding: 16px 40px 16px 16px;
    }

    .props {
      padding: 13px;
    }

    .props__item {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      margin-bottom: 13px;
      font-family: var(--opens);
      color: #404040;
      font-size: 12px;
      line-height: 17px;
      text-align: left;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .props__name {
      margin-bottom: 7px;
      font-weight: bold;
    }

    .props__value {
      font-weight: 400;
    }
  }

  .emunit__archive-item {
    margin-bottom: 20px;
    border: 1px solid rgba(196, 196, 196, 0.5);

    &:last-child {
      margin-bottom: 0;
    }
  }

  .emunit__archive-part-title {
    display: flex;
    height: 47px;
    align-items: center;
    background-color: rgba(196, 196, 196, 0.2);
    padding: 14px 13px;
    font-family: var(--opens);
    font-size: 13px;
    font-weight: bold;
  }
  /**

   */
  .emunit__models-filter {
    flex-direction: column;
  }

  .aruna.content__text-editor {
    padding-top: 16px;
    padding-bottom: 0;
  }

  .emunit__top-right-descr p {
    font-size: 18px;
  }

  .emunit__top-right {

    .text-editor p {
      font-size: 14px;
    }
  }

  .emunit__tabs-title-item {
    font-size: 15px;
    line-height: 19px;

    &:first-child {
      padding: 0 30px;
    }
  }

  .emunit__models-filter-title {
    font-size: 12px;
  }

  .emunit__models-filter {
    margin-bottom: 30px;
    padding: 0 16px;
  }

  .emunit__middle {
    padding: 0;
  }

  .emunit__bottom {
    padding-top: 25px;
    padding-bottom: 10px;

    .container:first-child {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .emunit__review {
    max-width: 100%;
    padding: 35px 16px 0;

    &.text-editor ul {
      margin-bottom: 20px;
    }
  }

  .emunit__review-item {
    margin-bottom: 20px;
  }

  .emunit__review-item:first-of-type {

    .emunit__review-title {
      font-size: 20px;
    }
  }

  .emunit__review-title {
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 24px;
  }

  .emunit__review-descr {
    font-size: 14px;
  }

  .emunit__top-links .link__text,
  .emunit__top-right-proj .link__text {
    font-size: 14px;
    line-height: 18px;
  }

  .emunit__models-pic {
    width: 205px;
    height: 200px;
    margin: 24px auto 40px;
  }

  .emunit__top-links--main {

    .emunit__top-links-wrap {
      flex-direction: row;
      flex-wrap: wrap;

      .link {
        width: 50%;
        margin-top: 0;
        margin-bottom: 25px;
      }
    }
  }

  .emunit__tabs--main {
    margin-top: 10px;
  }

  .emunit__tabs-content-item {

    .files .file {
      padding-right: 0;
    }
  }
}