.price__item {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  font-family: var(--museo);
  font-size: 18px;
  line-height: 1;
  color: #404040;
}

.price__currency {
  margin-left: 3px;
}