/**
Блок поделиться
Нельзя использовать названия - share и аналоги из-за адблока
 */
.stack{
  display: flex;
  align-items: center;

  .ya-share2__list{
    margin-bottom: 0;
    line-height: 1;

    li{
      padding-left: 0;
    }

    li:before{
      content: none;
    }
  }
}

.stack__title{
  margin-right: 13px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  font-family: var(--opens);
  color: #404040;
}