.tags {
  overflow: hidden;
  margin: 0 -7px;
}

.tags__item {
  display: inline-block;
  margin: 0 7px 20px;
}

.tag {
  position: relative;
  opacity: .5;
  display: inline-block;
  padding: 5px 29px;
  white-space: nowrap;
  color: #ffffff;
  font-family: var(--fontTextRegular);
  font-size: 16px;
  line-height: 1;
  border-radius: 100px;
  border: 1px solid #ffffff;
  text-decoration: none;
  transition: var(--tro), var(--trbg), padding .3s ease;

  &:after {
    opacity: 0;
    content: '';
    position: absolute;
    top: 10px;
    right: 20px;
    width: 8px;
    height: 8px;
    background-image: url('var(--imagePath)/close.svg');
    background-position: 0 0;
    background-size: contain;
    transition: var(--trf), var(--tro);
  }

  &:hover,
  &:active {
    opacity: 1;

    &:after {
      transform: scale(1.2);
    }
  }

  &.active {
    opacity: 1;
    background-color: #a26a4f;
    border-color: #a26a4f;
    padding: 5px 38px 5px 15px;

    &:after {
      opacity: 1;
    }
  }
}

.tags-more {
  display: block;
  margin-top: 30px;
  text-align: center;
}

.tags-more__link {
  position: relative;
  display: inline-block;
  padding-bottom: 7px;
  color: #fff;
  font-family: var(--fontTextRegular);
  font-size: 14px;
  letter-spacing: 0.84px;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  transition: var(--trc);

  svg path {
    transition: fill var(--time);
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: #fff;
    transition: var(--trbg);
  }

  &:hover,
  &:active {
    color: #a26a4f;

    svg path {
      fill: #a26a4f;
    }

    &:after {
      background-color: #a26a4f;
    }
  }

  &.active {

    .icon {
      position: relative;
      top: -1px;
      transform: rotate(-180deg);
    }
  }
}

.tags__item.hidden {
  opacity: 0;
  visibility: hidden;
}

.edge {

  .calendar__tags .tag {
    transition: var(--tro), var(--trbg);
  }

  .tags-more__link,
  .tags-more__link:after,
  .tags-more__link svg path {
    transition: none;
  }
}

.ie11 {

  .tags-more__link,
  .tags-more__link:after,
  .tags-more__link svg path {
    transition: none;
  }
}