@import "../../layout/variables.css";

.wheretobuy {

  .form-group-double .form-element:last-child {
    margin-top: 13px;
  }

  .form-element--wtb-chbox {
    margin-top: 13px;

    .label {
      display: block;
      margin-bottom: 7px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .label--checkbox .label__text {
      line-height: 21px;
      font-size: 16px;
      color: #404040;
    }
  }

  .select-custom--default .choices__list--single .choices__item.choices__placeholder {
    font-family: var(--museo);
    color: #404040;
    font-size: 15px;
    font-weight: 300;
  }
}

.wheretobuy__toggle-map {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 35px;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    border: 1px solid #C2C2C2;
    border-radius: 3px;
  }

  &.active {

    .wheretobuy__toggle-map-item {

      &:first-child {
        background-color: var(--primary);

        span {
          color: #fff;
        }
      }

      &:last-child {
        background-color: transparent;

        span {
          color: var(--primary);
        }
      }
    }
  }
}

.wheretobuy__toggle-map-item {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 48px;
  border-radius: 3px;
  background-color: var(--primary);
  font-family: var(--museo);
  color: #fff;
  font-size: 18px;
  cursor: pointer;

  &:hover {

    span {
      border-color: transparent;
    }
  }

  span {
    border-bottom: 1px dashed var(--primary);
    transition: var(--trb), var(--trc);
  }

  &:first-child {
    background-color: transparent;
    color: var(--primary);
  }
}


.wheretobuy__filter {
  margin-bottom: 24px;
}

.wheretobuy__map {
  overflow: hidden;
  margin-top: 24px;
  transition: height var(--time);
}

.wheretobuy__map-self {
  padding-top: 23px;
  padding-bottom: 63px;
  border-top: 1px solid rgba(196, 196, 196, 0.5);
}

#wheretobuyMap {
  width: 100%;
  height: 521px;
}

/**

 */
.wheretobuy-partners {
  margin-bottom: -40px;
  padding: 0 0 65px;

  .container {
    position: relative;
  }

  .change-view {
    position: absolute;
    top: 0;
    right: 15px;
  }
}

.wheretobuy-partners__wrap {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: -33px;
}

.wheretobuy-partners__title {
  margin-bottom: 36px;
  padding-bottom: 25px;
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: normal;
  font-family: var(--museo);
  color: #000000;
  border-bottom: 1px solid rgba(196, 196, 196, 0.5);
}

.wheretobuy-partners__item {
  background-color: #fff;
  margin-bottom: 33px;
  padding: 15px;
}

.wheretobuy-partners__item-pic {
  position: relative;
  display: flex;
  min-height: 131px;
  background-color: #F5F5F5;
  margin-bottom: 24px;
  background-image: url(/images/wheretobuy-temp.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.wheretobuy-partners__item-pic--store {
  background-image: url(/images/wheretobuy-store.svg);
}

.wheretobuy-partners__item-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.wheretobuy-partners__item-name {
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  font-family: var(--museo);
  color: #333;
}

.wheretobuy-partners__item-warehouse {
  margin-bottom: 7px;
  font-size: 13px;
  line-height: 19px;
  color: #404040;
  opacity: 0.8;
  border-radius: 12px;
}

.wheretobuy-partners__item-phone,
.wheretobuy-partners__item-address {
  margin-bottom: 8px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  font-family: var(--opens);
  color: #404040;
}

.wheretobuy-partners__item-phone {
  padding-left: 21px;
  background-image: url(/images/msg-item5.svg);
  background-position: 0 5px;
  background-repeat: no-repeat;
}

.wheretobuy-partners__item-site,
.wheretobuy-partners__item-email {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  font-family: var(--museo);
  color: #A1BF35;
}

.wheretobuy-partners__item-email-wrap {
  margin-bottom: 8px;
}

.wheretobuy-partners__item-email {
  display: inline-block;
  min-height: 20px;
  padding-left: 21px;
  background-image: url(/images/atsign.svg);
  background-position: 0 3px;
  background-size: 18px 18px;
  background-repeat: no-repeat;
  text-decoration: none;
  transition: var(--trc);

  &:hover {
    color: var(--hover);
  }
}

.wheretobuy-partners__item-site {
  display: inline-block;
  min-height: 20px;
  padding-left: 21px;
  background-image: url(/images/earth.svg);
  background-position: 0 3px;
  background-repeat: no-repeat;
  text-decoration: none;
  transition: var(--trc);

  &:hover {
    color: var(--hover);
  }
}
/**

 */
.wheretobuy-partners__wrap--list {
  flex-direction: column;

  .col-sm-3 {
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .wheretobuy-partners__item {
    display: flex;
    align-items: center;
    padding: 30px;
  }

  .wheretobuy-partners__item-pic {
    display: none;
  }

  .wheretobuy-partners__item-name {
    width: 100%;
    max-width: 41.666667%;
  }
}
/**

 */
.wheretobuy-partners__filter {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  padding-top: 28px;
  padding-bottom: 24px;
  border-bottom: var(--border);

  label{
    margin-right: 6px;
    cursor: pointer;

    &:last-child{
      margin-right: 0;
    }
  }

  input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    outline: 0;
    visibility: hidden;
  }

  input[type="radio"]:checked{

    & ~ .wheretobuy-partners__filter-name{
      background-color: #61AE3B;
      color: #fff;
    }
  }
}

.wheretobuy-partners__filter-title {
  margin-right: 30px;
  font-family: var(--opens);
  font-size: 16px;
  line-height: 1;
  color: #404040;
}

.wheretobuy-partners__filter-wrap {
  display: flex;
  align-items: center;
}

.wheretobuy-partners__filter-name {
  position: relative;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  height: 28px;
  background-color: rgba(161, 191, 53, .2);
  border-radius: 3px;
  padding: 0 15px;
  margin-right: 6px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 21px;
  text-align: center;
  font-family: var(--opens);
  color: var(--primary);
  transition: var(--trc), var(--trf), var(--trbg), var(--trc);

  &:hover {
    background-color: rgba(97, 174, 59, .2);
    color: #61AE3B;
  }
}
/**
mobile
 */
.mobile {

  .wheretobuy__filter {

    .form-group-double {
      margin-bottom: 25px;
    }
  }

  .wheretobuy .form-element--wtb-chbox .label--checkbox .label__text {
    font-size: 13px;
  }

  .wheretobuy .form-element--wtb-chbox {
    margin-top: 15px;
  }

  .select-custom .choices[data-type*="select-one"] .choices__input,
  .select-custom .choices__list--dropdown .choices__item,
  .wheretobuy .select-custom--default .choices__list--single .choices__item.choices__placeholder,
  .select-custom--default .choices__list--single .choices__item {
    font-size: 12px;
  }

  .wheretobuy__toggle-map-item span {
    font-size: 14px;
  }

  .wheretobuy-partners .change-view {
    display: none;
  }

  .wheretobuy-partners__title {
    font-size: 22px;
  }
}