extends ../layout.pug

block content
  .content
    .container
      include ../../components/content-header/content-header
      .wheretobuy.js-wheretobuy
        script(src = "https://api-maps.yandex.ru/2.1/?apikey=bb14b62c-4405-4ce3-9db0-762219c7cb4a&lang=ru_RU" type="text/javascript")
        .wheretobuy__filter: .form.form--style
          .form-group: .row
            .col-sm-4.form-group-double
              .form-element: label
                .form-placeholder Страна
                include ../common/wheretobuy-country-common
              .form-element: label
                include ../common/wheretobuy-city-common
            .col-sm-4
              .form-element: label
                .form-placeholder Компании-дилеры
                include ../common/wheretobuy-dealers-common
              .form-element.form-element--wtb-chbox
                label.label.label--checkbox
                  input.form-control.js-form-validate__checked(type='checkbox')
                  .icon.icon--checkbox
                  .label__text Интернет-магазин
                label.label.label--checkbox
                  input.form-control.js-form-validate__checked(type='checkbox')
                  .icon.icon--checkbox
                  .label__text OEM-производители
            .col-sm-4.form-element
              .wheretobuy__toggle-map.js-wheretobuy__toggle-map
                .wheretobuy__toggle-map-item: span Скрыть карту
                .wheretobuy__toggle-map-item: span Показать карту
        .wheretobuy__map.js-wheretobuy__map
          .wheretobuy__map-self: #wheretobuyMap(data-map-marker="/images/map/marker2.svg")
    include ../../pages/common/wheretobuy-common