<div style="display: none;">
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <symbol id="svg-table-item-delete" viewBox="0 0 13 13">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M0.460884 0.460884C0.742061 0.179707 1.19794 0.179707 1.47912 0.460884L12.0391 11.0209C12.3203 11.3021 12.3203 11.7579 12.0391 12.0391C11.7579 12.3203 11.3021 12.3203 11.0209 12.0391L0.460884 1.47912C0.179706 1.19794 0.179706 0.742062 0.460884 0.460884Z" fill="#DF4E3B"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M12.0391 0.460884C12.3203 0.742062 12.3203 1.19794 12.0391 1.47912L1.47912 12.0391C1.19794 12.3203 0.74206 12.3203 0.460883 12.0391C0.179706 11.7579 0.179706 11.3021 0.460883 11.0209L11.0209 0.460884C11.3021 0.179707 11.7579 0.179707 12.0391 0.460884Z" fill="#DF4E3B"/>
    </symbol>
  </svg>
</div>