.press-copyright
  .press-copyright-wrap
    .press-copyright__item.press-copyright__user.user
      .user__photo: img(src="/images/logoblocks.svg")
      .user__wrap
        .user__name <span>КОНСТАНТИНОВ</span> Константин Константинович
        .user__post Руководитель пресс-службы
    .press-copyright__item.press-copyright__contact
      .press-copyright__contact-title Контакты пресс-службы
      .press-copyright__contact-item Телефон, факс: +7 (495) 785-17-67
      .press-copyright__contact-item Email: press@belysvet.ru
    .press-copyright__item: include ../../pages/common/file