.container__text-editor
  p Техническое решение № 1 представляет собой систему аварийного освещения с автономными световыми приборами и прочими функционально дополняющими друг друга элементами (представлены в таблице №1), которые электрически совместимы друг с другом. Совместная работа этих элементов обеспечивает все виды и режимы работы аварийного освещения:
  ul
    li групповой режим ожидания световых приборов;
    li общий режим ожидания;
    li изменение типа действия светового прибора (постоянный/непостоянный) для световых приборов универсального типа;
    li групповое тестирование световых приборов;
    li ручной и автоматический перевод системы аварийного освещения в аварийный режим.
  h3 Основные элементы системы <br>
    strong Таблица №1. Основные элементы системы и их функциональность

table.table.table--valign-top
  thead
    tr
      td(style="width:68px;text-align:center") №
      td(style="width:568px;text-align:center") Элемент системы
      td(style="width:604px;text-align:center") Функции
  tbody
    tr
      td 1
      td Панель противопожарных устройств
      td Питание систем противопожарной защиты. Компанией «Белый свет» не поставляется
    tr
      td 2
      td Щит аварийного овсещения BS-AKTEON-1
      td Распределение элеткроснабжения в групповых цепях аварийного освещения Управление световыми приборами аварийного освещения универсального типа Включение/выключение группового режима ожидания световых приборов аварийного освещения Проведение тестирования световых приборов аварийного освещения Контроль наличия напряжения в групповых цепях рабочего освещения щиты рабочего освещения (ЩРО). Индикация состояния ЩАО и ЩРО