doctype
html(class=isMobile ? 'mobile' : '')
  head
    include ../head.pug
    include ../components/mixins.pug
    include topSources.pug
    link( href="/css/" + page + ".css" rel="stylesheet")

  body
    include ../components/header/header-authorized.pug

    block content

    include ../components/footer/footer.pug
    
    include bottomSources.pug

    script( src="/js/" + page + ".js" )
