extends ../layout.pug

block content
  .content
    .container
      include ../../components/content-header/content-header
      .press
        .press__tabs
          a(href="javascript:void(0);").press__tabs-item.active Новости и события
          a(href="javascript:void(0);").press__tabs-item Статьи и публикации
        .press__content
          .press__content-item.js-press__content-item
            .press__calendar.calendar
              .calendar__year
                .calendar__year-prev: .icon.icon--prev
                .calendar__year-current 2019г.
                .calendar__year-next: .icon.icon--next
              .calendar__months
                a(href="javascript:void(0);").calendar__months-item Январь
                a(href="javascript:void(0);").calendar__months-item Февраль
                a(href="javascript:void(0);").calendar__months-item.active Март
                a(href="javascript:void(0);").calendar__months-item.disable Апрель
                a(href="javascript:void(0);").calendar__months-item.disable Май
                a(href="javascript:void(0);").calendar__months-item.disable Июнь
                a(href="javascript:void(0);").calendar__months-item.disable Июль
                a(href="javascript:void(0);").calendar__months-item.disable Август
                a(href="javascript:void(0);").calendar__months-item.disable Сентябрь
                a(href="javascript:void(0);").calendar__months-item.disable Октябрь
                a(href="javascript:void(0);").calendar__months-item.disable Ноябрь
                a(href="javascript:void(0);").calendar__months-item.disable Декабрь
            include ../common/tagline
            include ../common/news
          .press__content-item.js-press__content-item
            include ../common/article
      include ../../components/press-copyright/press-copyright
      include ../../components/press-kit/press-kit