extends ../layout.pug

block content
  .content
    .container
      include ../../components/content-header/content-header
      .press
        .press__tabs
          a(href="javascript:void(0);").press__tabs-item.active Новости и события
          a(href="javascript:void(0);").press__tabs-item Статьи и публикации
        .press__content
          .press__content-item.js-press__content-item
            .press__calendar.calendar
              .calendar__year
                .calendar__year-prev: .icon.icon--prev
                .calendar__year-current 2019г.
                .calendar__year-next: .icon.icon--next
              .calendar__months
                a(href="javascript:void(0);").calendar__months-item Январь
                a(href="javascript:void(0);").calendar__months-item Февраль
                a(href="javascript:void(0);").calendar__months-item.active Март
                a(href="javascript:void(0);").calendar__months-item.disable Апрель
                a(href="javascript:void(0);").calendar__months-item.disable Май
                a(href="javascript:void(0);").calendar__months-item.disable Июнь
                a(href="javascript:void(0);").calendar__months-item.disable Июль
                a(href="javascript:void(0);").calendar__months-item.disable Август
                a(href="javascript:void(0);").calendar__months-item.disable Сентябрь
                a(href="javascript:void(0);").calendar__months-item.disable Октябрь
                a(href="javascript:void(0);").calendar__months-item.disable Ноябрь
                a(href="javascript:void(0);").calendar__months-item.disable Декабрь
            .catalog.catalog--press
              .catalog__content
                .catalog__wrap
                  .catalog__col
                    .catalog__item
                      .title Пульт аварийного освещения BS-ALARIS-1 от компании «Белый свет»
                      .descr Компания «Белый свет» является ведущим российским производителем профессионального оборудования для аварийного освещения на рынке светотехники на территории РФ и СНГ.
                      .catalog__item-box
                        a(href="javascript:void(0);").link подробнее
                        .date 14.12.18
                  .catalog__col
                    .catalog__item
                      .title Пульт аварийного освещения BS-ALARIS-1 от компании «Белый свет»
                      .descr Компания «Белый свет» является ведущим российским производителем профессионального оборудования для аварийного освещения на рынке светотехники на территории РФ и СНГ.
                      .catalog__item-box
                        a(href="javascript:void(0);").link подробнее
                        .date 14.12.18
                  .catalog__col
                    .catalog__item
                      .title Пульт аварийного освещения BS-ALARIS-1 от компании «Белый свет»
                      .descr Компания «Белый свет» является ведущим российским производителем профессионального оборудования для аварийного освещения на рынке светотехники на территории РФ и СНГ.
                      .catalog__item-box
                        a(href="javascript:void(0);").link подробнее
                        .date 14.12.18
                  .catalog__col
                    .catalog__item
                      .title Пульт аварийного освещения BS-ALARIS-1 от компании «Белый свет»
                      .descr Компания «Белый свет» является ведущим российским производителем профессионального оборудования для аварийного освещения на рынке светотехники на территории РФ и СНГ.
                      .catalog__item-box
                        a(href="javascript:void(0);").link подробнее
                        .date 14.12.18
                  .catalog__col
                    .catalog__item
                      .title Пульт аварийного освещения BS-ALARIS-1 от компании «Белый свет»
                      .descr Компания «Белый свет» является ведущим российским производителем профессионального оборудования для аварийного освещения на рынке светотехники на территории РФ и СНГ.
                      .catalog__item-box
                        a(href="javascript:void(0);").link подробнее
                        .date 14.12.18
                  .catalog__col
                    .catalog__item
                      .title Пульт аварийного освещения BS-ALARIS-1 от компании «Белый свет»
                      .descr Компания «Белый свет» является ведущим российским производителем профессионального оборудования для аварийного освещения на рынке светотехники на территории РФ и СНГ.
                      .catalog__item-box
                        a(href="javascript:void(0);").link подробнее
                        .date 14.12.18
                  .catalog__col
                    .catalog__item
                      .title Пульт аварийного освещения BS-ALARIS-1 от компании «Белый свет»
                      .descr Компания «Белый свет» является ведущим российским производителем профессионального оборудования для аварийного освещения на рынке светотехники на территории РФ и СНГ.
                      .catalog__item-box
                        a(href="javascript:void(0);").link подробнее
                        .date 14.12.18
                  .catalog__col
                    .catalog__item
                      .title Пульт аварийного освещения BS-ALARIS-1 от компании «Белый свет»
                      .descr Компания «Белый свет» является ведущим российским производителем профессионального оборудования для аварийного освещения на рынке светотехники на территории РФ и СНГ.
                      .catalog__item-box
                        a(href="javascript:void(0);").link подробнее
                        .date 14.12.18
              .catalog__footer: a(href="javascript:void(0);").button.button--press Больше новостей

          .press__content-item.js-press__content-item
            .catalog.catalog--review
              .catalog__content
                .catalog__wrap
                  .catalog__col
                    .catalog__item
                      .catalog__item-wrap
                        .title Состоялась обучающая конференция в Москве
                        .descr Компания «Белый свет» является ведущим российским производителем профессионального
                        a(href="javascript:void(0);").link подробнее
                      .catalog__item-media: .pic
                        img(src="/images/catalog/catalog-review-pic1.png").pic__img
                        a(href="javascript:void(0);").pic__link
                          .icon.icon--play
                          .pic__link-text смотреть видео
                  .catalog__col
                    .catalog__item
                      .catalog__item-wrap
                        .title Состоялась обучающая конференция в Москве
                        .descr Компания «Белый свет» является ведущим российским производителем профессионального
                        a(href="javascript:void(0);").link подробнее
                      .catalog__item-media: .pic: img(src="/images/catalog/catalog-review-pic1.png").pic__img
                  .catalog__col
                    .catalog__item
                      .catalog__item-media: .pic: img(src="/images/catalog/catalog-review-pic1.png").pic__img
                      .catalog__item-wrap
                        .title Состоялась обучающая конференция в Москве
                        .descr Компания «Белый свет» является ведущим российским производителем профессионального
                        a(href="javascript:void(0);").link подробнее
                  .catalog__col
                    .catalog__item
                      .catalog__item-media: .pic
                        img(src="/images/catalog/catalog-review-pic1.png").pic__img
                        a(href="javascript:void(0);").pic__link
                          .icon.icon--play
                          .pic__link-text смотреть видео
                      .catalog__item-wrap
                        .title Состоялась обучающая конференция в Москве
                        .descr Компания «Белый свет» является ведущим российским производителем профессионального
                        a(href="javascript:void(0);").link подробнее
                  .catalog__col
                    .catalog__item
                      .catalog__item-wrap
                        .title Состоялась обучающая конференция в Москве
                        .descr Компания «Белый свет» является ведущим российским производителем профессионального
                        a(href="javascript:void(0);").link подробнее
                      .catalog__item-media: .pic
                        img(src="/images/catalog/catalog-review-pic1.png").pic__img
                        a(href="javascript:void(0);").pic__link
                          .icon.icon--play
                          .pic__link-text смотреть видео
                  .catalog__col
                    .catalog__item
                      .catalog__item-wrap
                        .title Состоялась обучающая конференция в Москве
                        .descr Компания «Белый свет» является ведущим российским производителем профессионального
                        a(href="javascript:void(0);").link подробнее
                      .catalog__item-media: .pic: img(src="/images/catalog/catalog-review-pic1.png").pic__img
              .catalog__footer
                a(href="javascript:void(0);").button.button--press показать еще
      include ../../components/press-copyright/press-copyright
      include ../../components/press-kit/press-kit