@import "../../layout/variables.css";

.content__header .title {
  margin-bottom: 26px;
}

.card-empty {
  background-color: #F5F5F5;
  padding-bottom: 40px;

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 48px;
    margin-top: 34px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 14px;
  }
}

.card-empty__wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 340px;
  background-color: #fff;
  margin-bottom: 64px;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -32px;
    height: 1px;
    background-color: rgba(196, 196, 196, 0.5);
  }
}

.card-empty__title {
  font-family: var(--museo);
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
}
/**
mobile
 */
.mobile {

  .card-empty__title {
    font-size: 19px;
  }

  .card-empty__wrap {
    height: 288px;
    margin-bottom: 50px;
    padding-left: 18px;
    padding-right: 18px;

    &:after {
      bottom: -25px;
    }
  }

  .card-empty .button {
    z-index: 1;
    width: 100%;
    height: 40px;
    margin-top: 20px;
    font-size: 13px;
  }
}