extends ../layout.pug
include ../../components/tableFilter/tableFilter.pug
include ../../components/tableItem/tableItem.pug

block content
  .content
    .container
      include ../../components/content-header/content-header-lk
      .userObjects__filter
        .userObjects__filterForm
          .userObjects__filterFormTitle!='Параметры поиска:'
          form(action='javascript:void(0);')
            .form-element: label
              .form-placeholder Страна
              include ../common/user-objects-select-country-common
            .form-element: label
              .form-placeholder Город
              include ../common/user-objects-select-city-common
        .userObjects__filterButton
          a(href="javascript:void(0);" data-popupname="add-new-object").button.buttonFixSize.js-popup-open!='Добавить объект'
      .userObjects__tableFilter
        +tableFilter(
          ['Название объекта'],
          ['Дата создания']
        )
      .userObjects__list
        each item in objectsList
          +tableItem(
            item.leftData,
            item.rightData
          )
      .userObjects__footer
        a(href="javascript:void(0);").button.button--press.buttonFixSize!='Показать еще'
        a(href="javascript:void(0);" data-popupname="add-new-object").button.buttonFixSize.button--fixPositionRight.js-popup-open!='Добавить объект'

  include ../../components/tableFilter/icon.pug
  include ../../components/popup/pug/addNewObject.pug

