.header__client
  if isMobile
    a(href="javascript:void(0);" aria-label="Поиск").header__client-item.header__compare.js-header-mobile-search-open
      .icon.icon--inline.icon--zoom-big: include ../../../images/zoom-big.svg
  a(href="javascript:void(0);" aria-label="Сравнение").header__client-item.header__compare.hint.hint--white.hint--bottom-left
    .icon.icon--inline.icon--compare: include ../../../images/compare.svg
  a(href="javascript:void(0);" aria-label="Корзина").header__client-item.header__cart.hint.hint--white.hint--bottom-left
    .icon.icon--inline.icon--cart: include ../../../images/cart.svg
    .header__cart-count 28
  .header__client-item.list__item--user.js-header__menu-parent
    .icon.icon--inline.icon--user: include ../../../images/auth.svg
    .list__link.list__link--user!='Константин'
    .header__top-submenu.js-header__top-submenu.js-header__userMenu
      .header__top-submenu-wrap
        .header__top-submenu-item.list
          .group__userInfo
            .icon.icon--inline: include ../../../images/auth-green.svg
            .group__userName
              .name__user!='Константин <br> Константинопольский'
              .type__user!='Юридическое лицо'
          .list__item: a(href="javascript:void(0);").list__link Личный кабинет
          .list__item: a(href="javascript:void(0);").list__link Коммуникации
          .list__item: a(href="javascript:void(0);").list__link Корзина
          .list__item: a(href="javascript:void(0);").list__link Объекты
          .list__item: a(href="javascript:void(0);").list__link Спецификации
          .list__item: a(href="javascript:void(0);").list__link Документы
          .list__item: a(href="javascript:void(0);").list__link История заказов
          .list__item: a(href="javascript:void(0);").list__link Сервисные обращения
          .list__item: a(href="javascript:void(0);").list__link Журнал испытаний
          .list__item: a(href="javascript:void(0);").list__link Скидки, бонусы, акции
          .list__item: a(href="javascript:void(0);").list__link Помощь
          .list__item: a(href="javascript:void(0);").list__link Профиль
          .list__item: a(href="javascript:void(0);").list__link Выход