/* ------------------------------------------------------------------------- */

@import "../../layout/variables.css";
@import "../../components/tableFilter/tableFilter.css";
@import "../../components/tableItem/tableItem.css";
@import "../../components/userSearchParameters/userSearchParameters.css";

/* ------------------------------------------------------------------------- */

.userSale__filter {
  display: flex;
  align-items: flex-end;
  margin-top: 25px;
  margin-bottom: 20px;
  padding-top: 25px;
  border-top: var(--border);
}
.userSale__filterForm {
  width: 50%;
}
.userSale__filterButton {
  margin-left: auto;
}
.userSale__tableFilter {
  margin-top: 30px;
  margin-bottom: 20px;
}
.userSale__list {
  margin-top: 20px;
  & .tableItem:not(:first-child) {
    margin-top: 20px;
  }
}
.userSale__footer {
  margin-top: 30px;
  position: relative;
  & .button--fixPositionRight {
    position: absolute;
    right: 0;
    top: 0;
  }
}

/* --------------------------------- */

.userSaleEmpty {
  display: flex;
  align-items: center;
  margin: 30px 0 400px;
  padding: 30px 0;
  border-top: var(--border);
  border-bottom: var(--border);
}
.userSaleEmpty__description {
  color: var(--black03);
  font-family: var(--opens);
  font-size: 16px;
  line-height: 1.4;
}
.userSaleEmpty__button {
  margin-left: auto;
}

/* ------------------------------------------------------------------------- */