.checkout__item
  .title Ваш заказ
  .checkout__wrap
    .checkout__props.props
      .props__item
        .props__name Всего товаров:
        .props__value 7 035
      .props__item
        .props__name Стоимость (руб.):
        .props__value 33 064 500,00
    .subtitle Доставка
    .checkout__props.props
      .props__item
        .props__name Способ получения:
        .props__value CDEK Самовывоз
      .props__item
        .props__name Срок получения:
        .props__value Будет согласован после получения заказа и уточнения деталей
      .props__item
        .props__name Адрес доставки:
        .props__value Москва, ул. Малая Филевская, 30
      .props__item
        .props__name Стоимость доставки:
        .props__value Бесплатно
      .props__item
        .props__name ИТОГО (руб.):
        .props__value 33 064 500,00
    .subtitle Комментарий к заказу
    textarea(rows='4').form-control
    .checkout__bottom
      .checkout__bottom-link
        a(href="javascript:void(0);").link.link--simple Изменить
      .checkout__bottom-button
        button.button оформить заказ