.checkout__content-self-item
  .checkout__form-header
    .checkout__form-header-title Авторизация прошла успешно
    .checkout__form-header-subtitle Для этого конкретного заказа вы можете изменить свои контактные данные.<br> Ваши регистрационные данные при этом не изменятся.
  .checkout__form-auth-success: form(action='javascript:void(0);')
    .form-group
      .form-element: label
        .form-placeholder Фамилия:
        input(value='Иванов').form-control
        .error Текст ошибки
    .form-group
      .form-element: label
        .form-placeholder Имя:
        input(value='Иван').form-control
        .error Текст ошибки
    .form-group
      .form-element: label
        .form-placeholder Ваш мобильный телефон:
        input(value='+7 (900) 000-00-00').form-control
        .error Текст ошибки
    .form-group
      .form-element: label
        .form-placeholder E-mail:
        input(value='test@test.test').form-control
        .error Текст ошибки
    .form-group
      .form-element: label
        .form-placeholder Название вашей компании:
        input(value='ООО «ТЕХСВЕТ»').form-control
        .error Текст ошибки
    .form-group
      .form-element: label
        .form-placeholder Телефона или факс вашей компании:
        input(value='+7 (495) 771-76-61').form-control
        .error Текст ошибки