@import "../../layout/variables.css";

.checkout {

  .title {
    margin-bottom: 16px;
    padding-bottom: 9px;
    border-bottom: var(--border);
    font-weight: 600;
    font-size: 24px;
    line-height: 1;
  }

  .subtitle {
    margin-top: 17px;
    margin-bottom: 13px;
    padding-top: 20px;
    border-top: var(--border);
    color: #333333;
    font-size: 17px;
    font-weight: 600;
    line-height: 22px;
  }

  .form-control {
    font-family: var(--opens);
    color: #404040;
    font-size: 16px;
    font-weight: 400;
  }
}

.checkout__left {
  padding-right: 60px;
}

.checkout__item {
  margin-bottom: 40px;
}

.checkout__wrap {
  background-color: #fff;
  padding: 22px 0 20px;
}

.checkout__temp-text {
  display: flex;
  justify-content: center;
  padding: 11px 0;
  font-family: var(--opens);
  font-size: 16px;
  line-height: 26px;
  color: #404040;
}

/**

 */
.checkout__right {
  padding-right: 0;
  margin-left: -23px;

  .checkout__item {
    width: 100%;
  }

  .checkout__wrap {
    padding: 25px 30px;
  }
}

.checkout__props {

  .props__item {
    display: flex;
    margin-bottom: 7px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .props__name {
    flex-shrink: 0;
    width: 180px;
    font-size: 16px;
    line-height: 26px;
    color: #404040;
  }

  .props__value {
    color: #404040;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
  }
}

/**

 */
.checkout__bottom {
  margin-top: 28px;
}

.checkout__bottom-link {
  display: flex;
  justify-content: flex-end;
}

.checkout__bottom-button {
  margin-top: 12px;

  .button {
    width: 100%;
    height: 44px;
    font-family: var(--opens);
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.08em;
  }
}

/**

 */
.checkout__header {
  padding-bottom: 20px;
  border-bottom: var(--border);

  .form-group {
    display: flex;
    justify-content: center;
  }

  .form-element {
    display: flex;
    justify-content: center;
    width: 50%;
  }

  .label--checkbox {
    display: flex;
    align-items: center;
    padding-left: 0;

    .icon--checkbox {
      position: relative;
      margin-top: 0;
      border-width: 2px;
    }

    .label__text {
      font-family: var(--museo);
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      color: #333333;
    }
  }
}

.checkout__content {

  .checkout__temp-text {
    padding: 15px 0 30px;
  }
}

.checkout__content-tabs {
  display: flex;
  justify-content: center;
  margin: 0 50px;
  border-bottom: var(--border);
}

.checkout__content-tabs-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  padding-bottom: 15px;
  border-bottom: 5px solid transparent;
  cursor: pointer;

  &.active {
    border-color: var(--primary);
  }
}

.checkout__content-title {
  margin-bottom: 8px;
  color: #333;
  font-size: 18px;
  line-height: 1;
  font-weight: 500;
}

.checkout__content-subtitle {
  font-size: 12px;
  line-height: 1;
  color: #404040;
}

.checkout__content-self-item {
  display: flex;
  justify-content: center;
}

.checkout__form-auth {
  width: 100%;
  max-width: 420px;
  padding: 23px 0 30px;

  .label--checkbox {
    display: flex;
    align-items: center;
    padding-left: 0;

    .icon--checkbox {
      position: relative;
      margin-top: 0;
      border-width: 2px;
    }

    .label__text {
      font-family: var(--opens);
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #333333;
    }
  }

  .form-placeholder--space-between .link {
    font-family: var(--museo);
  }
}

.checkout__form-auth-success-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 670px;
  margin-top: 30px;

  &.success--with-back {
    max-width: 880px;
  }
}

.checkout__form-auth-success {
  padding: 0 0 30px;

  .form__bottom {
    margin-top: 30px;
    margin-bottom: 12px;
  }

  .form-group--agree .label--checkbox .label__text {
    font-size: 13px;
    color: #404040;
  }

  .form-group--agree .label--checkbox .label__link {
    font-size: inherit;
  }
}

.checkout__form-header {
  flex-direction: column;
  margin-bottom: 20px;
}

.checkout__form-header-title {
  font-family: var(--museo);
  color: #333333;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.checkout__form-header-subtitle {
  font-family: var(--opens);
  color: #404040;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}

.checkout__form-footer {
  display: flex;
  flex-direction: column;
  margin-top: 27px;

  .button {
    font-family: var(--opens);
    height: 44px;
    margin-bottom: 17px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.08em;
  }
}

.checkout__wrap--indent {
  padding: 50px;

  .checkout__content-tabs {
    margin: 0;
  }

  .select-custom--simple .choices__inner,
  .select-custom--default .choices__list--single .choices__item {
    height: 44px;
  }
}

.checkout__form-footer-wrap {
  display: flex;
  align-items: center;

  .link {
    margin-left: 8px;
  }
}

.checkout__content-select {
  margin-bottom: 43px;
}

.checkout__content-select-label {
  margin-bottom: 5px;
  font-family: var(--opens);
  color: #404040;
  font-size: 16px;
  line-height: 26px;
}

/**

 */
.checkout__receive {
  padding-top: 30px;

  .col-sm-6 {
    margin-bottom: 20px;
  }
}

.checkout__receive-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  min-height: 217px;
  background-color: #FFFFFF;
  padding: 20px;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #C2C2C2;
    transition: border-color var(--time), border-width var(--time);
  }

  &.is-active:before,
  &:hover:before {
    border-color: var(--hover);
    border-width: 2px;
  }
}

.checkout__receive-title {
  width: 100%;
  margin-top: auto;
  color: #404040;
  font-size: 17px;
  font-weight: 600;
  text-align: left;
  line-height: 22px;
}

.checkout__receive-address {
  font-family: var(--opens);
  margin-top: 5px;
  font-size: 16px;
  line-height: 26px;
}

/**

 */
.checkout__payment {

  .label--checkbox {
    display: flex;
    align-items: center;
    padding-left: 0;

    .icon--checkbox {
      position: relative;
      margin-top: 0;
      border-width: 2px;
    }

    .label__text {
      font-family: var(--opens);
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #333333;
    }
  }

  .form-placeholder {
    font-size: 12px;
  }
}

.checkout__payment-item {
  background-color: #F5F5F5;
  margin-bottom: 15px;
  padding: 20px 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.checkout__payment-wrap {
  display: flex;
  align-items: center;
  margin-top: 20px;

  .label {
    margin-right: 50px;

    &:last-child {
      margin-right: 0;
    }
  }

  &.tabs-content-hidden {
    display: none;
  }
}

/**

 */
.checkout__receive-form {

  .form-group {
    display: flex;
  }

  .form-control {
    height: 44px;
  }

  .button {
    width: 134px;
    height: 44px;
    font-size: 14px;
  }
}

.form-group--receive-top {

  .form-element {
    width: 100%;
  }
}

.form-group--receive-bottom {
  display: flex;
  align-items: flex-end;

  .form-element {
    padding-right: 15px;
  }

  .form-control {
    width: 110px;
  }

  .form__bottom {
    margin-left: auto;
  }
}

/**

 */
.checkout-quick {

  .title {
    margin-bottom: 16px;
    padding-bottom: 9px;
    border-bottom: var(--border);
    font-weight: 600;
    font-size: 24px;
    line-height: 1;
  }

  .form__bottom {
    width: 100%;
  }

  .form__footer {
    display: flex;
    align-items: flex-end;
    margin-top: 27px;
    padding-top: 25px;
    border-top: var(--border);
    width: 100%;

    .button {
      justify-content: center;
      width: 100%;
      height: 40px;
      font-size: 13px;
      font-weight: 700;
    }
  }

  .form-control {
    height: 44px;

    &::placeholder {
      font-size: 14px;
    }
  }
}

/**

 */
.checkout-done {

  .checkout__wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 330px;
  }

  .title {
    color: #333333;
    font-size: 38px;
    font-weight: 600;
    line-height: 46px;
    text-align: center;
    letter-spacing: -0.02em;
  }

  .descr {
    margin: 15px 0 40px;
    font-family: var(--opens);
    color: #404040;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
  }

  .button {
    font-family: var(--opens);
    width: 160px;
    height: 48px;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.08em;
  }
}

/**

 */
.checkout-descr {
  margin-top: 55px;
  font-family: var(--opens);
  color: #404040;
  font-size: 16px;
  line-height: 26px;
}

/**

 */
#sdek-map {
  width: 100%;
  height: 249px;
}

.checkout__receive-map {
  margin-top: 15px;
}

.checkout__receive-map-list {
  margin-top: 25px;

  .label--checkbox .label__text {
    font-family: var(--opens);
    font-size: 16px;
    line-height: 26px;
    color: #404040;
    font-weight: 400;
  }

  .label--checkbox .icon--checkbox {
    top: 5px;
    border-width: 2px;
  }

  .list__item {
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .swiper-container {
    max-height: 154px;
  }

  .swiper-scrollbar-drag {
    background: rgba(196, 196, 196, 0.5);
  }

  .swiper-container-vertical > .swiper-scrollbar {
    width: 4px;
    background: rgba(196, 196, 196, 0.3);
  }
}


.balloon {
  position: relative;
  top: 0;
  left: 0;
  width: 243px;
  height: 67px;
  background-color: #fff;
  padding: 13px 16px 10px 20px;
  box-shadow: 0 2px 9px rgba(0, 0, 0, 0.15);
  border-radius: 3px;

  &:before {
    content: '';
    position: absolute;
    left: -10px;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 15px 15px;
    border-color: transparent transparent #fff transparent;
  }
}

.balloon-title {
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.02em;
  font-family: var(--museo);
  color: #404040;
}

.balloon-content-address {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  font-family: var(--opens);
  color: #404040;
}

.balloon-content-phone {
  margin-bottom: 9px;
  padding-left: 26px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  font-family: var(--museo);
  color: #404040;
  background-image: url(/images/msg-item5.svg);
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.balloon-content-email {
  padding-left: 26px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  font-family: var(--museo);
  color: #A1BF35;
  background-image: url(/images/atsign.svg);
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: 16px 16px;
}

.checkout__item--invoice {

  .invoice-text {
    margin-left: 29px;
    font-size: 12px;
    line-height: 20px;
    color: #7E7E7E;
  }

  .checkout__payment-item.disable {
    background-image: url(/images/lock-primary.svg);
    background-repeat: no-repeat;
    background-position: right 30px top 50%;

    * {
      color: rgba(196, 196, 196, 0.7);
      pointer-events: none;
    }

    .label--checkbox .icon--checkbox {
      border-color: rgba(196, 196, 196, 0.7);
    }
  }
}

/**
mobile
 */
.mobile {

  .checkout__item--invoice {

    .checkout__payment-item {
      padding-right: 40px;
    }

    .invoice-text {
      margin-top: 5px;
      font-size: 10px;
      line-height: 15px;
    }

    .checkout__payment .label--checkbox .label__text {
      font-size: 12px;
      line-height: 19px;
    }

    .checkout__payment .label--checkbox {
      align-items: flex-start;
    }

    .checkout__payment .label--checkbox .icon--checkbox {
      margin-top: 2px;
    }

    .checkout__payment-item.disable {
      background-position: right 14px top 50%;
      background-size: 20px auto;
    }
  }

  .checkout__right {
    margin-left: 0;
  }

  .checkout__payment-wrap,
  .checkout-quick .form__footer {
    flex-direction: column;
  }

  .checkout__header .form-group {
    flex-direction: column;
  }

  .checkout__header .form-element {
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .checkout__header .label--checkbox .label__text {
    font-size: 14px;
  }

  .checkout__left {

    .checkout__wrap {
      padding: 16px;
    }

  }

  .checkout__content .checkout__temp-text {
    font-size: 13px;
    line-height: 21px;
  }

  .checkout__content-tabs {
    margin: 0;
    overflow-x: auto;
    justify-content: flex-start;
  }

  .checkout__content-tabs-item {
    flex-shrink: 0;
    width: 188px;
    text-align: center;
  }

  .checkout__content-subtitle {
    font-size: 12px;
    line-height: 20px;
  }

  .checkout__content-title {
    font-size: 17px;
  }

  .form-placeholder {
    font-size: 12px;
    line-height: 18px;
  }

  .checkout .form-control {
    height: 36px;
    font-size: 12px;
  }

  .checkout textarea.form-control {
    height: auto;
  }

  .link--simple {
    font-size: 12px;
  }

  .checkout__form-auth .label--checkbox .label__text {
    font-size: 12px;
  }

  .checkout__form-footer-wrap {
    justify-content: space-between;
    font-size: 11px;
  }

  .checkout__form-footer {
    margin-top: 18px;
  }

  .checkout__form-auth {
    padding-bottom: 5px;
  }

  .checkout .title {
    font-size: 18px;
    line-height: 23px;
  }

  .checkout__right {

    .row {
      margin: 0;
    }

    .checkout__wrap {
      padding: 16px;
    }

    .checkout__props {

      .props__item {
        flex-direction: column;
      }

      .props__name {
        font-size: 14px;
      }

      .props__value {
        font-size: 14px;
        font-weight: 700;
      }
    }
  }

  .checkout__bottom-button .button--empty {
    margin-bottom: 17px;
  }

  .checkout__bottom-button .button {
    font-size: 13px;
    height: 40px;
  }

  .checkout-done .checkout__wrap {
    padding: 0 18px;
  }

  .checkout-done .title {
    font-size: 24px;
    line-height: 31px;
  }

  .checkout-done .descr {
    font-size: 13px;
    line-height: 19px;
  }

  .checkout-done .button {
    width: 100%;
    height: 40px;
    font-size: 13px;
  }

  .checkout-quick {

    .title {
      font-size: 18px;
      line-height: 23px;
    }

    .checkout__content-self {
      padding: 0 16px;
    }

    .form-control {
      height: 36px;
      font-size: 12px;

      &::placeholder {
        font-size: 12px;
      }
    }

    .form__bottom .form-control {
      margin-top: 20px;
    }
  }

  .checkout__form-auth-success--quick {

    .col-sm-6:first-child {
      margin-bottom: 17px;
    }
  }

  .checkout-descr {
    font-size: 13px;
    line-height: 21px;
  }

  .checkout__temp-text {
    font-size: 13px;
  }

  .checkout__content-select-label {
    font-size: 12px;
  }

  .checkout__wrap--indent .select-custom--default .choices__list--single .choices__item {
    font-size: 12px;
  }

  .checkout__receive-map-list .label--checkbox .label__text {
    font-size: 12px;
    line-height: 19px;
  }

  .checkout__payment-wrap {
    align-items: flex-start;
    margin-top: 15px;

    .form-element {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .form-placeholder {
      font-size: 10px;
    }

    .label:first-child {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }

  .checkout__payment-item {
    padding: 12px;
  }

  .checkout__payment .label--checkbox .label__text {
    font-size: 12px;
  }

  .checkout__receive-form .form-group {
    flex-direction: column;
  }

  .form-group--receive-bottom {

    .form-group--half {
      flex-direction: row;
      margin-bottom: 12px;

      .form-element {
        padding-right: 12px;

        &:last-child {
          padding-right: 0;
        }
      }
    }

    .form-control {
      width: 122px;
    }

    .form__bottom {
      width: 100%;
      margin-top: 13px;
      margin-left: 0;
    }
  }

  .checkout__receive-form .button {
    width: 100%;
    height: 40px;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.08em;
  }

  .checkout__left .checkout__wrap.checkout__wrap--indent {
    padding-bottom: 25px;
  }

  .checkout__wrap--indent {

    .form-control {

      &::placeholder {
        font-size: 12px;
      }
    }
  }

  .checkout__wrap--indent .select-custom--simple .choices__inner,
  .checkout__wrap--indent .select-custom--default .choices__list--single .choices__item {
    height: 36px;
  }
}