header.header.js-header
  .header__top
    .container
      .header__top-wrap
        include ./pug/header-topmenu
        .header__top-city
          .select-custom
            select.form-control.js-select-custom
              each item in cities
                //- неправильное условие на отсутствие выделенного пункта
                //-if !item.selected & !counter
                  option(placeholder)= placeholder
                  - counter++
                if item.value
                  option(value= item.value selected= item.selected)= item.title
  .header__content
    if isMobile
      include ./pug/mobile-menu
    .container
      .header__content-wrap
        include ../popup/pug/login
        .header__middle
          include ./pug/header-middle
          .header__middle-item
            include ./pug/header-search
            include ./pug/header-client
        include ./pug/header-menu