@import "../../../node_modules/choices.js/public/assets/styles/choices.css";

.header {
  margin-bottom: 26px;
}

.header__top {
  background-color: #F5F5F5;
  border-bottom: 1px solid #e3ebeb;
}

.header__top-wrap {
  position: relative;
  min-height: 33px;
}

.header__top-menu {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;

  > .list__item {
    display: flex;
    align-items: center;
    min-height: 33px;
    margin-right: 35px;

    &:last-child {
      margin-right: 0;
    }

    &:hover {

      > .list__link {
        color: #000;
      }
    }

    > .list__link {
      position: relative;
      color: #5d5d5d;
      font-family: var(--museo);
      font-size: 12px;
      font-weight: 300;
      letter-spacing: -0.02em;
      line-height: 1;
      text-decoration: none;
      text-transform: uppercase;
      outline: 0;
      transition: var(--trc);
    }

    &.list__item--parent {

      > .list__link {

        &:before {
          content: '';
          position: absolute;
          top: 100%;
          left: 50%;
          width: 18px;
          height: 18px;
          background-color: #fff;
          margin-top: 18px;
          margin-left: -9px;
          transform: rotate(45deg);
          box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
          opacity: 0;
          visibility: hidden;
          transition-duration: 0s;
        }
      }

      &:hover {

        .header__top-submenu {
          opacity: 1;
          visibility: visible;
        }

        > .list__link:before {
          opacity: 1;
          visibility: visible;
          transition: opacity .6s ease, visibility .6s ease;
        }
      }
    }
  }
}

/**

 */
.header__top-submenu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  min-height: 450px;
  padding-top: 16px;
  transition: var(--trsee);
}

.header__top-submenu-wrap {
  display: flex;
  background-color: #FFFFFF;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);

  .list {
    position: relative;
    padding: 32px 36px;

    &:after {
      content: '';
      position: absolute;
      top: 30px;
      right: 0;
      bottom: 30px;
      width: 1px;
      background-color: #F5F5F5;
    }
  }

  .list__item {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .list__link {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: normal;
    font-family: var(--opens);
    color: #333333;
    transition: var(--trc);
    text-decoration: none;

    &:hover {
      color: #A1BF35;
    }
  }
}

.header__top-submenu-item {
  width: 33.333333%;
}

.header__top-submenu-about {
  padding: 50px 60px;
  background-image: url(/images/submenu-about-bg.jpg);
  background-position: right -104px bottom -66px;
  background-repeat: no-repeat;

  .title {
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    color: #333333;
  }

  .descr {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    font-family: var(--opens);
    color: #333333;
  }
}

.header__top-submenu-pic {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.12));
  }
}

/**

 */
.header__top-city {
  position: absolute;
  top: 10px;
  right: 0;

  .form-control {
    color: transparent;
  }

  .choices {
    font-size: 12px;

    &:before {
      content: '';
      position: absolute;
      top: 37px;
      right: -3px;
      width: 16px;
      height: 16px;
      background-color: transparent;
      transform: rotate(45deg);
      box-shadow: none;
    }

    &.is-open:before {
      background-color: #fff;
      box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
    }
  }

  .choices[data-type*="select-one"] {

    &:after {
      right: 0;
      width: 10px;
      height: 6px;
      background-image: url(/images/arrow-down.svg);
      margin-top: -3px;
      border: 0;
    }

    .choices__inner {
      padding: 0 21px 0 0;
    }

    .choices__input {
      height: 33px;
      background-color: #FAFAFA;
      padding: 0 50px 0 20px;
      border-bottom: 0;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      font-size: 16px;
      font-family: var(--museo);
      color: #898989;
    }
  }

  .choices__inner {
    min-height: auto;
    background-color: transparent;
    padding: 0;
    border: 0;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 12px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    font-family: var(--museo);
    color: #333333;
  }

  .choices__list--single {
    padding: 0;
  }

  .choices__list--dropdown {
    right: -35px;
    min-width: 223px;
    margin-top: 30px;
    padding-top: 10px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
    border: 0;
    border-radius: 0;

    &:before {
      content: '';
      position: absolute;
      top: 20px;
      right: 27px;
      width: 14px;
      height: 13px;
      background-image: url(/images/zoom.svg);
      pointer-events: none;
    }

    .choices__item {
      padding: 11px 20px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      font-size: 15px;
      font-family: var(--museo);
      color: #434343;
    }

    .choices__item--selectable.is-highlighted {
      background-color: #F1F5F0;
    }
  }

}

/**

 */
.header__content {
  margin-top: 20px;
}

.header__content-wrap {
  background-color: #fff;
  box-shadow: 0 1px 10px rgba(104, 104, 104, 0.1);
}

.header__middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 49px;
  border-bottom: 1px solid #ededed;
}

.header__middle-item {
  display: flex;
  align-items: center;
}

.header__logo {
  flex-shrink: 0;
  margin-left: 30px;
  margin-right: 43px;
}

.header__logo-link {
  display: block;
}

.header__phone-link {
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 21px;
  letter-spacing: -0.02em;
  font-family: var(--museo);
  color: #A1BF35;
  text-decoration: none;
}

.header__menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 55px;
  padding: 0 60px;

  .header__top-submenu-wrap .list:after{
    content: none;
  }

  > .list__item{
    display: flex;
    align-items: center;
    min-height: 55px;

    &.list__item--parent {

      > .list__link {
        position: relative;

        &:before {
          content: '';
          position: absolute;
          top: 100%;
          left: 50%;
          width: 18px;
          height: 18px;
          background-color: #fff;
          margin-top: 27px;
          margin-left: -9px;
          transform: rotate(45deg);
          box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
          opacity: 0;
          visibility: hidden;
          transition-duration: 0s;
        }

        &:after{
          content: '';
          position: absolute;
          top: 50%;
          right: -25px;
          width: 10px;
          height: 6px;
          background-image: url(/images/arrow-down.svg);
          margin-top: -3px;
          border: 0;
        }
      }

      &:hover {

        .header__top-submenu {
          padding-top: 17px;
          opacity: 1;
          visibility: visible;
        }

        > .list__link:before {
          opacity: 1;
          visibility: visible;
          transition: opacity .6s ease, visibility .6s ease;
        }
      }
    }

    > .list__link {
      color: #333333;
      font-family: var(--museo);
      font-size: 17px;
      font-weight: 500;
      line-height: 1;
      text-decoration: none;
    }
  }
}

/**

 */
.header__search {

  .form-group {
    position: relative;
  }

  .form-control {
    width: 100%;
    height: 48px;
    min-width: 537px;
    background-color: #f2f5f0;
    padding-right: 50px;
    border-left: 1px solid #EDEDED;
    border-right: 1px solid #EDEDED;
    color: #333333;
    font-size: 18px;
    font-weight: 400;

    &::-webkit-input-placeholder {
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 48px;
      font-family: var(--museo);
      color: #333333;
      opacity: 0.7;
    }

    &::-moz-placeholder {
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 48px;
      font-family: var(--museo);
      color: #333333;
      opacity: 0.7;
    }

    &:-moz-placeholder {
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 48px;
      font-family: var(--museo);
      color: #333333;
      opacity: 0.7;
    }

    &:-ms-input-placeholder {
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 48px;
      font-family: var(--museo);
      color: #333333;
      opacity: 0.7;
    }

    &:focus::-webkit-input-placeholder {
      color: transparent;
    }

    &:focus::-moz-placeholder {
      color: transparent;
    }

    &:focus:-moz-placeholder {
      color: transparent;
    }

    &:focus:-ms-input-placeholder {
      color: transparent;
    }
  }

  .button-wrap {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0;
  }

  .button {
    display: block;
    width: 48px;
    height: 48px;
    min-height: auto;
    background-image: url(/images/zoom-big.svg);
    background-color: transparent;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    padding: 0;
    border-radius: 0;

    &:hover {
      box-shadow: none;
    }
  }
}

/**

 */
.header__client {
  display: flex;
  margin: 0 32px;
}

.header__client-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  margin-right: 32px;
  border-radius: 2px;
  transition: var(--trbg);

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    background-color: #E1F0D9;
  }
}

.header__cart {
  position: relative;
}

.header__cart-count {
  position: absolute;
  top: 1px;
  right: -4px;
  display: flex;
  align-items: center;
  height: 12px;
  background-color: #A1BF35;
  padding: 0 5px;
  border-radius: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 9px;
  line-height: 1;
  text-align: center;
  font-family: var(--opens);
  color: #FFFFFF;
}


































