header.header.js-header
  .header__top
    .container
      .header__top-wrap
        include ./pug/header-topmenu
        .header__top-city: include ../../pages/common/header-select-common
  .header__content
    include ./pug/mobile-menu
    .container
      .header__content-wrap
        .header__middle
          include ./pug/header-middle
          .header__middle-item
            include ./pug/header-search
            include ./pug/header-client
        include ./pug/header-menu