mixin gallery(item)
  .gallery.js-gallery
    .swiper-container
      .swiper-button-prev
      .swiper-button-next
      .swiper-wrapper
        .swiper-slide
          a(href="javascript:void(0);" data-popupname="photo" class= isDesktop ? 'gallery-pic js-contentSwiper-slide js-popup-open' : 'gallery-pic js-contentSwiper-slide')
            img(src="/images/temp/project-inner-slider-pic2.jpg").gallery-img
            if galleryCopyright
              span.gallery-copyright Все права на изображение принадлежат правообладателю «Белый свет»
        .swiper-slide
          a(href="javascript:void(0);" data-popupname="photo" class= isDesktop ? 'gallery-pic js-contentSwiper-slide js-popup-open' : 'gallery-pic js-contentSwiper-slide')
            img(src="/images/temp/project-inner-slider-pic3.jpg").gallery-img
            if galleryCopyright
              span.gallery-copyright Все права на изображение принадлежат правообладателю «Белый свет»
        .swiper-slide
          a(href="javascript:void(0);" data-popupname="photo" class= isDesktop ? 'gallery-pic js-contentSwiper-slide js-popup-open' : 'gallery-pic js-contentSwiper-slide')
            img(src="/images/temp/project-inner-slider-pic4.jpg").gallery-img
            if galleryCopyright
              span.gallery-copyright Все права на изображение принадлежат правообладателю «Белый свет»
        .swiper-slide
          a(href="javascript:void(0);" data-popupname="photo" class= isDesktop ? 'gallery-pic js-contentSwiper-slide js-popup-open' : 'gallery-pic js-contentSwiper-slide')
            img(src="/images/temp/project-inner-slider-pic5.jpg").gallery-img
            if galleryCopyright
              span.gallery-copyright Все права на изображение принадлежат правообладателю «Белый свет»
  if galleryCounter
    .gallery-counter.js-gallery-counter
      .gallery-counter-nums
        .swiper-pagination
        //-span.gallery-counter-change 1
        //-| /
        //-span.gallery-counter-length 12
      .gallery-counter-text Подпись к фото.
  .thumbs.js-thumbs
    .swiper-container
      //-.swiper-button-prev
      //-.swiper-button-next
      .swiper-wrapper
        .swiper-slide: img(src="/images/temp/project-inner-slider-pic2.jpg").gallery-img
        .swiper-slide: img(src="/images/temp/project-inner-slider-pic3.jpg").gallery-img
        .swiper-slide: img(src="/images/temp/project-inner-slider-pic4.jpg").gallery-img
        .swiper-slide: img(src="/images/temp/project-inner-slider-pic5.jpg").gallery-img