@import "../../layout/variables.css";

.brands {
  margin-top: 22px;
  padding-top: 39px;
  border-top: 1px solid rgba(196, 196, 196, 0.5);

  .catalog--article {

    .catalog__col {
      position: relative;
      width: 100%;
    }

    .catalog__item {
      position: relative;
      display: flex;
      padding: 32px 35px;
      cursor: pointer;
      text-decoration: none;

      .link {
        margin-top: auto;
      }

      &:hover {
        .link {
          color: var(--hover);
          border-bottom-color: var(--hover);
        }
      }
    }

    .catalog__item-media {
      width: 192px;
      height: 192px;
      border: 1px solid #C2C2C2;
    }

    .pic:after {
      content: none;
    }

    .pic__img {
      object-fit: contain;
    }

    .catalog__item-wrap {
      padding: 0 32px;
    }

    .title {
      margin-bottom: 41px;
      font-size: 24px;
      line-height: 29px;
    }

    .descr {
      font-family: var(--opens);
      font-size: 16px;
      line-height: 26px;
      color: #404040;

      p {
        margin: 6px 0;
      }
    }

    .text {
      width: 317px;
      flex-shrink: 0;
      margin-left: auto;
      padding-left: 30px;
      font-size: 12px;
      line-height: 20px;
      color: #404040;
      border-left: 1px solid rgba(196, 196, 196, 0.5);
    }
  }
}

.brands__warning {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 104px;
  background-color: #fff;
  margin-bottom: 33px;
  padding: 10px 45px 0 109px;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  font-family: var(--opens);
  color: #404040;

  &:before {
    content: '!';
    position: absolute;
    top: 20px;
    left: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    background-color: #DE3831;
    border-radius: 50%;
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 41px;
    letter-spacing: -0.02em;
    font-family: var(--museo);
    color: #FFFFFF;
  }
}

/**
mobile
 */
.mobile {

  .brands__warning {
    display: block;
    padding: 15px 16px 18px;
    font-size: 14px;
    line-height: 22px;

    &:before {
      position: relative;
      top: 0;
      left: 0;
      float: left;
      width: 32px;
      height: 32px;
      margin-top: 4px;
      margin-right: 15px;
      font-size: 21px;
    }
  }

  .brands .catalog--article {
    margin-bottom: 20px;

    .catalog__col {
      margin-bottom: 20px;
    }

    .catalog__item {
      padding: 0;
    }

    .catalog__item-wrap {
      order: 0;
      padding: 0 16px;
    }

    .catalog__item-media {
      display: flex;
      align-items: center;
      width: 100%;
      height: auto;
      border: none;
    }

    .pic {
      flex-shrink: 0;
      width: 108px;
      height: 105px;
      margin-right: 12px;
      border: 1px solid #C2C2C2;
    }

    .title {
      margin-bottom: 0;
      padding-right: 10px;
      font-size: 16px;
      line-height: 19px;
    }

    .descr {
      font-size: 14px;

      p {
        margin: 3px 0;
      }
    }

    .text {
      position: relative;
      width: auto;
      padding: 20px 16px;
      border: 0;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 16px;
        right: 16px;
        height: 1px;
        background-color: var(--bdc);
      }
    }

    .catalog__item-sign {
      transform: none;
      height: 4px;
    }
  }

  .brands {
    margin-top: 20px;
    padding-top: 25px;
  }

  .brands .accordion__header .icon {
    position: absolute;
    top: 50%;
    left: 16px;
    width: 30px;
    height: 30px;
    margin-top: -15px;
  }

  .brands .accordion__header {
    padding-left: 61px;
  }

  .brands .accordion__title {
    font-family: var(--opens);
    font-style: italic;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: #404040;
  }

  .brands .accordion__content-wrap {
    font-family: var(--opens);
    font-style: italic;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: #404040;
  }

  .brands .accordion__item {
    margin-bottom: 25px;
  }
}

/**
mobile
 */
.mobile {

  .brands .catalog--article .descr {
    font-size: 15px;
    font-weight: 700;

    span {
      display: block;
      font-size: 14px;
      font-weight: 400;
    }
  }
}