extends ../layout.pug
include ../../components/userHeaderBlock/userHeaderBlock.pug
include ../../components/fileCard/fileCard.pug
include ../../components/tableFilter/tableFilter.pug
include ../../components/tableItem/tableItem.pug

block content
  .content.content--userObjectsItem
    .container
      - title = ''
      include ../../components/content-header/content-header-lk
      .userObjectsItem__headerBlock
        +userHeaderBlock(
          'Заказ №7',
          [
            { name: 'Дата, время:', value: '01.06.2019, 13:12:30' },
            { name: 'Количество товаров:', value: '23'},
            { type: 'separator', name: '', value: '' },
            { type: 'link', name: 'Название объекта:', value: { title: 'Торговый центр «Дружба»', href: 'javascript:void(0);' }},
          ],
          [
            {
              type: 'edit',
              label: 'Редактировать',
              href: 'javascript:void(0);',
              class: 'js-popup-open',
              dataPopupname: 'edit-object'
            }
          ]
        )
  .content__text-editor.card
    .container
      if isDesktop
        include ../card/pug/card-table
      else
        include ../card/pug/card-item
        include ../card/pug/card-item
        include ../card/pug/card-item
      if isDesktop
        .card-footer
          .card-footer__descr
            .card-footer__title Итого ваш заказ
          .card-footer__wrap
            .card-footer__item 2 345 позиций
            .card-footer__item 11 021 500,00 рублей
        .card-buttons
          .card-buttons__clear
            a(href="javascript:void(0);").link.link--icon
              .icon.icon--repeat.icon--repeat-primary.icon--repeat-medium
              .link__text Повторить заказ
      else
        .card-footer-mobile
          .card-footer-mobile-title Итого ваш заказ
          .card-footer-mobile-position 2 345 позиций
          .card-footer-mobile-total 11 021 500,00 рублей
          .card-buttons__link
            a(href="javascript:void(0);").link.link--icon
              .icon.icon--close.icon--close-primary.icon--close-medium
              .link__text Повторить заказ