extends ../layout.pug
include ../../components/userHeaderBlock/userHeaderBlock.pug
 include ../../components/file/file.pug
include ../../components/fileCard/fileCard.pug
include ../../components/tableFilter/tableFilter.pug
include ../../components/tableItem/tableItem.pug
include ../../components/order-comment/order-comment.pug
include ../../components/order-messages/order-messages.pug

block content
  .content.content--userObjectsItem.order-history
    .container
      - title = ''
      include ../../components/content-header/content-header-lk
      .userObjectsItem__headerBlock
        +userHeaderBlock(
          'Заказ №7',
          [
            { name: 'Дата, время:', value: '01.06.2019, 13:12:30' },
            { name: 'Количество товаров:', value: '23'},
            { name: 'Сумма:', value: '41 399 ₽'},
            { type: 'warning', name: '', value: '' },
            { type: 'notAttached', name: 'Название объекта:', value: 'Объект не выбран'},
          ],
          [
            {
              type: 'edit',
              label: 'Привязать к объекту',
              href: 'javascript:void(0);',
              class: 'js-popup-open',
              dataPopupname: 'edit-object'
            }
          ]
        )
  .content__text-editor.card
    .container
      include ../card/pug/card-table
      .card-footer
        .card-footer__descr
          .card-footer__title Итого ваш заказ
        .card-footer__wrap
          .card-footer__item 2 345 позиций
          .card-footer__item 11 021 500,00 рублей
      .card-buttons
        .card-buttons__clear
          a(href="javascript:void(0);").link.link--icon
            .icon.icon--repeat.icon--repeat-primary.icon--repeat-medium
            .link__text Повторить заказ
  .contentOrder__item
    .container
      .contentOrder__item-section
        +orderComment(
          'Комментарий к заказу:', 'Тут будет комментарий, оставленный при оформлении заказа, тут будет комментарий, оставленный при оформлении заказа, тут будет комментарий, оставленный при оформлении заказа, тут будет комментарий, оставленный при оформлении заказа, тут будет комментарий, оставленный при оформлении заказа, тут будет комментарий, оставленный при оформлении заказа, тут будет комментарий, оставленный при оформлении заказа, тут будет комментарий, оставленный при оформлении заказа, тут будет комментарий, оставленный при оформлении заказа. Тут будет комментарий.'
        )
  .contentOrder__item
    .container
      .contentOrder__item-section
        .sectionTitle Документы к заказу:
        .usiDocument__wrap
          .usiDocument__group
            .usiDocument__item
              .usiDocument__title!='От компании Белый свет:'
              .usiDocument__files
                each itemFile, index in docsOthersBelysvet
                  +fileCard(
                    'docsOthersBelysvet' + index,
                    itemFile.type,
                    itemFile.fileName,
                    itemFile.href,
                    itemFile.size,
                    itemFile.create,
                    itemFile.replace,
                    itemFile.action
                  )
            .usiDocument__item
              .usiDocument__title!='От дистрибьютора:'
              .usiDocument__files
                each itemFile, index in docsOthersDist
                  +fileCard(
                    'docsOthersDist' + index,
                    itemFile.type,
                    itemFile.fileName,
                    itemFile.href,
                    itemFile.size,
                    itemFile.create,
                    itemFile.replace,
                    itemFile.action
                  )
          .usiDocument__button
            a(href="javascript:void(0);" data-popupname="add-sale-docs").button.buttonFixSize.js-popup-open!='Добавить документ'
  .contentOrder__item.last
    .container
      .contentOrder__item-section
        +orderMessages(
          'Сообщения',
          [
            {
              dateTime: '04.07.2019 в 13:31',
              message: 'Тут будет текст вашего сообщения, которое было оставлено после оформления заказа, тут будет текст вашего сообщения, которое было оставлено после оформления заказа, тут будет текст вашего сообщения, которое было оставлено после оформления заказа, тут будет текст вашего сообщения, которое было оставлено после оформления заказа, тут будет текст вашего сообщения, которое было оставлено после оформления заказа, тут будет текст вашего сообщения, которое было оставлено после оформления заказа, тут будет текст вашего сообщения.'
            },
            {
              dateTime: '07.07.2020 в 17:03',
              message: 'Тут будет текст вашего сообщения, которое было оставлено после оформления заказа, тут будет текст вашего сообщения, которое было оставлено после оформления заказа, тут будет текст вашего сообщения, которое было оставлено после оформления заказа, тут будет текст вашего сообщения, которое было оставлено.'
            },
          ]
        )

  include ../../components/fileCard/icon.pug
  include ../../components/popup/pug/addSaleCompetitionDocs.pug
  include ../../components/popup/pug/addSaleDocs.pug
  include ../../components/popup/pug/deleteFile.pug