.footer {
  margin-top: 40px;
}

.footer__content {
  background-color: #272727;
  padding: 54px 0 0;
}

/**

 */
.footer__menu {

  .list__title {
    margin-bottom: 14px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
  }

  .list__item {
    margin-bottom: 11px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .list__link {
    color: #9c9c9c;
    font-family: var(--opens);
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15;
    text-decoration: none;

    &:hover {
      color: #fff;
      text-decoration: underline;
    }
  }

  &.list--ls-md .list__title {
    margin-bottom: 22px;
  }
}

.footer__menu--offset {
  padding-left: 44px;
}

.footer__menu-top {
  min-height: 225px;
}

.footer__menu-bottom {
  position: relative;
  padding-top: 23px;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    height: 1px;
    background-color: #3C3C3C;
  }
}

.footer__menu-bottom--left:before {
  left: 0;
  right: -12px;
}

.footer__menu-bottom--right:before {
  left: -12px;
  right: 0;
}

.footer__menu-bottom--right:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 1px;
  background-color: #3C3C3C;
}

.footer__menu-mapsite {
  font-family: var(--opens);
  font-size: 13px !important;
  color: rgba(255, 255, 255, 0.6) !important;
}
/**

 */
.footer__bottom {
  display: flex;
  background-color: #fff;
}

.footer__bottom-wrap {
  padding: 27px 0 0;
}

.footer__bottom-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 17px;

}

.footer__bottom-bottom {
  display: flex;
  align-items: center;
  margin-top: 22px;
  padding: 26px 0;
  border-top: var(--border);
}

.footer__bottom-phone {
  font-weight: 600;
  font-size: 34px;
  line-height: 41px;
  color: #333333;
  font-style: normal;
  font-family: var(--museo);
  text-decoration: none;
}

.footer__bottom-links {
  display: flex;

  .link {
    margin-right: 30px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: normal;
    font-family: var(--opens);
    color: #333333;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.footer__bottom-copyright {
  margin-right: 112px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: normal;
  font-family: var(--opens);
  color: #999999;
}

.footer__bottom-dev {
  margin-left: auto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: normal;
  font-family: var(--opens);
  color: #404040;
  text-decoration: none;

  &:hover {

    span {
      text-decoration: underline;
    }
  }

  span {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: normal;
    font-family: var(--opens);
    color: #8CA826;
  }
}

/**

 */
.footer__menu-double {
  display: flex;
  align-items: flex-start;

  .footer__menu {
    width: 50%;
  }
}

.footer__menu-triple {
  display: flex;
  align-items: flex-start;

  & .footer__menu {
    width: 33.333333%;
  }
}

/**

 */
.footer__contacts {
  font-family: var(--opens);
  color: #404040;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;

  .list__item {
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .list__title {
    display: inline-block;
    vertical-align: baseline;
    font-weight: 700;
  }
}

/**

 */
.footer__icons {

  .list__title {
    color: #ffffff;
    font-family: var(--museo);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.19;
  }

  .list__wrap {
    display: flex;
    align-items: flex-start;
  }

  .list__item {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  .list__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 2px;
    background-color: #C2C2C2;
    transition: var(--trbg);

    &:hover {
      background-color: rgba(255, 255, 255, 0.3);;
    }
  }
}

/**

 */
.footer__docs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
  padding: 20px 0;
  
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: -24px;
    height: 1px;
    background-color: #3C3C3C;
  }

  /*border-top: 1px solid rgba(255, 255, 255, 0.1);*/

  .list__item {
    margin-right: 40px;
    margin-bottom: 19px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .list__link {
    position: relative;
    display: block;
    color: #9c9c9c;
    font-family: var(--opens);
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 1.8px;
    line-height: 1.2;
    text-decoration: none;
    text-transform: uppercase;

    &:hover .list__text {
      color: #fff;
      text-decoration: underline;
    }
  }

  .list__icon {
    position: absolute;
    top: 0;
    left: 0;
  }

  .list__text {
    display: inline-block;
    vertical-align: baseline;
    margin-left: 37px;
  }
}

/**

 */
.footer__form {
  position: relative;
  margin-top: -23px;
  padding: 23px 44px 43px;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 1px;
    background-color: #3C3C3C;
  }

  .form-control {
    height: 32px;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    font-family: var(--opens);
    color: rgba(255, 255, 255, 0.4);
    font-weight: 300;
    font-size: 13px;
  }

  textarea.form-control {
    height: 142px;
  }

  .form-group--half {

    .form-element {
      width: 48%;
    }
  }

  .label--checkbox .label__link {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .button-wrap {
    margin-left: 0;
    margin-right: 27px;
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 114px;
    height: 39px;
  }

  .label__text {
    font-family: var(--opens);
    font-weight: 300;
    font-size: 11px;
    line-height: 17px;
    color: #8A8A8A;
  }

  .label__link {
    font-family: var(--opens);
    font-weight: 300;
    font-size: 11px;
    line-height: 17px;
    color: #76B325;
  }
}

.form__title {
  margin-bottom: 20px;
  color: #ffffff;
  font-family: var(--opens);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
}

.form__bottom {
  display: flex;
  align-items: center;

  .button-wrap {
    margin-right: 27px;
  }
}

/**
media
 */
.mobile {

  .col-sm-4,
  .col-sm-6,
  .col-sm-8 {
    padding: 0 16px;
  }

  .form__bottom {
    flex-wrap: wrap;
  }

  .footer__bottom-wrap {
    flex-wrap: wrap;
  }

  .footer__main-menu {
    margin-bottom: 15px;
  }

  .footer__main-menu-item {
    width: 50%;


  }

  .footer__menu-double {
    flex-direction: column;

    .footer__menu {
      width: 100%;
      margin-bottom: 15px;
    }
  }

  .footer__menu {

    .list__item {
      margin-bottom: 10px;
    }

    .list__link {
      font-size: 12px;
    }

    .list__title {
      font-size: 15px;
    }
  }

  .footer__icons{
    display: none;

    .list__title {
      font-size: 15px;
    }
  }

  .form__title {
    font-size: 12px;
  }

  .footer__form {
    padding: 23px 17px;

    .form-control{
      /** placeholder */

      &::-webkit-input-placeholder {
        font-size: 12px;
      }

      &::-moz-placeholder {
        font-size: 12px;
      }

      &:-moz-placeholder {
        font-size: 12px;
      }

      &:-ms-input-placeholder {
        font-size: 12px;
      }
    }

    .label--checkbox .label__text{
      font-size: 10px;
    }

    .label--checkbox .label__link{
      font-size: 10px;
    }
  }

  .form__bottom{

    .button-wrap{
      order: 1;
      margin-top: 10px;
    }
  }

  .footer__bottom-wrap{
    flex-direction: column;
    align-items: flex-start;
    padding: 14px 0;
  }

  .footer__bottom-links{
    flex-direction: column;
    margin: 22px 0 30px;

    .link{
      margin-bottom: 12px;

      &:last-child{
        margin-bottom: 0;
      }
    }
  }

  .footer__bottom-copyright{
    margin: 0;
    margin-bottom: 16px;
  }

  .footer__docs {

    &:before {
      right: 0;
    }
  }

  .footer__content {
    padding-top: 30px;
  }

  .footer__menu-bottom {
    padding-top: 5px;

    &:before {
      content: none;
    }
  }

  .footer__menu--offset {
    padding-left: 0;
  }

  .footer__form:before,
  .footer__menu-bottom--right:after {
    content: none;
  }

  .footer__form {
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .form__bottom{

    .form-group {
      margin-left: 0;
    }

    .button-wrap {
      margin-top: 15px;
    }
  }

  .footer__bottom-bottom {
    display: block;
    padding-bottom: 20px;
  }

  .footer__bottom-links {
    margin: 20px 0 25px;
  }

  .footer__bottom-phone {
    font-size: 30px;
  }
}