footer.footer
  .footer__content
    .container: .row
      .col-sm-6: .row
        .col-sm-4
          .footer__menu.list
            .list__title Компания
            .list__wrap
              .list__item: a(href="javascript:void(0);").list__link О компании
              .list__item: a(href="javascript:void(0);").list__link Пресс-центр
              .list__item: a(href="javascript:void(0);").list__link Структура и руководство
              .list__item: a(href="javascript:void(0);").list__link Конроль качества
              .list__item: a(href="javascript:void(0);").list__link Охрана труда и безопасность
              .list__item: a(href="javascript:void(0);").list__link Проекты
              .list__item: a(href="javascript:void(0);").list__link Торговые марки
              .list__item: a(href="javascript:void(0);").list__link Социальная ответственность
              .list__item: a(href="javascript:void(0);").list__link Экология и защита окружающей среды
              .list__item: a(href="javascript:void(0);").list__link Карьера
              .list__item: a(href="javascript:void(0);").list__link Контакты
        .col-sm-8
          .footer__menu-double
            .footer__menu.list
              .list__title Партнерство
              .list__wrap
                .list__item: a(href="javascript:void(0);").list__link Стать дистрибутором
                .list__item: a(href="javascript:void(0);").list__link Проектировщикам
                .list__item: a(href="javascript:void(0);").list__link Монтажникам
                .list__item: a(href="javascript:void(0);").list__link ОЕМ производителям
                .list__item: a(href="javascript:void(0);").list__link Поставщикам
            .footer__menu.list
              .list__title Поддержка
              .list__wrap
                .list__item: a(href="javascript:void(0);").list__link Проектирование
                .list__item: a(href="javascript:void(0);").list__link Монтаж
                .list__item: a(href="javascript:void(0);").list__link Сервисное обслуживание
                .list__item: a(href="javascript:void(0);").list__link Нормативные документы
                .list__item: a(href="javascript:void(0);").list__link Воспрос-ответ
          .footer__icons.list
            .list__title Следите за нами в соцсетях:
            .list__wrap
              .list__item: a(href="javascript:void(0);").list__link: .icon.icon--footer-item1
              .list__item: a(href="javascript:void(0);").list__link: .icon.icon--footer-item2
              .list__item: a(href="javascript:void(0);").list__link: .icon.icon--footer-item3
              .list__item: a(href="javascript:void(0);").list__link: .icon.icon--footer-item4
              .list__item: a(href="javascript:void(0);").list__link: .icon.icon--footer-item5
              .list__item: a(href="javascript:void(0);").list__link: .icon.icon--footer-item6
          .footer__docs.list
            .list__item: a(href="javascript:void(0);").list__link
              .list__icon.icon.icon--box
              .list__text Нормативные документы
            .list__item: a(href="javascript:void(0);").list__link
              .list__icon.icon.icon--box
              .list__text Аналоги и устаревшие модели
            .list__item: a(href="javascript:void(0);").list__link
              .list__icon.icon.icon--download
              .list__text Скачать все каталоги одним архивом
            .list__item: a(href="javascript:void(0);").list__link
              .list__icon.icon.icon--download
              .list__text Скачать прайс-лист
      .col-sm-6
        .footer__menu-triple
          .footer__menu.list
            .list__title Обучение
          .footer__menu.list
            .list__title Где купить?
          .footer__menu.list
            .list__title Карта сайта
        .footer__contacts.list
          .list__item
            .list__text <span class="list__title">Адрес офиса:</span> Россия, 125080, Москва, Факультетский переулок, дом 12 (заезд со стороны ул. Царева)
          .list__item
            .list__text <span class="list__title">Тел./Факс:</span> +7 (495) 785-17-67 (многоканальный)
          .list__item
            .list__text <span class="list__title">E-mail:</span> info@belysvet.ru
        .footer__form: .form: form(action="javascript:void(0);")
          .form__title Cообщение в службу менеджмента качества
          .form-wrap
            .form-group.form-group--half
              .form-element
                input(type="text" placeholder="Имя").form-control
                .error
              .form-element
                input(type="text" placeholder="E-mail / телефон").form-control
                .error
            .form-group
              .form-element
                textarea(placeholder="Ваше сообщение" rows="5").form-control
                .error
            .form__bottom
              .button-wrap
                //button(type="submit").button Отправить
                a(href="javascript:void(0);" data-popupname="info").button.js-popup-open Отправить
              .form-group
                .form-element
                  label.label.label--checkbox
                    input.form-control.js-form-validate__checked(type='checkbox', checked='')
                    .icon.icon--checkbox
                    .label__text
                      | Я соглашаюсь на&nbsp;
                      a(href='javascript:void(0);').label__link обработку моих персональных данных,<br>
                      | отправляя сообщение компании «Белый свет»
                    .error
  .footer__bottom
include ../orders/orders.pug
include ../popup/popup.pug