include ../../components/tag/tag

mixin study-item(item)
  a(href= item.play.href).catalog__item
    .catalog__item-media: .pic
      img(src= item.img).pic__img
      if item.play
        .pic__link
          .icon.icon--inline.icon--play: include ../../images/play.svg
          .pic__link-text смотреть видео
    .catalog__item-box
      .tagline
        .tagline__wrap
          each unit in item.tags
            +tag(unit)
      .title!= item.title
      .date= item.date