mixin compare-item(item)
  .catalog__item.js-catalog__item
    a(href="javascript:void(0);" aria-label="Удалить из сравнения").catalog__compare-close.js-catalog__compare-close.hint.hint--white.hint--left
      .icon.icon--close.icon--close-primary
    if item.img
      .pic: img(src= item.img).pic__img
    if item.advdescr
      .advdescr Автономный авайрийный светильник эвакуационного освещения
    if item.title
      .title BS-ARUNA-81-L1-INEXI2
    if item.subtitle
      .subtitle Артикул: а16581
    .catalog__item-links
      a(href="javascript:void(0);").link.link--more-action Складской
      a(href="javascript:void(0);").link.link--more-action В наличии (3 579)
      .catalog__item-links-wrap
        a(href="javascript:void(0);").link.link--more-action Цена (руб.)
        .price: .price__item: .price__value 4 700,00
    .catalog__item-count
      .props
        .props__item
          .props__name Единица измерения:
          .props__value штуки
      .count.js-count
        .count__item: a(href="javascript:void(0);").count__minus.js-input-number-decr
        .count__item: input(type="number" value="1" max="999").count__input.form-control.js-input-number
        .count__item: a(href="javascript:void(0);").count__plus.js-input-number-incr
    .catalog__item-button
      button.button В корзину
      button.button.button--empty В спецификацию

    //-.catalog__item-footer
      if item.price
        if item.balance
          .balance!= 'Остатки на складах: <span class="balance__digit js-balance__digit">'+ item.balance +'</span> шт'
        .descr!= 'Цена от <span>' + item.price + ' ₽</span>'
      else
        .descr.descr--not
          p АРХИВ
          p Модель снята с производства
  .catalog__compare
    each compare, index in item.compare
      div(class= "catalog__compare-item js-catalog__compare-item catalog__compare-param-" + index)
        .catalog__compare-value= compare.value