extends ../layout.pug

block content
  .content
    .container
      include ../../components/content-header/content-header
      .lights

        .lights__info
          a(href="javascript:void(0);").lights__info-item
            .icon.icon--inline.icon--gear: include ../../images/gear.svg
            .lights__info-item-text Подобрать пульт управления аварийным освещением
          //-a(href="javascript:void(0);" style="opacity:0").lights__info-item
            .icon.icon--inline.icon--blank: include ../../images/blank.svg
            .lights__info-item-text Световые приборы аварийного <br>освещения. Техническое описание
          //-a(href="javascript:void(0);" data-popupname="lights" style="opacity:0").lights__info-item.lights__info-item--empty.js-popup-open
            .icon.icon--inline.icon--info: include ../../images/info.svg
            .lights__info-item-text Справочная информация

        .lights__description.text-editor!= catalogDescr

        include ../common/lights-text-common
        include ../common/promo
        .tech-descr
          p Какой-то промотекст к картинке выше, например про распродажи, лучшие условия, участие в выставке, программы по обучению и т.п. Если нет никаких промоактивностей, то этот блок не выводится.
          p Какой-то промотекст к картинке выше, например про распродажи, лучшие условия, участие в выставке, программы по обучению и т.п. Если нет никаких промоактивностей, то этот блок не выводится.
        include ../common/polygraphy