extends ../layout.pug

block content
  .content
    .container
      include ../../components/content-header/content-header
      .normative
        .normative__about
          p Технологическое развитие рынка светотехники в России приводит к повышенным требованиям со стороны заказчиков к поставляемым продуктам - к характеристикам оборудования, его качеству, срокам разработки и поставки, наличию сертификатов. И аварийного освещения это касается едва ли не в первую очередь, ведь этот вид освещения необходим на любом объекте, независимо от его назначения и размеров. Требования к аварийному освещению значительно более серьезные, нежели к рабочему освещению и регулируются рядом нормативных документов.
          p Эксперты компании «Белый свет» подготовили уникальный аналитический обзор нормативной документации, действующей (в том числе вступившей в действие с 2015 года) на территории Российской Федерации в отношении проектирования и эксплуатации систем аварийного освещения и систем оповещения и управления эвакуацией людей при пожаре.
        .normative__warning Представленные в данном разделе материалы (изображения и текст) являются интеллектуальной собственностью ООО «Белый свет 2000». <br>Любое использование материалов допускается не иначе, как с письменного разрешения их правообладателя - ООО «Белый свет 2000».
        .normative__accordion
          include ../common/normative