.stepsSale {
  margin-top: -45px;
  padding: 0 45px 40px;
  background: #FFF;
  & .tagline__wrap {
    justify-content: space-between;
  }
}
.stepsSale__wrap {
  border-top: 1px solid rgba(196, 196, 196, .5);
  padding: 40px 0;
}
.stepsSale__title {
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 23px;
  font-weight: 700;
}
.dateStartStep,
.dateShipmentStep {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.shipmentDate__title,
.shipmentDate__start,
.shipmentDate__end,
.dateStart__title,
.dateStart__date {
  margin-top: 8px;
  margin-right: 5px;
  font-family: var(--opens);
  font-size: 11px;
  line-height: 15px;
  font-weight: 400;
}
.dateStart__title,
.dateStart__date {
  color: var(--black02);
}
.shipmentDate__start {
  color: var(--gray06);
  text-decoration: line-through;
}
.shipmentDate__end {
  color: var(--red02);
}