@import "../../layout/variables.css";

.career{
  margin-top: 23px;
  padding-top: 23px;
  border-top: 1px solid rgba(196, 196, 196, 0.5);

  .accordion__content{
    padding-right: 360px;
  }
}

.accordion__close{
  margin-right: -324px;
}

.accordion__button{
  position: absolute;
  right: 36px;
  bottom: 76px;

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 288px;
    height: 40px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: normal;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    font-family: var(--opens);
    color: #FFFFFF;
    transition: box-shadow var(--time);

    &:hover{
      color: #FFFFFF;
    }
  }
}
/**

 */
.career-form{
  background-color: #fff;
  margin: 40px 0 -40px;
  padding: 62px 0 48px;

  .form{
    max-width: 816px;
    margin: 36px auto 0;
  }
}

.career-form__descr{
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  font-family: var(--museo);
}

.career-form__title{
  margin: 24px 0 22px;
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 41px;
  text-align: center;
  letter-spacing: -0.02em;
  font-family: var(--museo);
}

.career-form__subtitle{
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  font-family: var(--opens);
  color: #404040;
}