@import "../../layout/variables.css";

.products{
  margin-top: 22px;
  padding-top: 39px;
  border-top: 1px solid rgba(196, 196, 196, 0.5);

  .catalog--main .catalog__col{
    position: relative;
    width: 50%;
  }

  .catalog--main .catalog__item{
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 40px 35px 20px;
    cursor: pointer;
    text-decoration: none;

    .link{
      margin-top: auto;
    }

    &:hover{
      .link{
        color: var(--hover);
        border-bottom-color: var(--hover);
      }
    }
  }
}
/**
media
 */
.mobile {

  .products{

    .catalog--main{

      .catalog__col {
        width: 100%;
      }

      .catalog__item{
        min-height: 188px;
        padding: 18px 120px 20px 16px;
      }
    }
  }
}