extends ../layout.pug

block content
  .content
    .container
      include ../../components/content-header/content-header
      .products
        include ../common/products
        include ../common/polygraphy