.catalog--projects {
  margin-bottom: 64px;
  overflow: hidden;

  .catalog__wrap {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    margin: 0 -15px -24px;
    width: 100%;
  }

  .catalog__col {
    width: 33.333333%;
    margin-bottom: 24px;
    padding: 0 15px;
  }

  .catalog__item {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 211px;

    .button{
      margin-top: auto;
    }

    &:hover {

      .catalog__item-sign {
        transform: translateY(0);
      }
    }
  }

  .swiper-container {
    width: 1240px;
    overflow: visible;

    .catalog__wrap{
      margin: 0;
    }

    .catalog__col{
      width: 100%;
      padding: 0;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    top: 0;
    margin-top: 0;
  }

  .swiper-button-prev {
    right: 39px;
  }

  .swiper-button-next {
    right: 0;
  }

  .catalog__item {
    display: block;
    min-height: 383px;
    background-color: #fff;
    text-decoration: none;
    outline: 0;

    &:hover {

      .link{
        color: var(--hover);
        border-bottom-color: var(--hover);
      }

      .catalog__item-sign {
        height: 4px;
      }
    }
  }

  .pic {
    position: relative;
    height: 238px;
  }

  .pic__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }

  .catalog__item-wrap {
    padding: 25px 20px;
  }

  .title {
    position: relative;
    z-index: 1;
    min-height: 56px;
    margin-top: auto;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #333333;
  }

  .catalog__item-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }

  .descr {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    font-family: var(--opens);
    color: #333333;
    opacity: 0.8;
  }

  .catalog__item-sign {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    height: 5px;
    transform: translateY(5px);
    transition: var(--trf);
  }
}

.catalog--projects-line{

  .catalog__col{
    width: 100%;
  }

  .catalog__item{
    display: flex;
    flex-direction: row;
    min-height: auto;
    height: 200px;
    transition: var(--trsh);

    &:hover{
      box-shadow: 0 5.28155px 12.3236px rgba(0, 0, 0, 0.05);
    }
  }

  .pic{
    width: 300px;
    height: 100%;
    flex-shrink: 0;
  }

  .catalog__item-sign{
    display: none;
  }

  .catalog__item-wrap{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    padding: 65px 45px 30px;
  }

  .catalog__item-box{
    display: block;
    margin-top: auto;
  }

  .title{
    margin-top: 0;
  }

  .descr{
    position: absolute;
    top: 30px;
    left: 45px;
  }
}
/**
media
 */
.mobile {

  .catalog--projects {

    .swiper-container{
      width: 100%;
      margin: 0 16px;
      overflow: hidden;

      .catalog__wrap{
        height: 100%;
      }

      .catalog__col{
        margin-bottom: 0;
      }
    }

    .catalog__wrap{
      flex-wrap: wrap;
    }

    .catalog__col{
      width: 100%;
      margin-bottom: 12px;
    }

    .catalog__item{
      min-height: 280px;
    }

    .catalog__item-wrap{
      padding: 22px 16px;
    }

    .pic{
      height: 144px;
    }

    .title{
      font-size: 18px;
      line-height: 23px;
    }
  }
}