.catalog--main {

  .catalog__title {
    font-size: 38px;
    letter-spacing: -0.03em;
  }

  .catalog__wrap {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    margin: 0 -15px -30px;
    width: 100%;
  }

  .catalog__col {
    width: 25%;
    margin-bottom: 30px;
    padding: 0 15px;
  }

  .catalog__item {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    min-height: 260px;
    height: 100%;
    background-position: 100% 0;
    padding: 145px 37px 23px;
    cursor: pointer;
    text-decoration: none;
    transition: var(--trsh);

    &:hover {
      box-shadow: 0 5.28155px 12.3236px rgba(0, 0, 0, 0.05);

      .link {
        color: var(--hover);
        border-bottom-color: var(--hover);
      }
    }
  }

  .title {
    min-height: 60px;
    margin-bottom: 15px;
    color: #333333;
    font-family: var(--museo);
    font-size: 18px;
    font-weight: 500;
    line-height: 1.17;
  }

  .link{
    margin-top: auto;
  }
}

.catalog__menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  cursor: pointer;
}

.catalog__menu-trigger {
  position: absolute;
  top: 0;
  right: 15px;
  z-index: 1;
  display: flex;
  align-items: center;
  max-width: 120px;
  height: 32px;
  background-color: var(--primary);
  padding: 0 40px 0 7px;
  cursor: pointer;
  transition: var(--trbg);

  .icon {
    position: absolute;
    top: 9px;
    right: 12px;
    margin-top: 0;
  }

  &:hover{
    background-color: var(--hover);
  }
}

.catalog__menu-trigger-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  text-align: right;
  font-family: var(--museo);
  color: #FFFFFF;
}

.catalog__menu-content {
  position: absolute;
  top: 0;
  z-index: 5;
  background-color: #fff;
  padding: 32px 36px;
  box-shadow: 0 26px 41px rgba(0, 0, 0, 0.18);
  cursor: default;

  .catalog__menu-trigger {
    right: 0;
  }

  .pic {
    position: relative;
    width: 66px;
    height: 56px;
    flex-shrink: 0;
    margin-right: 10px;
  }

  .pic__img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .title {
    min-height: auto;
    margin-bottom: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    font-family: var(--museo);
    color: #404040;
    transition: var(--trc);
  }

  &.is-open {

    .catalog__menu-trigger .icon:before {
      transform: rotate(90deg);
    }
  }
}

.catalog__menu-content-title {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: normal;
  font-family: var(--museo);

  br {
    display: none;
  }
}

.catalog__menu-content-item {
  display: flex;
  align-items: center;
  text-decoration: none;

  &:hover {

    .title {
      color: var(--hover);
    }
  }
}

.catalog__menu-content--double {

  .catalog__menu-content-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -15px;
  }

  .catalog__menu-content-item {
    width: 50%;
    padding-right: 20px;
    padding-bottom: 15px;
  }
}

.catalog__menu-content--quadruple {

  .catalog__menu-content-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -15px;
  }

  .catalog__menu-content-item {
    width: 25%;
    padding-right: 20px;
    padding-bottom: 15px;
  }
}

.catalog__menu-content--simple {

  .pic {
    display: none;
  }

  .catalog__menu-content-wrap {
    column-count: 7;
    display: block;
    flex-wrap: wrap;
    margin-bottom: -15px;
  }

  .catalog__menu-content-item {
    width: auto;
    padding-right: 20px;
    padding-bottom: 15px;
  }
}


















