.catalog--main {

  .catalog__title {
    font-size: 38px;
    letter-spacing: -0.03em;
  }

  .catalog__wrap {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    margin: 0 -15px -30px;
    width: 100%;
  }

  .catalog__col {
    width: 25%;
    margin-bottom: 30px;
    padding: 0 15px;
  }

  .catalog__item {
    min-height: 260px;
    background-size: cover;
    padding: 145px 37px 23px;
  }

  .title {
    min-height: 60px;
    margin-bottom: 15px;
    color: #333333;
    font-family: var(--museo);
    font-size: 18px;
    font-weight: 500;
    line-height: 1.17;
  }
}