.catalog--tech {
  margin-bottom: 64px;
  overflow: hidden;

  .catalog__wrap {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    margin: 0 -15px -24px;
    width: 100%;
  }

  .catalog__col {
    width: 50%;
    margin-bottom: 24px;
    padding: 0 15px;
  }

  .catalog__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 240px;
    height: 100%;
    background-position: 100% 100%;
    padding: 30px 45px;
    cursor: pointer;
    text-decoration: none;

    .button{
      margin-top: auto;
    }

    &:hover {

      .catalog__item-sign {
        height: 8px;
      }

      .button{
        box-shadow: 0 6px 20px rgba(97, 174, 59, .3);
      }
    }
  }

  .swiper-container {
    width: 1240px;
    overflow: visible;

    .catalog__wrap{
      margin: 0;
    }

    .catalog__col{
      width: 100%;
      padding: 0;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    top: 0;
    margin-top: 0;
  }

  .swiper-button-prev {
    right: 39px;
  }

  .swiper-button-next {
    right: 0;
  }

  .title {
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: normal;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #333333;
  }

  .descr {
    max-width: 300px;
    margin: 12px 0 5px;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 26px;
    letter-spacing: -0.02em;
    color: #333333;
  }

  .note {
    max-width: 240px;
    margin: 5px 0 15px;
    color: #404040;
    font-size: 12px;
    line-height: 20px;
  }

  .catalog__item-sign {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 4px;
    transition: height var(--time);
  }
}
/**

 */
.catalog--tech-main {

  .catalog__wrap {
    height: 100%;
  }
}
/**
media
 */
.mobile {

  .catalog--tech{
    overflow: visible;

    .swiper-container{
      width: 100%;
      margin: 0 16px;
      overflow: hidden;

      .catalog__wrap{
        height: 100%;
      }

      .catalog__col{
        margin-bottom: 0;
      }
    }

    .catalog__col{
      width: 100%;
      margin-bottom: 20px;
    }

    .catalog__item{
      height: 100%;
      padding: 20px 12px;
    }

    .catalog__title{
      padding-right: 100px;
    }

    .swiper-button-prev,
    .swiper-button-next {
      top: -3px;
      margin-top: 0;
    }

    .swiper-button-prev {
      right: 36px;
    }

    .swiper-button-next {
      right: 0;
    }

    .title{
      font-size: 12px;
      line-height: 14px;
    }

    .descr{
      padding-right: 100px;
      font-size: 15px;
      line-height: 19px;
    }
  }

  .catalog--tech-main {
    padding: 20px 0;
  }

  .catalog__item .button {
    margin-left: auto;
    margin-right: auto;
  }
}