.catalog--article {
  margin-bottom: 28px;

  .catalog__wrap {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    margin: 0 -15px -40px;
    width: 100%;
  }

  .catalog__col {
    width: 50%;
    margin-bottom: 40px;
    padding: 0 15px;
  }

  .catalog__item {
    position: relative;
    overflow: hidden;
    display: flex;
    min-height: 211px;
    cursor: pointer;
    text-decoration: none;
    transition: var(--trsh);

    &:hover{
      box-shadow: 0px 5.28155px 12.3236px rgba(0, 0, 0, 0.05);

      .link{
        color: var(--hover);
        border-bottom-color: var(--hover);
      }

      .catalog__item-sign {
        transform: translateY(0);
      }
    }
  }

  .catalog__item--no-media {

    .catalog__item-wrap {
      width: 100%;
    }
  }

  .catalog__item-wrap {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 51%;
    padding: 30px 40px;
  }

  .catalog__item-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
  }

  .swiper-container {
    width: 100%;
    padding-bottom: 72px;
  }

  .swiper-slide {
    display: flex;
  }

  .swiper-button-prev,
  .swiper-button-next {
    top: 0;
    margin-top: 0;
  }

  .swiper-button-prev {
    right: 39px;
  }

  .swiper-button-next {
    right: 0;
  }

  .swiper-pagination-bullet {
    width: 50px;
    height: 2px;
    border: 0;
    border-radius: 0;
    background-color: #dcdcdc;
  }

  .swiper-pagination-bullet-active {
    background-color: #61AE3B;
  }

  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 10px;
    outline: 0;
  }

  .title {
    color: #444444;
    font-family: var(--museo);
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.02em;
  }

  .descr {
    margin: 7px 0 18px;
    font-family: var(--opens);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #333333;
  }

  .date {
    font-family: var(--opens);
    color: #404040;
    font-size: 12px;
    line-height: 18px;
  }

  .pic {
    position: relative;
    height: 100%;

    &:after{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    }
  }

  .pic__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .pic__link {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    display: block;
    width: 112px;
    height: 106px;
    margin: -56px 0 0 -53px;
    text-align: center;
    text-decoration: none;
  }

  .pic__link-text {
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: normal;
    text-align: center;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    font-family: var(--opens);
    color: #FFFFFF;
  }

  .catalog__item-media {
    width: 100%;
  }

  .catalog__item-sign {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    height: 5px;
    transform: translateY(5px);
    transition: var(--trf);
  }
}
/**
media
 */
.mobile {

  .catalog--article {
    margin-bottom: 70px;

    .catalog__wrap{
      margin: 0 -16px 0;
    }

    .catalog__col{
      width: 100%;
      padding: 0 16px;
      margin-bottom: 12px;

      &:last-child{
        margin-bottom: 0;
      }
    }

    .catalog__item{
      flex-direction: column;
    }

    .catalog__item-wrap{
      order: 1;
      width: 100%;
      padding: 17px 16px;
    }

    .catalog__item-media{
      order: 0;
      height: 144px;
    }

    .catalog__title{
      padding-bottom: 20px;
      font-size: 24px;
    }

    .title{
      font-size: 15px;
      line-height: 19px;
      font-weight: 600;
    }

    .descr{
      margin-top: 10px;
    }

    .pic__link{
      height: 72px;
      margin: -36px 0 0 -53px;
    }

    .pic__link-text{
      margin-top: 10px;
      line-height: 1;
    }
  }

  .catalog--article-main {
    margin-bottom: 45px;

    .swiper-container {
      padding-bottom: 0;
    }

    .swiper-pagination,
    .date {
      display: none;
    }

    .swiper-button-prev {
      right: 36px;
    }

    .catalog__title {
      margin-bottom: 13px;
    }
  }
}