mixin aruna-item(item)
  .catalog__item
    .part
      .part__wrap
        if item.parts
          each part in item.parts
            div(aria-label=part.label).part__item.hint.hint--white.hint--right
              img(src='/images/thumbs/thumb.jpg' data-src= part.icon).part__pic.lazyload

      a(href="javascript:void(0);").part__title проекты
      .part__button: a(href="javascript:void(0);").button Подробнее
    if item.subtitle
      .subtitle!= item.subtitle
    if item.title
      .title!= item.title
    .pic: img(src= item.img).pic__img
    .descr= 'от ' + item.price + ' ₽'
    if item.link
      a(href= item.link.href).link= item.link.title