include ../../components/tag/tag

mixin news(item)
  a(href= item.link.href).catalog__item
    +tag(item.tag)
    .title= item.title
    .descr= item.description
    .catalog__item-box
      .link= item.link.title
      .date= item.date