meta(charset="utf-8")
meta(name="viewport" content="width=device-width")
link(rel="shortcut icon" href="images/favicon.png" type="image/x-icon")


//- Просим IE оформлять все в классическом стиле без учета текущей темы операционки
meta(name="msthemecompatible" content="no")

//- Mobile Internet Explorer позволяет принудительно активировать технологию ClearType для сглаживания шрифтов
meta(name="cleartype" content="on")

//- Просим IE переключиться в последний режим
meta(http-equiv="X-UA-Compatible" content="IE=edge")

//- Запрещаем распознавать номера телефонов и адреса, а также выделять их
meta(name="format-detection" content="telephone=no")
meta(name="format-detection" content="address=no")

//- Skype на стороне клиента
meta(name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")

//- Google не переводи
meta(name="google" content="notranslate")

//- Этот мета-тег необходим для того, чтобы приложение открылось в полноэкранном режиме
meta(name="apple-mobile-web-app-capable" content="yes")

//- Ну и корректируем верхнюю полоску в iPhone
meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
meta(name="apple-mobile-web-app-status-bar-style" content="#F9F9F9")

//- Ну и Windows 8 берет пример с iPhone. Дополнительная разметка для описания
meta(name="application-name" content="")
meta(name="msapplication-tooltip" content="")

//- Мета-тег определяют пользовательский цвет кнопок Назад и Вперед в окне браузера закрепленного сайта
meta(name="msapplication-navbutton-color" content="#F9F9F9")
meta(name="msapplication-TileColor" content="#ffffff")

//- Мета-тег, удаляющий серое выделение активного блока
meta(name="msapplication-tap-highlight" content="no")

//- Default
meta(name="description" content="")
meta(name="keywords" content="")
meta(name="author" content="")
meta(name="copyright" content="")

//- Meta-теги для Facebook
meta(property="og:title" content="")
meta(property="og:description" content="")
meta(property="og:image" content="")
meta(property="og:site_name" content="")
meta(property="og:url" content="")

//- Meta-теги для Twitter
meta(name="twitter:card" content="summary")
meta(name="twitter:title" content="")
meta(name="twitter:description" content="")
meta(name="twitter:creator" content="")
meta(name="twitter:image:src" content="")
meta(name="twitter:domain" content="")
meta(name="twitter:site" content="")

//- Meta-теги для Google Plus
meta(itemprop="name" content="")
meta(itemprop="description" content="")
meta(itemprop="image" content="")

//script(src="js/browserVer.js" defer)
title= title
