extends ../layout.pug

block content
  .content
    .container
      include ../../components/content-header/content-header
      .study
        .study__title Ближайшие семинары и конференции
        include ../../pages/common/study-seminars-common
        .study__title Видео-обзоры и обучающие видео
        include ../../pages/common/tagline
        include ../../pages/common/study-trainings-common
