extends ../layout.pug

block content
  .content
    .container
      include ../../components/content-header/content-header
      if isDesktop
        .study.js-tabs
          .study__tabs
            a(href="javascript:void(0);").study__tabs-item.js-tabs-header-item.active Обучающие мероприятия
            a(href="javascript:void(0);").study__tabs-item.js-tabs-header-item Видеообзоры
            a(href="javascript:void(0);").study__tabs-item.js-tabs-header-item Статьи
          .study__tabs-content
            include ./pug/seminars
            include ./pug/trainings
            include ./pug/articles
      else
        .study__tabs-content
          include ./pug/seminars
          include ./pug/trainings
          include ./pug/articles