.press-kit
  .press-kit__header
    .title Пресс-кит
  .press-kit__content
    .row
      .press-kit__content-item.col-sm-6
        .press-kit__item
          .press-kit__item-header
            .pic: img(src="/images/press-kit/press-kit-pic1.jpg")
          .press-kit__item-wrap
            .title Логотип «Белый свет»
            .descr Это стандартное и единственно верное изображение логотипа и никаким изменениям по пропорциям и цвету (кроме инверсии и ч/б) не подлежит.
      .press-kit__content-item.col-sm-6
        .press-kit__item
          .press-kit__item-header
            .pic: img(src="/images/press-kit/press-kit-pic2.jpg")
          .press-kit__item-wrap
            .title Размеры отступов
            .descr Чтобы гарантировать узнаваемость и незаграможденность восприятия, всегда старайтесь оставлять свободное пространство (отступы) вокруг логотипа. Определяйте отступы каждого логотипа, измеряя высоту буквы «Е» в начертании. Обратите внимание на то, что свободное пространство изменяется пропорционально измерению логотипа.
      .press-kit__content-item.col-sm-12
        .press-kit__item
          .title Минимальный размер логотипа и варианты использования
          .descr Очень важно, чтобы все составляющие логотипа легко читались в любом своем исполнении. Поэтому логотип должен быть воспроизведен с размерами не меньше 6 мм по вертикали. Никаких максимальных ограничений в размерах нет.
          .press-kit__item-wrap
            .pic: img(src="/images/press-kit/press-kit-pic3.jpg")
            .pic: img(src="/images/press-kit/press-kit-pic4.jpg")
            .pic: img(src="/images/press-kit/press-kit-pic5.jpg")
            .pic: img(src="/images/press-kit/press-kit-pic6.jpg")
