if isDesktop
  .accordion__content-wrap
    table
      thead
        tr
          td(colspan=2) Устаревшая модель
          td(colspan=2) Актуальный аналог
        tr
          td Артикул
          td Наименование
          td Артикул
          td Наименование
      tbody
        tr
          td а15336
          td BS-ARUNA-81-L1-INEXI3-MSS3
          td: a(href="javascript:void(0);") а15336
          td: a(href="javascript:void(0);") BS-ARUNA-81-L1-INEXI3-MSS3
        tr
          td а15336
          td BS-ARUNA-81-L1-INEXI3-MSS3
          td: a(href="javascript:void(0);") а15336
          td: a(href="javascript:void(0);") BS-ARUNA-81-L1-INEXI3-MSS3
        tr
          td а15336
          td BS-ARUNA-81-L1-INEXI3-MSS3
          td: a(href="javascript:void(0);") а15336
          td: a(href="javascript:void(0);") BS-ARUNA-81-L1-INEXI3-MSS3
else
  .accordion__content-wrap
    .emunit__archive-item
      .emunit__archive-part
        .emunit__archive-part-title Устаревшая модель
        .props
          .props__item
            .props__name Артикул
            .props__value a15336
          .props__item
            .props__name Наименование
            .props__value BS-ARUNA-81-L1-INEXI3-MSS3
      .emunit__archive-part
        .emunit__archive-part-title Актуальный аналог
        .props
          .props__item
            .props__name Артикул
            a(href="javascript:void(0);").props__value a15336
          .props__item
            .props__name Наименование
            a(href="javascript:void(0);").props__value BS-ARUNA-81-L1-INEXI3-MSS3
    .emunit__archive-item
      .emunit__archive-part
        .emunit__archive-part-title Устаревшая модель
        .props
          .props__item
            .props__name Артикул
            .props__value a15336
          .props__item
            .props__name Наименование
            .props__value BS-ARUNA-81-L1-INEXI3-MSS3
      .emunit__archive-part
        .emunit__archive-part-title Актуальный аналог
        .props
          .props__item
            .props__name Артикул
            a(href="javascript:void(0);").props__value a15336
          .props__item
            .props__name Наименование
            a(href="javascript:void(0);").props__value BS-ARUNA-81-L1-INEXI3-MSS3
    .emunit__archive-item
      .emunit__archive-part
        .emunit__archive-part-title Устаревшая модель
        .props
          .props__item
            .props__name Артикул
            .props__value a15336
          .props__item
            .props__name Наименование
            .props__value BS-ARUNA-81-L1-INEXI3-MSS3
      .emunit__archive-part
        .emunit__archive-part-title Актуальный аналог
        .props
          .props__item
            .props__name Артикул
            a(href="javascript:void(0);").props__value a15336
          .props__item
            .props__name Наименование
            a(href="javascript:void(0);").props__value BS-ARUNA-81-L1-INEXI3-MSS3

