.emunit__tabs-content-item.emunit__review.text-editor
  .emunit__review-item
    .emunit__review-title Установка
    .emunit__review-descr Устанавливаются в потолок
  .emunit__review-item
    .emunit__review-title Варианты исполнения
    .emunit__review-descr Модель L1, Модель L2, Модель L3
  .emunit__review-item
    .emunit__review-title Варианты исполнения
    .emunit__review-descr Корпус светильника изготовлен из металла, покрытого порошковой краской в двух цветах (белый, cеребро). На панель корпуса выведен светодиодный индикатор определения работоспособности светильника. Контроль и управление аварийным освещением осуществляется с помощью устройства.
  .emunit__review-item
    .emunit__review-title Области использования
    .emunit__review-descr
      ul
        li Гипер- / супермаркеты
        li Медицинские учреждения
        li Офисно-административные объекты
        li Транспортные узлы (вокзалы, аэропорты)
  .emunit__review-item
    .emunit__review-title Оптическая часть
    .emunit__review-descr Поворотный рассеиватель светильника изготовлен из трудногорючего полимера.
  .emunit__review-item
    .emunit__review-title Комплектация
    .emunit__review-descr Поворотный рассеиватель светильника изготовлен из трудногорючего полимера.
  .emunit__review-item
    .emunit__review-title Тип источника света
    .emunit__review-descr LED
  .emunit__review-item
    .emunit__review-title Тип источника света
    .emunit__review-descr
      p 200 шт на европалете, объем 800х1200х1800, вес 150 кг
      p Хранение в сухом помещении с относительной влажности воздуха не более 50%
  .emunit__review-item
    .emunit__review-title Краткая характеристика
    .emunit__review-descr Материал корпуса выполнен из материалла, не поддерживающего горение и соответствует Федеральному закону Российской Федерации от 22.07.2008 №123-ФЗ (Технический регламент о требованиях пожарной безопасности). Контроль и управление аварийным освещением осуществляется с помощью устройства.
  .emunit__review-item
    .emunit__review-title Гарантия
    .emunit__review-descr <strong>36 месяцев</strong> с даты поставки
  .emunit__review-item
    .emunit__review-title Старые наименования и архивные модификации
    .emunit__review-descr
      p Старое наименование 1
      p Еще более стаоре наименование и модификация.
  .emunit__review-item.emunit__review-item--more
    a(href="javascript:void(0);").link.link--back
      .link__text Модельный ряд INEXI
      .link__icon: include ../../../images/arrow-right-small.svg
