.accordion{
  opacity: 0;
  transition: var(--tro);

  .text-editor ul{
    margin-bottom: 25px;
  }
}

.accordion__item {
  background-color: #fff;
  margin-bottom: 16px;
  transition: var(--trsh);

  &:last-child {
    margin-bottom: 0;
  }

  &:hover{
    box-shadow: 0px 5.28155px 12.3236px rgba(0, 0, 0, 0.05);
  }
}

.accordion__header {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 104px;
  padding: 20px 100px 20px 90px;
  text-decoration: none;
  text-align: left;

  &:hover{

    .accordion__toggle{
      color: var(--hover);
    }
  }
}

.accordion__header--simple{
  padding-left: 36px;
}

.accordion__title {
  flex-grow: 1;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: normal;
  color: #333333;

}

.accordion__num {
  position: absolute;
  top: 50%;
  left: 37px;
  margin-top: -12px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  font-family: var(--museo);
  color: #A1BF35;
}

.accordion__toggle {
  position: absolute;
  top: 50%;
  right: 36px;
  width: 28px;
  height: 28px;
  margin-top: -14px;
  color: var(--primary);

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    background-color: currentColor;
    margin-left: -1px;
    transition: var(--trf), var(--trbg);
  }

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    margin-top: -1px;
    transition: var(--trbg);
  }
}

.accordion__content {
  position: relative;
  padding: 0 36px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  font-family: var(--opens);
  color: #404040;
  overflow: hidden;
  transition: height var(--time), padding var(--time);

  p {
    margin-top: 0;
  }

  .link {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    font-family: var(--museo);
  }
}

.accordion__content-wrap{
  position: relative;

  &:before{
    content: '';
    position: absolute;
    top: -26px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: transparent;
  }
}

.accordion__close {
  padding-top: 25px;
  text-align: center;
}

a.accordion__close-text {
  padding-bottom: 6px;
  background-image: linear-gradient(to right, #A1BF35 50%, rgba(255, 255, 255, 0) 50%);
  background-position: left -1px bottom 0;
  background-size: 10px 1px;
  background-repeat: repeat-x;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  color: var(--primary);
  font-family: var(--museo);
  text-decoration: none;
  transition: var(--trc);
  
  &:hover{
    color: var(--hover);
    text-decoration: none;
  }
}

/**

 */
.active {

  .accordion__header:after {
    background-color: rgba(196, 196, 196, 0.5);
  }

  .accordion__toggle:before {
    transform: rotate(90deg);
  }

  .accordion__content {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  .accordion__content-wrap:before{
    background-color: rgba(196, 196, 196, 0.5);
  }
}

/**

 */
.accordion__inner-wrap{
  clear: both;
  padding: 35px 54px 0;
}

.accordion__inner{

  &:last-child{
    border-bottom: 1px solid rgba(196, 196, 196, 0.5);
  }
}

.accordion__inner-header {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 80px;
  padding: 27px 0;
  border-top: 1px solid rgba(196, 196, 196, 0.5);
  text-decoration: none;

  &:hover{

    .accordion__inner-trigger:before,
    .accordion__inner-trigger:after{
      background-color: var(--hover);
    }
  }
}

.accordion__inner-title {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  font-family: var(--museo);
  color: #404040;
}

.accordion__inner-trigger {
  position: absolute;
  top: 50%;
  right: 0;
  width: 20px;
  height: 20px;
  margin-top: -10px;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 20px;
    background-color: #A1BF35;
    margin-left: -1px;
    transition: var(--trf), var(--trbg);
  }

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 20px;
    height: 2px;
    background-color: #A1BF35;
    margin-top: -1px;
    transition: var(--trbg);
  }
}

.accordion__inner-content {
  padding: 0 15px 0;
  overflow: hidden;
  transition: height var(--time), padding var(--time);

  .accordion__close-text {
    background-position: left -3px bottom 0;
    padding-bottom: 4px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-family: var(--opens);
    color: #A1BF35;
  }
}

.active-inner {

  .accordion__inner-trigger:before {
    transform: rotate(90deg);
  }

  .accordion__inner-content {
    border-top: 1px solid rgba(196, 196, 196, 0.5);
    padding: 15px 15px 23px;
  }
}

/**

 */
.accordion__title--career {
  padding-right: 500px;
}

.accordion__career {
  position: absolute;
  top: 50%;
  right: 300px;
  margin-top: -26px;
}

.accordion__career-salary {
  margin-bottom: 2px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #333;
  font-family: var(--museo);
}

.accordion__career-type {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #333;
  font-family: var(--opens);
}
/**
media
 */
.mobile {

  .accordion__item {
    margin-bottom: 12px;
  }

  .accordion__header {
    flex-direction: column;
    align-items: flex-start;
    min-height: 64px;
    padding: 22px 40px;
  }

  .accordion__num {
    top: 24px;
    left: 16px;
    margin-top: 0;
    font-size: 15px;
  }

  .accordion__title{
    font-size: 15px;
    line-height: 19px;
  }

  .accordion__toggle {
    top: 24px;
    right: 16px;
    width: 12px;
    height: 12px;
    margin-top: 0;
  }

  .accordion__content {
    padding: 0 16px;
    font-size: 14px;
    line-height: 22px;
  }

  .active .accordion__content{
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .accordion__content-wrap:before{
    top: -22px;
  }

  a.accordion__close-text{
    font-size: 14px;
    font-weight: 400;
  }

  .accordion__career{
    position: relative;
    top: 0;
    right: 0;
    margin-top: 0;
  }

  .accordion__career-salary{
    margin-bottom: 0;
    font-size: 15px;
    line-height: 19px;
  }

  .accordion__career-type {
    font-size: 12px;
    line-height: 18px;
  }
}
/**

 */
.accordion--aruna {

  .accordion__title {
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
  }

  .accordion__header {
    min-height: 49px;
    padding: 15px 190px 15px 28px;
    
    &:hover {
      
      .accordion__toggle {
        color: #fff;
      }
    }
  }

  .accordion__toggle {
    right: 28px;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    color: #fff;
  }

  .accordion__content {
    padding: 0;
  }




}

































