.accordion__item {
  background-color: #fff;
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }
}

.accordion__item--parent {

  .accordion__header:after {
    content: none;
  }

  .accordion__content {
    padding: 0 90px 0;
  }
}

.accordion__header {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 104px;
  padding: 20px 100px 20px 90px;
  text-decoration: none;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 36px;
    right: 36px;
    height: 1px;
    background-color: transparent;
  }

  &:hover{

    .accordion__toggle:before,
    .accordion__toggle:after{
      background-color: var(--hover);
    }
  }
}

.accordion__title {
  flex-grow: 1;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: normal;
  color: #333333;

}

.accordion__num {
  position: absolute;
  top: 50%;
  left: 37px;
  margin-top: -12px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  font-family: var(--museo);
  color: #A1BF35;
}

.accordion__toggle {
  position: absolute;
  top: 50%;
  right: 36px;
  width: 28px;
  height: 28px;
  margin-top: -14px;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 28px;
    background-color: #A1BF35;
    margin-left: -1px;
    transition: var(--trf), var(--trbg);
  }

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 28px;
    height: 2px;
    background-color: #A1BF35;
    margin-top: -1px;
    transition: var(--trbg);
  }
}

.accordion__content {
  position: relative;
  padding: 0 36px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  font-family: var(--opens);
  color: #404040;
  overflow: hidden;
  transition: height var(--time), padding var(--time);

  p {
    margin-top: 0;
  }

  .link {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    font-family: var(--museo);
  }
}

.accordion__close {
  margin-top: 25px;
  text-align: center;
}

a.accordion__close-text {
  padding-bottom: 6px;
  background-image: linear-gradient(to right, #A1BF35 50%, rgba(255, 255, 255, 0) 50%);
  background-position: left -1px bottom 0;
  background-size: 10px 1px;
  background-repeat: repeat-x;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  color: var(--primary);
  font-family: var(--museo);
  text-decoration: none;
  transition: var(--trc);
  
  &:hover{
    color: var(--hover);
    text-decoration: none;
  }
}

/**

 */
.active {

  .accordion__header:after {
    background-color: rgba(196, 196, 196, 0.5);
  }

  .accordion__toggle:before {
    transform: rotate(90deg);
  }

  .accordion__content {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  &.accordion__item--parent .accordion__content {
    padding-top: 0;
  }
}

/**

 */
.accordion__inner {
  margin-bottom: -1px;
}

.accordion__inner-header {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 80px;
  padding: 27px 0;
  border-top: 1px solid rgba(196, 196, 196, 0.5);
  border-bottom: 1px solid rgba(196, 196, 196, 0.5);
  text-decoration: none;

  &:hover{

    .accordion__inner-trigger:before,
    .accordion__inner-trigger:after{
      background-color: var(--hover);
    }
  }
}

.accordion__inner-title {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  font-family: var(--museo);
  color: #404040;
}

.accordion__inner-trigger {
  position: absolute;
  top: 50%;
  right: 0;
  width: 20px;
  height: 20px;
  margin-top: -10px;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 20px;
    background-color: #A1BF35;
    margin-left: -1px;
    transition: var(--trf), var(--trbg);
  }

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 20px;
    height: 2px;
    background-color: #A1BF35;
    margin-top: -1px;
    transition: var(--trbg);
  }
}

.accordion__inner-content {
  padding: 0 15px 0;
  overflow: hidden;
  transition: height var(--time), padding var(--time);

  .accordion__close-text {
    background-position: left -3px bottom 0;
    padding-bottom: 4px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-family: var(--opens);
    color: #A1BF35;
  }
}

.active-inner {

  .accordion__inner-trigger:before {
    transform: rotate(90deg);
  }

  .accordion__inner-content {
    padding: 15px 15px 23px;
  }
}

/**

 */
.accordion__title--career {
  padding-right: 500px;
}

.accordion__career {
  position: absolute;
  top: 50%;
  right: 300px;
  margin-top: -26px;
}

.accordion__career-salary {
  margin-bottom: 2px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #333;
  font-family: var(--museo);
}

.accordion__career-type {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #333;
  font-family: var(--opens);
}


































