.event
  .container
    .event__wrap.js-slideToggleWrap
      .title Состоялась обучающая конференция в Москве
      .descr Какой-то завершающий текстовый блог (по желанию), если для него нет контента, например, такого: "В современном обществе возрастает интерес к системам, обеспечивающим безопасность жизнедеятельности человека. Именно поэтому главной целью существования нашей компании, мы считаем содействие повышению степени безопасности среды обитания человека, а методом достижения этой цели – полное удовлетворение потребности рынка в системах аварийного освещения.", то его можно и не использовать.
      .descr.js-slideToggleData Какой-то завершающий текстовый блог (по желанию), если для него нет контента, например, такого: "В современном обществе возрастает интерес к системам, обеспечивающим безопасность жизнедеятельности человека. Именно поэтому главной целью существования нашей компании, мы считаем содействие повышению степени безопасности среды обитания человека, а методом достижения этой цели – полное удовлетворение потребности рынка в системах аварийного освещения.", то его можно и не использовать.
      a(href="javascript:void(0);").event__link.link.link--default.js-slideToggleBtn развернуть