mixin orderMessages(title, messagesArray)
  .orderMessages
    if title
      .orderMessages__title!=title
    each item in messagesArray
      .orderMessages__item
        if item.dateTime
          .orderMessages--date!=item.dateTime
        if item.message
          .orderMessages--text!=item.message
    .form-messages
        .form-label!='Добавить сообщение:'
        textarea(rows="4").form-control
        .button-wrap
          button(type="submit").button.buttonAddMessage!='Отправить'
