table
  thead
    tr
      td(colspan=2) Устаревшая модель
      td(colspan=2) Актуальный аналог
    tr
      td Артикул
      td Наименование
      td Артикул
      td Наименование
  tbody
    tr
      td а15336
      td BS-ARUNA-81-L1-INEXI3-MSS3
      td: a(href="javascript:void(0);") а15336
      td: a(href="javascript:void(0);") BS-ARUNA-81-L1-INEXI3-MSS3
    tr
      td а15336
      td BS-ARUNA-81-L1-INEXI3-MSS3
      td: a(href="javascript:void(0);") а15336
      td: a(href="javascript:void(0);") BS-ARUNA-81-L1-INEXI3-MSS3
    tr
      td а15336
      td BS-ARUNA-81-L1-INEXI3-MSS3
      td: a(href="javascript:void(0);") а15336
      td: a(href="javascript:void(0);") BS-ARUNA-81-L1-INEXI3-MSS3