.emunit__tabs-content-item.emunit__models.js-tabs-content-item
  .emunit__models-filter
    .emunit__models-filter-item
      .emunit__models-filter-title Техническое решение
      include ../../common/project-solution-common
    .emunit__models-filter-item
      .emunit__models-filter-title Тип светого прибора
      include ../../common/project-position-common
  include ./models-signone-models
