extends ../layout.pug

block content
  .content
    .container
      include ../../components/content-header/content-header
      .career
        .career__top
          .career__top-title Вступайте в нашу команду, и вас ждет:
          .list
            .list__item Интересная работа
            .list__item Карьерный рост
            .list__item Стабильность и уверенность в завтрашнем дне
        .career__accordion
          include ../common/career
      .career-form
        .career-form__descr Не нашли открытой вакансии по вашему профилю, но хотите работать у нас?
        .career-form__title Пришлите нам ваше резюме!
        .career-form__subtitle Отсутствие открытой вакансии не означает отсутствие<br> интереса в хорошем специалисте.
        include ./pug/career-form
    .career-footer
      .container
        .career-footer__text ООО «Белый свет 2000» проводит политику в области профессиональной безопасности и охраны труда. Для соответствия безопасных условий труда государственным нормативным требованиям проводится
          a(href="javascript:void(0);").link специальная оценка условий труда.