@import "../../layout/variables.css";

.career{

  .accordion__content{
    padding-right: 360px;
  }

  .accordion__close{
    margin-right: -324px;
  }

  .accordion__content-wrap:before{
    content: none;
  }

  .active .accordion__header:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 36px;
    right: 36px;
    height: 1px;
    background-color: rgba(196, 196, 196, 0.5);
  }
}

.career__top{
  margin-top: 30px;
  margin-bottom: 23px;
  padding-bottom: 22px;
  border-bottom: 1px solid rgba(196, 196, 196, 0.5);

  .list{
    display: flex;
    align-items: center;
  }

  .list__item{
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 35px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    font-family: var(--opens);
    color: #A1BF35;

    &:last-child{
      margin-right: 0;
    }

    &:before{
      content: '';
      margin-right: 6px;
      width: 22px;
      height: 22px;
      background-image: url(/images/checkbox-primary.svg);
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: 14px 10px;
    }
  }
}

.career__top-title{
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  font-family: var(--museo);
}

.accordion__button{
  position: absolute;
  right: 36px;
  bottom: 76px;

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 288px;
    height: 40px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: normal;
    text-align: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    font-family: var(--opens);
    color: #FFFFFF;
    transition: box-shadow var(--time);

    &:hover{
      color: #FFFFFF;
    }
  }
}
/**

 */
.career-form{
  background-color: #fff;
  margin: 40px 0 0;
  padding: 62px 0 48px;

  .form{
    max-width: 816px;
    margin: 36px auto 0;
  }
}

.career-form__descr{
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  font-family: var(--museo);
}

.career-form__title{
  margin: 24px 0 22px;
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 41px;
  text-align: center;
  letter-spacing: -0.02em;
  font-family: var(--museo);
}

.career-form__subtitle{
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  font-family: var(--opens);
  color: #404040;
}

.career-footer{
  padding: 40px 0 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  font-family: var(--opens);
  color: #404040;

  .link{
    display: inline-block;
    margin-left: 5px;
    color: var(--primary);
    text-decoration: none;
    transition: var(--trc);

    &:hover{
      color: var(--hover);
    }
  }
}
/**
media
 */
.mobile {

  .career__accordion {
    margin-left: -16px;
    margin-right: -16px;
  }

  .career__top-title {
    font-size: 15px;
  }

  .career__top .list {
    align-items: flex-start;
    flex-direction: column;
  }

  .career__top .list__item {
    margin-bottom: 8px;
    margin-right: 0;
    font-size: 14px;
    line-height: 22px;

    &:before{
      flex-shrink: 0;
    }

    &:last-child{
      margin-bottom: 0;
    }
  }

  .career {

    .accordion__content {
      padding-right: 0;
    }

    .active .accordion__header:after {
      left: 16px;
      right: 16px;
    }

    .accordion__title--career {
      padding-right: 0;
    }

    .accordion__close{
      margin-right: 0;
    }

    .accordion__button{
      position: relative;
      right: 0;
      bottom: 0;
      padding-left: 16px;
      padding-right: 16px;

      .button {
        width: 100%;
      }
    }
  }

  .career-form{
    padding-top: 22px;
    padding-bottom: 22px;

    .row {
      margin: 0;
    }

    .col-sm-12{
      padding: 0 16px;
    }

    .form--style .form__bottom .form-group {
      margin-left: 0;
    }

    .form--style .form__bottom .form-text {

      &:before,
      &:after{
        content: none;
      }
    }

    .form__bottom .button-wrap{
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }

  .career-form__descr{
    padding: 0 50px;
    font-size: 14px;
    line-height: 18px;
  }

  .career-form__title{
    margin: 13px 0;
    font-size: 24px;
    line-height: 27px;
  }

  .career-form__subtitle{
    padding: 0 30px;
    font-size: 14px;
    line-height: 22px;

    br {
      display: none;
    }
  }

  .career-footer{
    padding-top: 22px;
    font-size: 14px;
    line-height: 22px;

    .link{
      display: inline;
      font-size: 14px;
      line-height: 22px;
    }
  }
}