:root {
  /**
  colors
   */
  --primary: #A1BF35;
  --hover: #61AE3B;
  --border: 1px solid rgba(196, 196, 196, 0.5);
  --bdc: rgba(196, 196, 196, 0.5);
  --red01: #DF4E3B;
  --red02: #DE3831;
  --red03: #FF6B4A;
  --red04: #FCEBEA;
  --red05: #FDF5F4;
  --green01: #EDF3D8;
  --black01: #151515;
  --black02: #5E5E5E;
  --black03: #404040;
  --black04: #333333;
  --black05: #7E7E7E;
  --gray01: #F5F5F5;
  /**
  fonts
   */
  --museo: "Museo Sans", sans-serif;
  --opens: "Open Sans", sans-serif;
  /**
  transition
   */
  --time: .3s ease;
  /**
  transition helpers
   */
  --trc: color var(--time);
  --tro: opacity var(--time);
  --trb: border-color var(--time);
  --trbg: background-color var(--time);
  --trsee: opacity var(--time), visibility var(--time);
  --trsh: box-shadow var(--time);
  --trf: transform var(--time);

  --trsf: fill var(--time);
  --trss: stroke var(--time);
}

/**
media 1920/1440/1024/768/320
*/
@custom-media --to767 (max-width: 767px);
@custom-media --to1023 (max-width: 1023px);
@custom-media --to1170 (max-width: 1170px);
@custom-media --to1440 (max-width: 1439px);
@custom-media --to1920 (max-width: 1919px);
